// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.borde {
  border: 1px solid var(--borde-color-1);
}
.borde-t {
  border-top: 1px solid var(--borde-color-1);
}
.borde-r {
  border-right: 1px solid var(--borde-color-1);
}
.borde-b {
  border-bottom: 1px solid var(--borde-color-1);
}
.borde-l {
  border-left: 1px solid var(--borde-color-1);
}
.borde-x {
  border-right: 1px solid var(--borde-color-1);
  border-left: 1px solid var(--borde-color-1);
}
.borde-y {
  border-top: 1px solid var(--borde-color-1);
  border-bottom: 1px solid var(--borde-color-1);
}
