// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

@each $id, $valor in $bordes {
  .borde-grosor-#{$id} {
    border-width: $valor;
  }
  .borde-t-grosor-#{$id} {
    border-top-width: $valor;
  }
  .borde-r-grosor-#{$id} {
    border-right-width: $valor;
  }
  .borde-b-grosor-#{$id} {
    border-bottom-width: $valor;
  }
  .borde-l-grosor-#{$id} {
    border-left-width: $valor;
  }
  .borde-x-grosor-#{$id} {
    border-right-width: $valor;
    border-left-width: $valor;
  }
  .borde-y-grosor-#{$id} {
    border-top-width: $valor;
    border-bottom-width: $valor;
  }
}
