// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

@each $id, $valor in $bordes {
  .borde-redondeado-#{$id} {
    border-radius: $valor;
  }
  .borde-t-redondeado-#{$id} {
    border-top-left-radius: $valor;
    border-top-right-radius: $valor;
  }
  .borde-b-redondeado-#{$id} {
    border-bottom-left-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  .borde-r-redondeado-#{$id} {
    border-top-left-radius: $valor;
    border-bottom-left-radius: $valor;
  }
  .borde-l-redondeado-#{$id} {
    border-top-right-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  .borde-t-l-redondeado-#{$id} {
    border-top-left-radius: $valor;
  }
  .borde-t-r-redondeado-#{$id} {
    border-top-right-radius: $valor;
  }
  .borde-b-l-redondeado-#{$id} {
    border-bottom-left-radius: $valor;
  }
  .borde-b-r-redondeado-#{$id} {
    border-bottom-right-radius: $valor;
  }
}
