@font-face {
  font-family: sisdai-pictogramas;
  src:local('https://github.com/CentroGeo/sisdai-css/blob/test/actualiza-pictogramas/src/pictograma/fonts/sisdai-pictogramas.eot');
  src:local('https://github.com/CentroGeo/sisdai-css/blob/test/actualiza-pictogramas/src/pictograma/fonts/sisdai-pictogramas.eot?#iefix') format('embedded-opentype'),
    local('https://github.com/CentroGeo/sisdai-css/blob/test/actualiza-pictogramas/src/pictograma/fonts/sisdai-pictogramas.woff') format('woff'),
    local('https://github.com/CentroGeo/sisdai-css/blob/test/actualiza-pictogramas/src/pictograma/fonts/sisdai-pictogramas.ttf') format('truetype'),
    local('https://github.com/CentroGeo/sisdai-css/blob/test/actualiza-pictogramas/src/pictograma/fonts/sisdai-pictogramas.svg#sisdai-pictogramas') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='pictograma-'],
[class*=' pictograma-'] {
  vertical-align: middle;
  display: inline-flex;
  padding: 0.25em;
}

[class^='pictograma-']::before,
[class*=' pictograma-']::before {
  font-family: sisdai-pictogramas, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
