// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.nota {
  font-size: 0.875rem; // 14px
  font-weight: 400;
  line-height: calc(1em * 1.3);
  margin-top: map-get($espaciado, '3');
  margin-bottom: map-get($espaciado, '3');
}

.nota-titulo {
  font-size: 1rem; // 16px
  font-weight: 500;
  line-height: calc(1em * 1.3);
  margin-top: map-get($espaciado, '3');
  margin-bottom: map-get($espaciado, '2');
}

.nota-titulo + .nota {
  margin-top: map-get($espaciado, '2');
}

.nota-contenedor {
  background: var(--fondo-acento);
  padding: map-get($espaciado, '3');
}

.nota-contenedor > .nota-titulo {
  margin-top: 0;
}

.nota-contenedor > .nota {
  margin-bottom: 0;
}