// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

// titulos visualizaciones
[class^="vis-"],
[class*=" vis-"] {
  color: var(--tipografia-color);
  font-family: var(--tipografia-familia, "sans-serif");
  line-height: calc(1em * 1.2);
}
.vis-titulo-proyecto {
  font-size: 1rem;
  line-height: calc(1em * 1.2);
  font-weight: 400;
  margin: 0 0 8px 0;
}
.vis-titulo-leyenda {
  font-size: 1rem; // 16px
  line-height: calc(1em * 1.2);
  font-weight: 600;
  margin: 16px 0 8px 0;

  @include mediaquery(esc) {
    margin: 16px 0 8px 0;
  }
}
.vis-titulo-ejes {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 600;
}
.vis-valores-ejes {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 500;
}
.vis-fecha-actualizacion {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 500;
  margin: 8px 0 8px 0;

  @include mediaquery(esc) {
    margin: 8px 0 16px 0;
  }
}
.vis-instruccional {
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 400;
  margin: 8px 0 16px 0;

  @include mediaquery(esc) {
    margin: 16px 0 16px 0;
    line-height: 1.25em;

  }
}

.vis-titulo-visualizacion {
  margin: 0 0 8px 0;
  font-size: 1.125rem; // 18px
  line-height: calc(1em * 1.2);
  font-weight: 600;
  @include mediaquery(esc) {
    font-size: 1.5rem; // 24px
    line-height: calc(1em * 1.2);
  }
}
.vis-leyenda {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25em;
  @include mediaquery(esc) {
    line-height: 1.25em;
  }
}
.vis-fuente {
  font-size: 0.875rem; // 14px
  color: var(--tipografia-color);
  font-weight: 400;
  line-height: 1.25em;
  margin: 16px 0 16px 0;
}
.vis-nomenclatura {
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 24px;
  .figura-variable {
    width: 18px;
    height: 18px;
    background: #7e8cf5;
    border: 1px solid var(--tipografia-color);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    z-index: 1;
    transform: translateY(2px);
    margin-right: 4px;
    &.disabled {
      background: #dddddd;
      border: 1px solid #aaaaaa;
      cursor: default;
    }
  }
}
