// titulos visualizaciones
[class^="vis-"],
[class*=" vis-"] {
  color: var(--tipografia-color);
  font-family: var(--tipografia-familia, "sans-serif");
  line-height: calc(1em * 1.2);
}
.vis-titulo-proyecto {
  font-size: 1rem;
  line-height: calc(1em * 1.2);
  font-weight: 400;
  margin: 0 0 8px 0;
}
.vis-titulo-leyenda {
  font-size: 1rem; // 16px
  line-height: calc(1em * 1.2);
  font-weight: 600;
  margin: 16px 0 8px 0;

  @include mediaquery(esc) {
    margin: 16px 0 8px 0;
  }
}
.vis-titulo-ejes {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 600;
}
.vis-valores-ejes {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 500;
}
.vis-fecha-actualizacion {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 500;
  margin: 8px 0 8px 0;

  @include mediaquery(esc) {
    margin: 8px 0 16px 0;
  }
}
.vis-instruccional {
  font-size: 1rem;
  line-height: calc(1em * 1.2);
  font-weight: 400;
  margin: 8px 0 16px 0;

  @include mediaquery(esc) {
    margin: 16px 0 16px 0;
  }
}

.vis-titulo-visualizacion {
  margin: 0 0 8px 0;
  font-size: 1.125rem; // 18px
  line-height: calc(1em * 1.2);
  font-weight: 600;
  @include mediaquery(esc) {
    font-size: 1.5rem; // 24px
    line-height: calc(1em * 1.2);
  }
}
.vis-leyenda {
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(1em * 1.3);
  @include mediaquery(esc) {
    line-height: calc(1em * 1.5);
  }
}
.vis-fuente {
  font-size: 0.875rem; // 14px
  font-weight: 400;
  line-height: calc(1em * 1.2);
  margin: 16px 0 16px 0;
}
.vis-nomenclatura {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 24px;
  .figura-variable {
    width: 18px;
    height: 18px;
    background: #7e8cf5;
    border: 1px solid var(--tipografia-color);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    z-index: 1;
    transform: translateY(2px);
    margin-right: 4px;
    &.disabled {
      background: #dddddd;
      border: 1px solid #aaaaaa;
      cursor: default;
    }
  }
}
