<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sisdaicss
RewriteRule ^sisdaicss/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sisdaicss/index.html [L]
</IfModule>