@use "sass:map";

table {
  border-collapse: collapse;
  color: var(--tabla-color);
  text-align: left;

  caption {
    @extend %titulo-elemento;

    margin: map.get($espaciado, '2') 0 0;
    text-align: left;
  }

  th,
  td {
    padding: map.get($espaciado, '2') map.get($espaciado, '3');
  }

  thead {
    font-weight: 600;

    tr {
      border-bottom: 1px solid var(--tabla-borde);
    }
  }

  tbody {
    > :nth-child(odd) {
      background-color: var(--tabla-fila-impar-fondo);
    }

    > :nth-child(even) {
      background-color: var(--tabla-fila-par-fondo);
    }
  }

  tfoot {
    font-weight: 600;

    tr {
      background-color: var(--tabla-fila-pie-fondo);
    }
  }
}
