@use 'sass:map';
@use '../_variables' as variables;
@use '../tipografia/titulo';

.titulo-tabla {
  @extend %titulo-elemento;

  margin: map.get(variables.$espaciado, '2') 0 0;
  text-align: left;
}

.contenedor-tabla {
  max-width: 100%;
  overflow-x: auto;

  table {
    max-width: 100%;
  }
}