// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

/*:root {
    --acciones-informativo: #19439c;
  --acciones-informativo-2: #ecf2ff;
  --acciones-error: #940b1c;
  --acciones-error-2: #fee9ec;
  --acciones-advertencia: #916802;
  --acciones-advertencia-2: #fff7e3;
  --acciones-correcto: #2a6f4d;
  --acciones-correcto-2: #e7fbf1; 
} */

// * {
//   margin: 0;
//   box-sizing: border-box;
//   font-family: "Montserrat", sans-serif;
// }

// .contenedor {
//   width: 90%;
//   max-width: 1200px;
//   overflow: hidden;
//   margin: 0 auto;
//   padding: 40px 0;
// }

.alertas__contenedor {
  display: flex;
  gap: 1.5rem;
}

.alerta {
  width: 300px;
  border: 2px solid;
  border-radius: 1.25rem;
}

.alerta__info {
  padding: 1.5rem;
}

.alerta__encabezado {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 1.5rem;
  .icono-cerrar {
    font-size: 1.5rem;
  }
}

.alerta__info--titulo {
  display: flex;
  gap: 0.5rem;
}

.alerta__titulo {
  line-height: 1.5rem;
  font-weight: 500;
}

.informativa {
  border-color: var(--acciones-informativo);
  background-color: var(--acciones-informativo-2);
  .icono-informacion {
    color: var(--acciones-informativo);
    font-size: 1.5rem;
  }
}

.confirmacion {
  border-color: var(--acciones-correcto);
  background-color: var(--acciones-correcto-2);
  .icono-informacion {
    color: var(--acciones-correcto);
    font-size: 1.5rem;
  }
}

.advertencia {
  border-color: var(--acciones-advertencia);
  background-color: var(--acciones-advertencia-2);
  .icono-informacion {
    color: var(--acciones-advertencia);
    font-size: 1.5rem;
  }
}

.error {
  border-color: var(--acciones-error);
  background-color: var(--acciones-error-2);
  .icono-informacion {
    color: var(--acciones-error);
    font-size: 1.5rem;
  }
}
