@use '../_variables' as variables;

.borde {
  border: 1px solid currentcolor;
}

.borde-t {
  border-top: 1px solid currentcolor;
}

.borde-r {
  border-right: 1px solid currentcolor;
}

.borde-b {
  border-bottom: 1px solid currentcolor;
}

.borde-l {
  border-left: 1px solid currentcolor;
}

.borde-x {
  border-right: 1px solid currentcolor;
  border-left: 1px solid currentcolor;
}

.borde-y {
  border-top: 1px solid currentcolor;
  border-bottom: 1px solid currentcolor;
}


@each $id, $valor in variables.$borde-color {
  .borde-color-#{$id} {
    border-color: $valor;
  }

  .borde-t-color-#{$id} {
    border-top-color: $valor;
  }

  .borde-r-color-#{$id} {
    border-right-color: $valor;
  }

  .borde-b-color-#{$id} {
    border-bottom-color: $valor;
  }

  .borde-l-color-#{$id} {
    border-left-color: $valor;
  }

  .borde-x-color-#{$id} {
    border-right-color: $valor;
    border-left-color: $valor;
  }

  .borde-y-color-#{$id} {
    border-top-color: $valor;
    border-bottom-color: $valor;
  }
}


@each $id, $valor in variables.$borde-grosor {
  .borde-grosor-#{$id} {
    border-width: $valor;
  }

  .borde-t-grosor-#{$id} {
    border-top-width: $valor;
  }

  .borde-r-grosor-#{$id} {
    border-right-width: $valor;
  }

  .borde-b-grosor-#{$id} {
    border-bottom-width: $valor;
  }

  .borde-l-grosor-#{$id} {
    border-left-width: $valor;
  }

  .borde-x-grosor-#{$id} {
    border-right-width: $valor;
    border-left-width: $valor;
  }

  .borde-y-grosor-#{$id} {
    border-top-width: $valor;
    border-bottom-width: $valor;
  }
}


@each $id, $valor in variables.$borde-redondeado {
  .borde-redondeado-#{$id} {
    border-radius: $valor;
  }
  
  .borde-t-redondeado-#{$id} {
    border-top-left-radius: $valor;
    border-top-right-radius: $valor;
  }
  
  .borde-b-redondeado-#{$id} {
    border-bottom-left-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  
  .borde-l-redondeado-#{$id} {
    border-top-left-radius: $valor;
    border-bottom-left-radius: $valor;
  }
  
  .borde-r-redondeado-#{$id} {
    border-top-right-radius: $valor;
    border-bottom-right-radius: $valor;
  }
  
  .borde-t-l-redondeado-#{$id} {
    border-top-left-radius: $valor;
  }
  
  .borde-t-r-redondeado-#{$id} {
    border-top-right-radius: $valor;
  }
  
  .borde-b-l-redondeado-#{$id} {
    border-bottom-left-radius: $valor;
  }
  
  .borde-b-r-redondeado-#{$id} {
    border-bottom-right-radius: $valor;
  }
}
