.contenedor-globo-info-ext {
  width: 322px;
  min-height: 152px;

  padding: 1rem;
}

.contenedor-globo-info {
  min-height: 0;
  padding: 0.5em;
  width: auto;
  max-width: 240px;
}

.contenedor-globo-info-ext,
.contenedor-globo-info {
  background: #1c1c1c;
  color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: map-get($bordes, '4');
  display: block;
  z-index: 9999;
  font-size: 11px;

  .cuerpo-globo-info {
    font-size: 11px;
    font-weight: 400;
  }
}
