// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.contenedor-globo-info-ext {
  width: 322px;
  min-height: 152px;

  // padding: 1rem;
  padding: 16px;

  button.boton-cerrar {
    float: right;
    margin-right: 0;
    
    background: #6692ff;
    border-color: #6692ff;
    color: #102543;

    &:hover {
      background: #80aaff;
      border-color: #80aaff;
      color: #102543;
    }
    &:focus {
      background: #80aaff;
      border-color: #102543;
      box-shadow: 0 0 8px #668bff;
      color: #102543;
      // outline-color: #668bff;
      outline: 1px solid #668bff;
    }
  }
}

.contenedor-globo-info {
  min-height: 0;
  // padding: 0.5em;
  padding: 12px;
  width: auto;
  max-width: 240px;
}

.contenedor-globo-info-ext,
.contenedor-globo-info {
  background: #1c1c1c;
  color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: map-get($bordes, '4');
  display: block;
  z-index: 9999;
  // font-size: 11px;

  .cuerpo-globo-info {
    font-size: 11px;
    // font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;

    a,
    .hipervinculo {
      color: #668bff;
      &:visited {
        color: #cf99ff;
      }
      &:hover {
        color: #8999cc;
      }
      &:focus-visible {
        color: #668bff;
        outline: 2px dashed #668bff;
      }
    }

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}

.contenedor-vis .contenido-vis {
  .contenedor-globo-info-ext,
  .contenedor-globo-info {
    background: #1c1c1ce6;
  }
}
