// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

// tamaño
@each $id, $valor in $tamanio {
  .texto-tamanio-#{$id} {
    font-size: $valor;
    line-height: calc(1em * 1.25);
    @include mediaquery('mov') {
      @if $id == '0' and $id == 'minimo' {
        $valor: 0;
      }
      @if $id != '0' and $id != 'minimo' {
        @if $valor == .5rem {
          $valor: $valor + .125rem;
        }
        $valor: $valor - calc($valor / ($valor * 4));
      }
      font-size: $valor;
      line-height: calc(1em * 1.25);
    }
  }
}
// tamaño responsivo
@each $dispositivo, $x in $breakpoints {
  @include mediaquery($dispositivo) {
    @each $id, $valor in $tamanio {
      .texto-tamanio-#{$id}-#{$dispositivo} {
        font-size: $valor;
        line-height: calc(1em * 1.25);
      }
    }
  }
}

// color 
// .texto-color-base {
//   color: var(--tipografia-color); // TODO: texto primario secundario acento
// }
// .texto-color-1 {
//   color: var(--tipografia-color-1);
// }
// .texto-color-2 {
//   color: var(--tipografia-color-2);
// }
// .texto-color-3 {
//   color: var(--tipografia-color-3);
// }

// alineacion
.texto-centrado {
  text-align: center;
}
.texto-derecha {
  text-align: right;
}
.texto-izquierda {
  text-align: left;
}
.texto-justificado {
  text-align: justify;
}
