@use '../_variables' as variables;
@use '../_mixins' as mix;

.overflow-hidden {
  overflow: hidden;
}

.desbordado-x {
  overflow-x: auto;
}

.desbordado-y {
  overflow-y: auto;
}

.oculto {
  display: none;
}

.no-visible {
  visibility: hidden;
}

@each $dispositivo, $x in variables.$breakpoints {
  @include mix.mediaquery($dispositivo) {
    .oculto-#{$dispositivo} {
      display: none;
    }
    .no-visible-#{$dispositivo} {
      visibility: hidden;
    }
  }
}
