@each $nombre, $color in $color-gobmx {
  .gobmx-fondo-#{$nombre} {
    background-color: $color;
  }
  .gobmx-borde-#{$nombre} {
    border-color: $color;
  }
  .gobmx-texto-#{$nombre} {
    color: $color;
  }
}

@each $nombre, $color in $color-conahcyt {
  .conahcyt-fondo-#{$nombre} {
    background-color: $color;
  }
  .conahcyt-borde-#{$nombre} {
    border-color: $color;
  }
  .conahcyt-texto-#{$nombre} {
    color: $color;
  }
}
.conahcyt-fondo-degradado {
  background-image: var(--color-conahcyt-degradado);
}
