// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

@each $nombre, $color in $color-gobmx {
  .gobmx-fondo-#{$nombre} {
    background-color: $color;
  }
  .gobmx-borde-#{$nombre} {
    border-color: $color;
  }
  .gobmx-texto-#{$nombre} {
    color: $color;
  }
}

@each $nombre, $color in $color-conahcyt {
  .conahcyt-fondo-#{$nombre} {
    background-color: $color;
  }
  .conahcyt-borde-#{$nombre} {
    border-color: $color;
  }
  .conahcyt-texto-#{$nombre} {
    color: $color;
  }
}
.conahcyt-fondo-degradado {
  background-image: var(--color-conahcyt-degradado);
}
