// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

:root {
  // colores conahcyt 2024
  --color-conahcyt-4: #001C4A;
  --color-conahcyt-3: #002663;
  --color-conahcyt-2: #003384;
  --color-conahcyt-1: #13AFF0;
  --color-conahcyt-0: #FFFFFF;
  --color-conahcyt-degradado: linear-gradient(to bottom, #003384, #002663, #001C4A);

  // colores gobierno de mexico 2024
  --color-mx-5: #18302D;
  --color-mx-4: #1F5D50;
  --color-mx-3: #DFC9A1;
  --color-mx-2: #BD9558;
  --color-mx-1: #9E2148;
  --color-mx-0: #FFFFFF;
}
