// perfil eni, se utiliza para Ecosistamas Nacionales Informaticos y sus Capítulos
body[data-perfil='eni'] {
  // colores primarios
  --color-primario-4: #0058cc;
  --color-primario-3: #0068FF;
  --color-primario-2: #6692FF;
  --color-primario-1: #80AAFF;

  // colores secundarios
  --color-secundario-12: #102543;
  --color-secundario-11: #142a48;
  --color-secundario-11-rgb: 20, 42, 72;
  --color-secundario-10: #1B304E;
  --color-secundario-9: #2A3F5D;
  --color-secundario-8: #364A69;
  --color-secundario-7: #5E7392;
  --color-secundario-6: #889DBB;
  --color-secundario-5: #B1C6E4;
  --color-secundario-4: #CCE1FF;
  --color-secundario-3: #DBEAFF;
  --color-secundario-2: #F0F6FF;
  --color-secundario-1: #F8FBFF;
}
