// perfil gema https://gema.conahcyt.mx/
body[data-perfil='gema'] {
  // colores primarios
  --color-primario-4: #993310;
  --color-primario-3: #CC4B14;
  --color-primario-2: #F4A762;
  --color-primario-1: #F2B17C;
  
  // colores secundarios
  --color-secundario-12: #412110;
  --color-secundario-11: #462614;
  --color-secundario-11-rgb: 70, 38, 20;
  --color-secundario-10: #4C2C1B;
  --color-secundario-9: #5B3B2A;
  --color-secundario-8: #674736;
  --color-secundario-7: #90705F;
  --color-secundario-6: #B99988;
  --color-secundario-5: #E2C2B1;
  --color-secundario-4: #FDDDCC;
  --color-secundario-3: #FDE7DB;
  --color-secundario-2: #FFF5F0;
  --color-secundario-1: #FEFAF8;
}
