// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

body[data-predeterminada-clara='true'],
body[data-predeterminada-oscura='true'],
:root {
  // colores primarios
  --color-primario-4: #0058cc;
  --color-primario-3: #0068FF;
  --color-primario-2: #6692FF;
  --color-primario-1: #80AAFF;

  // colores secundarios
  --color-secundario-12: #102543;
  --color-secundario-11: #142a48;
  --color-secundario-11-rgb: 20, 42, 72;
  --color-secundario-10: #1B304E;
  --color-secundario-9: #2A3F5D;
  --color-secundario-8: #364A69;
  --color-secundario-7: #5E7392;
  --color-secundario-6: #889DBB;
  --color-secundario-5: #B1C6E4;
  --color-secundario-4: #CCE1FF;
  --color-secundario-3: #DBEAFF;
  --color-secundario-2: #F0F6FF;
  --color-secundario-1: #F8FBFF;
}
