// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.hipervinculo-gobmx {
  @extend .hipervinculo;
  color: var(--color-gobmx-claro-1);
  font-weight: 400;
  text-decoration: none;
  &:visited {
    color: var(--color-gobmx-claro-1) !important;
  }
  &:hover,
  &:focus {
    color: var(--color-gobmx-claro-2) !important;
  }
}

.hipervinculo-conahcyt {
  @extend .hipervinculo;
  color: var(--color-conahcyt-claro-1);
  font-weight: 400;
  text-decoration: none;
  &:visited {
    color: var(--color-conahcyt-claro-1) !important;
  }
  &:hover {
    color: var(--color-conahcyt-acento) !important;
  }
  &:focus {
    color: var(--color-conahcyt-acento) !important;
  }
}
