@mixin boton-contenedor-primario {
  background-color: var(--boton-primario-fondo);
  box-shadow: inset 0 0 0 1px var(--boton-primario-borde);
  color: var(--boton-primario-color);

  &.deshabilitado,
  &:disabled {
    background-color: var(--boton-primario-deshabilitado-fondo);
    box-shadow: inset 0 0 0 1px var(--boton-primario-deshabilitado-borde),
      3px 3px 4px var(--boton-primario-deshabilitado-sombra); 
    color: var(--boton-primario-deshabilitado-color);
  }

  &:visited {
    color: var(--boton-primario-color);
  }

  &:hover {
    background-color: var(--boton-primario-cursor-fondo); 
    box-shadow: 
      inset 0 0 0 1px var(--boton-primario-cursor-borde),
      3px 3px 4px var(--boton-primario-cursor-sombra);
    color: var(--boton-primario-cursor-color);
  }

  &:focus {
    background-color: var(--boton-primario-enfoque-fondo);
    box-shadow: 
      inset 0 0 0 1px var(--boton-primario-enfoque-borde),
      0 0 0 1px var(--boton-primario-enfoque-contorno),
      0 0 8px var(--boton-primario-enfoque-sombra);
    color: var(--boton-primario-enfoque-color);
  }
}

@mixin boton-sincontenedor-primario {
  background: var(--boton-sin-contenedor-primario-fondo);
  box-shadow: 
    inset 0 0 0 0 var(--boton-sin-contenedor-primario-borde),
    0 0 0 var(--boton-sin-contenedor-primario-sombra);
  color: var(--boton-sin-contenedor-primario-color);

  &.deshabilitado,
  &:disabled {
    background: var(--boton-sin-contenedor-primario-deshabilitado-fondo);
    box-shadow: 
      inset 0 0 0 0 var(--boton-sin-contenedor-primario-deshabilitado-borde),
      0 0 0 var(--boton-sin-contenedor-primario-deshabilitado-sombra);
    color: var(--boton-sin-contenedor-primario-deshabilitado-color);
  }

  &:hover {
    background: var(--boton-sin-contenedor-primario-cursor-fondo);
    box-shadow: 
      inset 0 0 0 0 var(--boton-sin-contenedor-primario-cursor-borde),
      0 0 0 var(--boton-sin-contenedor-primario-cursor-sombra);
    color: var(--boton-sin-contenedor-primario-cursor-color);
  }

  &:focus {
    background: var(--boton-sin-contenedor-primario-enfoque-fondo);
    box-shadow: 
      inset 0 0 0 1px var(--boton-sin-contenedor-primario-enfoque-borde),
      0 0 8px var(--boton-sin-contenedor-primario-enfoque-sombra);
    color: var(--boton-sin-contenedor-primario-enfoque-color);
  }
}

.boton-primario,
.boton-con-contenedor-primario {
  @include boton-contenedor-primario;
}

.boton-secundario,
.boton-con-contenedor-secundario {
  background-color: var(--boton-secundario-fondo);
  box-shadow: inset 0 0 0 1px var(--boton-secundario-borde);
  color: var(--boton-secundario-color);

  &.deshabilitado,
  &:disabled {
    background-color: var(--boton-secundario-deshabilitado-fondo);
    box-shadow: 
      inset 0 0 0 1px var(--boton-secundario-deshabilitado-borde),
      3px 3px 4px var(--boton-secundario-deshabilitado-sombra);
    color: var(--boton-secundario-deshabilitado-color);
  }

  &:visited {
    color: var(--boton-secundario-color);
  }

  &:hover {
    background-color: var(--boton-secundario-cursor-fondo);
    box-shadow: 
      inset 0 0 0 1px var(--boton-secundario-cursor-borde),
      0 0 8px var(--boton-secundario-cursor-sombra);
    color: var(--boton-secundario-cursor-color);
  }

  &:focus {
    background-color: var(--boton-secundario-enfoque-fondo);
    box-shadow: 
      inset 0 0 0 1px var(--boton-secundario-enfoque-borde),
      0 0 8px var(--boton-secundario-enfoque-sombra);
    color: var(--boton-secundario-enfoque-color);
  }
}

.boton-sin-contenedor-primario {
  @include boton-sincontenedor-primario;
}

.boton-sin-contenedor-secundario {
  background: var(--boton-sin-contenedor-secundario-fondo);
  box-shadow: 
    inset 0 0 0 0 var(--boton-sin-contenedor-secundario-borde),
    0 0 0 var(--boton-sin-contenedor-secundario-sombra);
  color: var(--boton-sin-contenedor-secundario-color);

  &.deshabilitado,
  &:disabled {
    background: var(--boton-sin-contenedor-secundario-deshabilitado-fondo);
    box-shadow: 
      inset 0 0 0 0 var(--boton-sin-contenedor-secundario-deshabilitado-borde),
      0 0 0 var(--boton-sin-contenedor-secundario-deshabilitado-sombra);
    color: var(--boton-sin-contenedor-secundario-deshabilitado-color);
  }

  &:hover {
    background: var(--boton-sin-contenedor-secundario-cursor-fondo);
    box-shadow: 
      inset 0 0 0 0 var(--boton-sin-contenedor-secundario-cursor-borde),
      0 0 0 var(--boton-sin-contenedor-secundario-cursor-sombra);
    color: var(--boton-sin-contenedor-secundario-cursor-color);
  }

  &:focus {
    background: var(--boton-sin-contenedor-secundario-enfoque-fondo);
    box-shadow: 
      inset 0 0 0 1px var(--boton-sin-contenedor-secundario-enfoque-borde),
      0 0 8px var(--boton-sin-contenedor-secundario-enfoque-sombra);
    color: var(--boton-sin-contenedor-secundario-enfoque-color);
  }
}
