// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.boton-descarga {
  @extend .boton;
  @extend .boton-primario;
  display: block;
  border-radius: map-get($borde-redondeado, '12');
  padding: map-get($espaciado, '4');
  text-align: left;
  width: 100%;
  
  .titulo {
    display: block;
    font-size: 1rem;
    line-height: calc(1.25rem);
    font-weight: 600;
    margin: 0 0  map-get($espaciado, '1');
  }
  .descripcion {
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    .texto {
      font-size: 1rem;
      line-height: calc(1.25rem);
      font-weight: 400;
      flex: 1;
      margin: 0;
    }
    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'] {
      font-size: 2rem; // 32px
      padding: 0 0 0 map-get($espaciado, '1');
    }
  }
}
