// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.boton,
[class^='boton-'],
[class*=" boton-"] {
  [class^='icono-'],
  [class*=" icono-"] {
    display: inline-flex;
    align-items: center;
    padding-left: map-get($espaciado, '1');
  }
}

.boton-icono {
  @extend .boton-primario;
  font-size: 1.5rem;
  line-height: 0;
  padding: calc(map-get($espaciado, 'minimo'));
  [class^='icono-'],
  [class*=" icono-"] {
    padding-left: 0;
  }

  &.boton-chico {
    font-size: 1rem;
  }
  &.boton-grande {
    font-size: 2rem;
  }
  &.boton-sin-borde{
    @extend .boton-secundario;
    border-color:transparent;
    color:var(--boton-icono-sin-borde-color);
    &:not(:disabled):hover, &:not(:disabled):focus{
      border-color:transparent;
      color:var(--boton-icono-sin-borde-color);

    }
  }
}