@use 'sass:map';
@use '../_variables' as variables;

.boton-chico {
  font-size: 0.875rem;
  padding: map.get(variables.$espaciado, '1');
}

.boton-grande {
  font-size: 1rem;
  padding: map.get(variables.$espaciado, '3');
}
