.contenedor-colapsable {
  position: relative;
  background-color: transparent;
  list-style: none;
  a:focus-visible{
    outline: none;
  }
  .colapsable-boton {
    display: flex;
    flex-wrap: nowrap;
    div.contenedor-encabezado-colapsable {
      text-align: left;
    }
  }
  .nav-boton-submenu {
    padding:0;
    &::after {
      transition: all 0.27s ease;
      transform: rotate(90deg);
    }
  }
  .contenedor-colapsable-contenido {
    opacity: 1;
    position: relative;
    //list-style: none;
    height: 0px;
    border-radius: 0;
    box-shadow: none;
    opacity: 0;
    pointer-events: inherit;
    position: relative;
    width: 100%;
    top: 0;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    ul{  list-style: none;
    }
    li {
      margin: 0;
      a {
        // background: transparent;
        color: var(--menu-lateral-color);
        border-radius: 0;

        box-shadow: none;
        &.router-link-exact-active,
        &:active,
        &:focus {
          background: var(--menu-lateral-accion-fondo-active);
          box-shadow: inset 8px 0 0 var(--menu-lateral-accion-sombra-active);
          color: var(--menu-lateral-accion);
        }
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  .colapsable-boton {
    border: none;
    color: var(--menu-lateral-color);
    font-weight: 500;
    background: transparent;
    
   
  }
  &.activo,
  &:focus,
  &:focus-within,
  &:hover {
    .colapsable-boton {
      color: var(--menu-lateral-color);
      background: transparent;
      box-shadow: none;
    }
  }
  &.activo{
    & > .colapsable-boton:first-of-type  > .nav-boton-submenu{
      &::after {
        transform: rotate(270deg);
      }
    }
    & > .contenedor-colapsable-contenido:first-of-type {
      opacity: 1;
      height: 100%;
      position: relative;
    }
    
    
  }
}
