.navegacion-gobmx {
  background-color: var(--color-gobmx-oscuro-1);
  box-shadow: none;
  .nav-menu-contedor {
    background-color: var(--color-gobmx-oscuro-1);
    box-shadow: 0 8px 8px -4px #0002;
    border-top: 1px solid var(--color-gobmx-claro-1);
  }
  .nav-hipervinculo {
    background: transparent;
    box-shadow: none;
    color: var(--color-gobmx-claro-1);
    &:visited {
      color: var(--color-gobmx-claro-1);
    }
    &:active,
    &:hover,
    &:focus {
      background: transparent;
      box-shadow: none;
      color: var(--color-gobmx-claro-2);
    }
  }
  .nav-boton-menu {
    .nav-icono-menu {
      background: #fff;
      &::after,
      &::before {
        background: #fff;
      }
    }
  }
  .nav-hiperviculo-logo {
    .nav-logo {
      width: 128px;
      height: 38px;
    }
  }
  @include mediaquery('nav') {
    .nav-menu-contedor {
      border-top: none;
    }
  }
}

.navegacion-conahcyt {
  background: var(--navegacion-conahcyt-fondo);
  box-shadow: 0 5px 5px var(--navegacion-conahcyt-sombra);
  .nav-menu-contedor {
    background-color: var(--navegacion-conahcyt-fondo);
  }
  .nav-hipervinculo {
    background: transparent;
    box-shadow: none;
    color: var(--navegacion-conahcyt-color);
    &:visited {
      color: var(--navegacion-conahcyt-color);
    }
    &:hover,
    &:focus {
      background-color: var(--color-conahcyt-claro-0); 
      box-shadow: none;
      color: var(--navegacion-conahcyt-color);
    }
    &:active,
    &.active,
    &.nuxt-link-active,
    &.nuxt-link-exact-active,
    &.router-link-active,
    &.router-link-exact-active {
      background-color: transparent;
      box-shadow: inset 0 -5px 0 var(--navegacion-conahcyt-color);
      color: var(--navegacion-conahcyt-color);
    }
  }
  .nav-hiperviculo-logo {
    .nav-logo {
      width: 130px;
      height: 38px;
    }
  }
  .nav-boton-menu {
    .nav-icono-menu {
      background: var(--navegacion-conahcyt-fondo-icono);
      &::after,
      &::before {
        background: var(--navegacion-conahcyt-fondo-icono);
      }
    }
  }
  .nav-boton-submenu {
    background: transparent;
    box-shadow: none;
    color: var(--navegacion-conahcyt-color);
    &:hover,
    &:focus {
      background-color: var(--color-conahcyt-claro-0);
      box-shadow: none;
      color: var(--navegacion-conahcyt-color);
    }
    &:active,
    &.active,
    &.nuxt-link-active,
    &.nuxt-link-exact-active,
    &.router-link-exact-active {
      background-color: transparent;
      box-shadow: inset 0 -5px 0 var(--color-conahcyt-oscuro-1);
      color: var(--navegacion-conahcyt-color);
    }
  }
  .nav-submenu {
    background-color: var(--navegacion-conahcyt-fondo);
    box-shadow: 0 8px 8px -4px #0012;
  }
}