
.indice-de-contenido {
    .titulo-indice {
      font-size: 18px;
      font-weight: 500;
    }
    .contenedor-indice-de-contenido {
      ul {
        padding-left: 0;
        li {
          list-style: none;
          margin: 0;
        }
      }
    }
    a {
      display: block;
      border-radius: 0;
      padding: map-get($espaciado, '1')
        map-get($contenedores, 'mov', 'margen-interior');
      text-decoration: none;
      background: transparent;
      color: var(--menu-lateral-color);
      font-weight: 400;
      text-decoration: none;
      @media (min-width: map-get($breakpoints, 'esc')) {
        a {
          padding: map-get($espaciado, '1')
            map-get($contenedores, 'esc', 'margen-interior');
        }
      }
      @media (hover: hover) {
        &:hover {
          background: var(--menu-lateral-accion-fondo-hover);
        }
      }
  
      &:active,
      &:focus {
        color: var(--menu-lateral-accion);
        box-shadow: none;
      }
      &.link-activo,
      &.router-link-exact-active {
        background: var(--menu-lateral-accion-fondo-active);
        box-shadow: inset 8px 0 0 var(--menu-lateral-accion-sombra-active);
        color: var(--menu-lateral-accion);
      }
    }
  }