.menu-lateral-contenedor {
    margin: 16px 0 0 0;
    padding: 0;
    position: sticky;
    top: 100px;
    display: flex;
    z-index: 3;
    ul {
      padding-left: 0;
      li {
        list-style: none;
        margin: 0;
      }
    }
    .menu-mov {
      margin-left: map-get($espaciado, '2');

      background: var(--submenu-lateral-fondo-mov);
      border-radius: map-get($espaciado, '2');
        padding: map-get($espaciado, '1') 0;
      transition: all 0.2s ease-in-out;
      z-index: 99;
      position: relative;
      &.abierto {
        border-radius: map-get($espaciado, '2') 0 0 map-get($espaciado, '2');
    }
      .boton-menu.boton-icono {
        :hover {
          background: transparent;
        }
        &:focus {
          box-shadow: 0 0 0 2px var(--hipervinculo-focus-sombra);
        }
        background: transparent;
        border: none;
        box-shadow: none;
        .icono-angulo-doble-derecha, 
          .icono-angulo-doble-izquierda {
          color: var(--menu-lateral-color);
        }
      }
    }
    .menu-colapsable {
      margin-left: -30px;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
      background: var(--submenu-lateral-fondo-colapsable);
      opacity: 0;
      padding-top: map-get($espaciado, '1');
      padding-bottom: map-get($espaciado, '1');
      &.abierto {
        border-radius: 0 map-get($espaciado, '2') map-get($espaciado, '2') 0;
        box-shadow: 4px 4px 8px var(--sombra);
        pointer-events: inherit;
        margin-left: 0;
        opacity: 1;
      }
    }
    .menu-max-height {
      overflow: auto;
      max-height: calc(100vh - 180px);
      width: 70vw;
    }
    a {
      display: block;
      border-radius: 0;
      padding: map-get($espaciado, '1')
        map-get($contenedores, 'mov', 'margen-interior');
      text-decoration: none;
      background: transparent;
      color: var(--menu-lateral-color);
      font-weight: 400;
      text-decoration: none;
      @media (hover: hover) {
        &:hover {
          background: var(--menu-lateral-accion-fondo-hover);
        }
      }
      &.router-link-exact-active {
        background: var(--menu-lateral-accion-fondo-active);
        box-shadow: inset 8px 0 0 var(--menu-lateral-accion-sombra-active);
        color: var(--menu-lateral-accion);
      }
      &:active,
      &:focus,
      &.link-activo {
        background: var(--menu-lateral-accion-fondo-active);
        box-shadow: inset 8px 0 0 var(--menu-lateral-accion-sombra-active);
        color: var(--menu-lateral-accion);
      }
    }
  }
  
  @media (min-width: map-get($breakpoints, 'esc')) {
    .menu-lateral-contenedor {
      background: var(--menu-lateral-fondo);
      margin: 0;
      top: 50px;
      .menu-mov {
        display: none;
      }
      .menu-colapsable,
      .menu-colapsable.abierto {
        background: transparent;
        box-shadow: none;
        width: 100%;
        border-radius: 0;
        pointer-events: inherit;
        margin-left: 0;
        padding-top: map-get($espaciado, '5');
        padding-bottom: map-get($espaciado, '5');
        opacity: 1;
      }
      .menu-max-height {
        overflow: inherit;
        max-height: inherit;
        width: inherit;
      }
      a {
        padding: map-get($espaciado, '1')
          map-get($contenedores, 'esc', 'margen-interior');
      }
    }
  }