@use "sass:map";

details {
  border: 1px solid var(--borde-secundario);
  border-radius: map.get($borde-redondeado, '8');
  padding: map.get($espaciado, '3') map.get($espaciado, '3') 0;
  display: block;

  summary {
    @extend %titulo-elemento;

    cursor: pointer;
    padding: map.get($espaciado, '3'); 
    margin: calc(map.get($espaciado, '3') * -1) calc(map.get($espaciado, '3') * -1) 0; 
  }

  &[open] {
    summary {
      border-bottom: 1px solid var(--borde-secundario);
    }
  }
}