// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

details {
  border-bottom: 1px solid var(--borde-color-3);
  display: block;
  &[open] {
    summary::before {
      transform: rotate(90deg);
      transform-origin: .5em;
    }
  }
  > :ntd-child(2) {
    margin-top: map-get($espaciado, '3');
  }
  > :last-child {
    margin-bottom: map-get($espaciado, '3');
  }
}
summary {
  border: 1px solid transparent;
  border-radius: map-get($borde-redondeado, '4');
  display: flex;
  list-style: none;
  padding: map-get($espaciado, '1') 0;
  cursor: pointer;
  &:hover,
  &:active {
    background-color: var(--detalle-fondo);
  }
  &:focus {
    box-shadow: 0 0 0 1px var(--detalle-focus-sombra), 0 0 8px var(--detalle-focus-sombra);
    background-color: var(--detalle-fondo);
    outline: none;
  }
  &::before {
    display: inline-flex;  
    width: map-get($espaciado, '3');
    font-family: "sisdai-pictogramas";
    content: "\64";
    transition: all 0.27s ease;
  }
}
