// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

[type='checkbox'],
[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  line-height: 1.25em;
  border: 0;
}
[type='checkbox'] + label,
[type='radio'] + label {
  line-height: 1.25em;
  background-color: var(--input-fondo);
  border: 1px solid transparent;
  border-radius: $form-campo-radio;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  margin: 0;
  padding-left: calc(1.25rem + map-get($espaciado, '1') + 4px);
  padding-right: map-get($espaciado, '1');
  padding-top: calc(map-get($espaciado, '1'));
  padding-bottom: calc(map-get($espaciado, '1'));
}
[type='checkbox']:focus + label,
[type='radio']:focus + label {
  background-color: var(--input-hover);
  border-color: var(--input-focus);
  box-shadow: 0 0 8px var(--input-focus);
  outline: none;
  z-index: 1;
}
[type='checkbox']:hover + label,
[type='radio']:hover + label {
  background-color: var(--input-hover);
  border-color: var(--input-borde);
}
[type='checkbox']:hover + label::before,
[type='radio']:hover + label::before {
  border-color: var(--input-borde);
}
[type='checkbox'] + label::before,
[type='radio'] + label::before {
  box-sizing: border-box;
  border: 1px solid var(--input-borde);
  content: '';
  height: 1.125rem;
  width: 1.125rem;
  top: calc(map-get($espaciado, '1'));
  left: calc(map-get($espaciado, '1'));
  padding: calc(map-get($espaciado, 'minimo'));
  background-color: var(--input-fondo);
  position: absolute;
}

// desabilitado
[type='checkbox']:disabled + label,
[type='radio']:disabled + label,
[type='checkbox']:checked:disabled + label,
[type='radio']:checked:disabled + label {
  background-color: var(--input-deshabilitado-fondo);
  border-color: var(--input-deshabilitado-borde);
  color: var(--input-placeholder);
  &:hover {
    background-color: var(--input-deshabilitado-fondo);
    cursor: default;
  }
}
[type='radio']:disabled + label::before,
[type='radio']:checked:disabled + label::before,
[type='checkbox']:disabled + label::before,
[type='checkbox']:checked:disabled + label::before {
  background-color: var(--input-fondo);
  border-color: var(--input-deshabilitado-borde);
}

// checkbox
[type='checkbox'] + label::before {
  border-radius: map-get($bordes, '2');
}
[type='checkbox']:checked + label::before,
[type='radio']:checked + label::before {
  background-color: var(--input-fondo);
}
[type='checkbox']:checked:hover + label::before {
  background-color: var(--input-fondo);
}
[type='checkbox']:checked + label::after {
  font-family: 'sisdai-iconos';
  content: '\6a';
  color: var(--input-color);
  position: absolute;
  left: calc(0.125rem + map-get($espaciado, '1') - 1px);
  top: calc(map-get($espaciado, '1')) - 1;
  font-weight: 800;
  text-align: center;
}
[type='checkbox']:checked:hover + label::after {
  color: var(--input-color);
}
[type='checkbox']:not(:checked).indeterminate + label::after,
[type='checkbox']:indeterminate + label::after {
  font-family: 'sisdai-iconos';
  content: '\2f';
  color: var(--input-color);
  position: absolute;
  left: calc(0.125rem + map-get($espaciado, 'minimo') + 1px);
  top: calc(map-get($espaciado, '1')) - 1;
  font-weight: 800;
  font-size: 1.2rem;
}
[type='checkbox']:checked:disabled + label::after {
  color: var(--input-deshabilitado-borde);
}

// radio
[type='radio'] + label::before {
  border-radius: 50%;
}
[type='radio']:checked + label::before {
  background-color: var(--input-borde);
  box-shadow: inset 0 0 0 0.15rem var(--input-fondo);
}
[type='radio']:checked:disabled + label::before {
  background-color: var(--input-deshabilitado-borde);
}
