@use "sass:map";

[type='checkbox'],
[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  line-height: 1.25em;
  border: 0;
}

// campo contenedor = la cajita que hace el label que encapsula todo
[type='checkbox'] + label,
[type='radio'] + label {
  line-height: 1.25em;
  background-color: var(--campo-contenedor-fondo);
  border: 1px solid var(--campo-contenedor-borde);
  box-shadow: 0 0 0 var(--campo-contenedor-borde);
  border-radius: $form-campo-radio;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: map.get($espaciado, '1') map.get($espaciado, '1') map.get($espaciado, '1') calc(1.25rem + map.get($espaciado, '1') + 4px);
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .3s ease-in-out;
}

[type='checkbox']:disabled + label,
[type='radio']:disabled + label,
[type='checkbox']:checked:disabled + label,
[type='radio']:checked:disabled + label {
  background-color: var(--campo-deshabilitado-fondo);
  border-color: var(--campo-deshabilitado-borde);
  color: var(--campo-deshabilitado-color);
  cursor: default;
}

[type='checkbox']:not(:disabled):hover + label,
[type='radio']:not(:disabled):hover + label {
  background-color: var(--campo-cursor-fondo);
  border-color: var(--campo-cursor-borde);
}

[type='checkbox']:not(:disabled):focus + label,
[type='radio']:not(:disabled):focus + label {
  background-color: var(--campo-enfoque-fondo);
  border-color: var(--campo-enfoque-borde);
  box-shadow: 0 0 8px var(--campo-enfoque-sombra);
  outline: none;
  z-index: 1;
}

// campo control = los elementos after y before que dibujan el checkbox y el radio button
[type='checkbox'] + label::before,
[type='radio'] + label::before {
  background-color: var(--campo-control-fondo);
  border: 1px solid var(--campo-control-borde);
  box-sizing: border-box;
  content: '';
  height: 1.125rem;
  width: 1.125rem;
  top: calc(map.get($espaciado, '1') + 1px);
  left: calc(map.get($espaciado, '1'));
  padding: calc(map.get($espaciado, 'minimo'));
  position: absolute;
}

[type='checkbox'] + label::before {
  border-radius: map.get($borde-redondeado, '2');
}

[type='radio'] + label::before {
  border-radius: 50%;
}

[type='radio']:disabled + label::before,
[type='checkbox']:disabled + label::before,
[type='radio']:checked:disabled + label::before,
[type='checkbox']:checked:disabled + label::before {
  background-color: var(--campo-control-deshabilitado-fondo);
  border-color: var(--campo-control-deshabilitado-borde);
}

[type='checkbox']:checked + label::after {
  font-family: sisdai-pictogramas, sans-serif;
  content: '\6a';
  color: var(--campo-control-seleccionado-color);
  position: absolute;
  left: calc(0.125rem + map.get($espaciado, '1') - 1px);
  top: calc(map.get($espaciado, '1'));
  font-weight: 800;
  text-align: center;
}

[type='checkbox']:not(:checked, :disabled).indeterminate + label::after,
[type='checkbox']:indeterminate:not(:disabled) + label::after {
  font-family: sisdai-pictogramas, sans-serif;
  content: '\2f';
  color: var(--campo-control-seleccionado-color);
  position: absolute;
  left: calc(0.125rem + map.get($espaciado, 'minimo') + 1px);
  top: calc(map.get($espaciado, '1'));
  font-weight: 800;
  font-size: 1.2rem;
}

[type='checkbox']:checked:disabled + label::after,
[type='checkbox']:indeterminate:disabled + label::after,
[type='checkbox']:not(:checked):disabled.indeterminate + label::after {
  color: var(--campo-control-deshabilitado-color);
}

[type='radio']:checked:disabled + label::before {
  background-color: var(--campo-control-deshabilitado-color);
  box-shadow: inset 0 0 0 0.15rem var(--campo-control-deshabilitado-fondo);
}

[type='radio']:not(:disabled):checked + label::before,
[type='radio']:not(:disabled):checked:hover + label::before {
  background-color: var(--campo-control-seleccionado-color);
  box-shadow: inset 0 0 0 0.15rem var(--campo-control-seleccionado-fondo);
}
