@use 'sass:map';
@use '../_variables' as variables;

fieldset {
  border: none;
  padding: 0;
  margin-top: map.get(variables.$espaciado, '3');
  margin-bottom: map.get(variables.$espaciado, '3');
}

.grupo-formulario {
  display: flex;
  gap: map.get(variables.$espaciado, '1');
}

.grupo-formulario-vertical {
  display: grid;
}

.grupo-formulario label > .formulario-obligatoriedad {
  display: none;
  content: "";
}

.formulario-horizontal {
  label {
    margin-right: map.get(variables.$espaciado, 'minimo');
  }

  input:not([type='checkbox'], [type='radio'], [type='range'], [type='button'], [type='submit'], [type='reset']),
  textarea,
  select {
    width: inherit;

    &:not(:last-child) {
      margin-right: map.get(variables.$espaciado, '3');
    }
  }
}

.casillas-anidadas {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }

  label {
    display: flex;
  }

  .casillas-subseleccion {
    list-style: none;
    padding: 0 0 0 calc(1.25rem + 4px);
  }
}