@use "sass:map";

fieldset {
  background-color: var(--campo-fondo);
  border: 1px solid var(--campo-borde);
  border-radius: $form-campo-radio;
  padding: map.get($espaciado, '2');
  margin-top: map.get($espaciado, '3');
  margin-bottom: map.get($espaciado, '3');
}

.formulario-horizontal {
  label {
    margin-right: map.get($espaciado, 'minimo');
  }

  input:not([type='checkbox'], [type='radio'], [type='range'], [type='button'], [type='submit'], [type='reset']),
  textarea,
  select {
    width: inherit;

    &:not(:last-child) {
      margin-right: map.get($espaciado, '3');
    }
  }
}

.casillas-anidadas {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }

  label {
    display: flex;
  }

  .casillas-subseleccion {
    list-style: none;
    padding: 0 0 0 calc(1.25rem + 4px);
  }
}