@use 'sass:map';
@use './base' as campobase;
@use '../_variables' as variables;

input:not([type='checkbox'], [type='radio'], [type='range'], [type='button'], [type='submit'], [type='reset']) {
  @extend %campo-base;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-flex;

  @include campobase.campo-estructura-color;
}

input:not([type='checkbox'], [type='radio'], [type='range'], [type='button'], [type='submit'], [type='reset'], .campo-busqueda-entrada) {
  height: campobase.$form-campo-alto;
  border-radius: campobase.$form-campo-radio;
  padding: calc(map.get(variables.$espaciado, '1') - 1px) map.get(variables.$espaciado, '2');
}
