// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

// variables que comparten los elementos del formulario

label {
  display: inline-flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--label-color);
}
  legend {
    @extend label;
  }

.formulario-obligatoriedad {
  font-weight: 400;
  margin-left: map-get($espaciado, 'minimo');
}

.formulario-ayuda {
  @extend .notas; //  ../tipografia/notas.scss
}

textarea + .formulario-ayuda,
select + .formulario-ayuda,
input + .formulario-ayuda {
  margin-top: map-get($espaciado, 'minimo');
}