@use 'sass:map';
@use '../_variables' as variables;
@use './base' as campobase;

textarea {
  @extend %campo-base;
  
  border-radius: campobase.$form-campo-radio;
  padding: map.get(variables.$espaciado, '2');
  min-height: 120px;
  resize: none;
  display: flex;

  @include campobase.campo-estructura-color;
}
