@use 'sass:map';
@use '../_variables' as variables;

img {
  border-radius: map.get(variables.$borde-redondeado, '8');
  max-width: 100%;
}

figure {
  color: var(--texto-secundario);
  margin: map.get(variables.$espaciado, '3') 0;
  clear: both;
  
  img {
    margin-bottom: map.get(variables.$espaciado, '1');
  }
  
  img:not(:last-of-type) {
    margin-right: map.get(variables.$espaciado, '1');
  }
  
  figcaption {
    margin-top: calc(map.get(variables.$espaciado, '1') * -1);
    font-size: 0.875rem;
    font-weight: 400;
    clear: both;
  }
}
