// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.header-contenedor-alto-fijo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: map-get($espaciado, '1');
    margin-bottom: map-get($espaciado, '1');
    margin-right: map-get($espaciado, '1');
  }
  > button,
  > a {
    font-size: 0.875rem;
    line-height: 1em;
    padding: map-get($espaciado, '1');
    margin-top: map-get($espaciado, '1');
    margin-bottom: map-get($espaciado, '1');
    margin-left: map-get($espaciado, '1');
    text-decoration: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
  }
}
.contenedor-alto-fijo {
  border-top: 1px solid var(--borde-color-2);
  box-sizing: border-box;
  height: 320px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: map-get($espaciado,'2');
  &:hover {
    background-color: var(--tabla-fondo-impar); //TODO: definir el color
  }
  > :first-child {
    margin-top: 0;
  }
}
