.hipervinculo-gobmx {
  @extend .hipervinculo;
  color: var(--color-gobmx-claro-1);
  font-weight: 400;
  text-decoration: none;
  &:visited {
    color: var(--color-gobmx-claro-1);
  }
  &:hover,
  &:focus {
    color: var(--color-gobmx-claro-2);
  }
}

.hipervinculo-conahcyt {
  @extend .hipervinculo;
  color: var(--color-conahcyt-claro-1);
  font-weight: 400;
  text-decoration: none;
  &:visited {
    color: var(--color-conahcyt-claro-1);
  }
  &:hover {
    color: var(--color-conahcyt-acento);
  }
  &:focus {
    color: var(--color-conahcyt-acento);
  }
}
