.tarjeta-hipervinculo-interno{
  position: relative;
  display: flex;
  flex-wrap: wrap;
	width: 100%;
  border-radius: map-get($bordes, '20');
  overflow: hidden;
  height: 100%;
  text-decoration: none;
	.fondo-imagen {
		position: relative;
		width: 100%;
		height: 240px;
		left: 0;
		top: 0;
		object-fit: cover;
		object-position: 50% 50%;
    img,
    figure,
    video,
    picture {
      object-fit: cover;
      object-position: 50%;
      position: absolute;
      width: 100%;
      height: 100%;
    }
	}
  .contenido-abajo{
    width: 100%;
    
    align-items: stretch;
    height: 100%;
    background: var(--tarjetas-internas-fondo);
    padding: 16px;
    color: var(--tarjetas-internas-color);
    transition: all 0.27s ease-in-out;
    p {
      margin: 4px 0 4px 0;
    }
    .parrafo-texto-alto {
      color: var(--tarjetas-internas-color);
    }
  }
  &:focus-visible {
    color: var(--hipervinculo-focus-color);
    outline:none;
    
  }
  &:hover {
    text-decoration: none;
    .contenido-abajo{
      background: var(--tarjetas-interna-fondo-hover);
    }
  }
}