@use 'sass:map';
@use '../_variables' as variables;
@use '../boton/base' as botonbase;
@use '../boton/color' as botoncolor;

.boton-alternar {
  background-color: var(--fondo-acento);
  border-radius: 10rem;
  display: inline-flex;
  padding: map.get(variables.$espaciado, 'minimo');
  gap: map.get(variables.$espaciado, 'minimo');

  [type='radio'] + label {
    @include botonbase.boton-estructura-principal;
    @include botoncolor.boton-contenedor-primario;

    background-color: transparent;
    box-shadow: none;
    color: var(--campo-etiqueta-color);
    border-radius: 10rem;
    font-weight: 600;
    font-size: 0.875rem;
    padding: map.get(variables.$espaciado, '1') map.get(variables.$espaciado, '2');
    margin: 0;
  }

  [type='radio'] + label::after,
  [type='radio'] + label::before {
    display: none;
  }

  [type='radio']:checked + label {
    @include botoncolor.boton-contenedor-primario;
  }

  [type='radio']:disabled + label {
    background-color: var(--boton-primario-deshabilitado-fondo);
    box-shadow: inset 0 0 0 1px var(--boton-primario-deshabilitado-borde),
      3px 3px 4px var(--boton-primario-deshabilitado-sombra); 
    color: var(--boton-primario-deshabilitado-color);
    pointer-events: none;
    cursor: default;
  }
}
