@use "sass:map";

.boton-pictograma {
  @include boton-estructura-principal;

  padding: map.get($espaciado, 'minimo');

  .pictograma,
  [class^='pictograma-'],
  [class*=' pictograma-'] {
    font-size: 1.5rem;
    padding: 0;
  }

  &.boton-chico {
    padding: map.get($espaciado, 'minimo');

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'] {
      font-size: 1rem;
    }
  }
  
  &.boton-grande {
    padding: map.get($espaciado, '1');

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'] {
      font-size: 1.5rem;
    }
  }
}