@use 'sass:map';
@use '../_variables' as variables;

.lista-avatar {
  li {
    padding: map.get(variables.$espaciado, '3') 0;
    align-items: center;
  }

  li > a {
    margin: calc(map.get(variables.$espaciado, '3') * -1) 0;
    padding: map.get(variables.$espaciado, '3') 0;
    align-items: center;
  }

  .lista-avatar-imagen {
    border-radius: map.get(variables.$espaciado, '10');
    height: map.get(variables.$espaciado, '10');
    width: map.get(variables.$espaciado, '10');
    margin: 0 map.get(variables.$espaciado, '3');
    overflow: hidden;

    img,
    svg {
      object-fit: cover;
    }
  }
}
