@use 'sass:map';
@use '../_variables' as variables;

.lista-logotipo {
  li {
    padding: map.get(variables.$espaciado, '3') 0;
    align-items: center;
  }

  li > a {
    margin: calc(map.get(variables.$espaciado, '3') * -1) 0;
    padding: map.get(variables.$espaciado, '3') 0;
    align-items: center;
  }
  
  .lista-logotipo-imagen {
    height: map.get(variables.$espaciado, '10');
    width: map.get(variables.$espaciado, 'maximo');
    margin: 0 map.get(variables.$espaciado, '3');
    overflow: hidden;
    
    img {
      height: map.get(variables.$espaciado, '10');
      width: map.get(variables.$espaciado, 'maximo');
      object-fit: scale-down;
    }
  }
}
