// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.lista-limpia {
  margin: 0;
  padding: 0;
  list-style: none;
  ol, ul {
    padding: 0;
    li {
      margin: 0;
    }
  }
  li {
    margin: 0;
  }
}

.lista-compuesta {
  @extend .lista-limpia;
  li {
    display: flex;
    width: 100%;
  }
  a {
    display: flex;
    width: 100%;
    text-decoration: none;
    &:hover {
      background-color: var(--tarjetas-internas-fondo); 
    }
  }
}

.lista-compuesta-cuerpo {
  flex: 1 1;
  display: block;
  > * {
    margin: 0;
  }
  .lista-compuesta-texto-primario {
    color: var(--tipografia-color);
    font-weight: 500;
  }
  .lista-compuesta-texto-secundario {
    color: var(--tipografia-color);
    font-weight: 400;
  }
  .lista-compuesta-texto-terciario {
    color: var(--tipografia-color-3);
    font-weight: 400;
  }
}
