@use 'sass:map';
@use '../_variables' as variables;
@use '../mixins' as mix;

.lista-casilla {
  li {
    border-bottom: 1px solid var(--borde-secundario);
    padding: calc(map.get(variables.$espaciado, '1') + map.get(variables.$espaciado, 'minimo')) 0;

    [type='checkbox'] + label,
    [type='radio'] + label{
      @include mix.transicion;

      flex: 1 1;
      display: block;
      padding-top: map.get(variables.$espaciado, 'minimo');
      padding-bottom: map.get(variables.$espaciado, 'minimo');
      padding-left: calc(1.25rem + map.get(variables.$espaciado, '2') + 4px);
    }
  }
}