@use 'sass:map';
@use '../_variables' as variables;
@use '../_mixins' as mix;
@use '../tipografia/titulo';

.portada {
	position: relative;
	width: 100%;
	min-height: 100px;
	display: flex;
	height: calc(100vh - 92px);
	
  @include mix.mediaquery('mov') { 
		height: calc(100vh - 120px);
  }

	.portada-imagen {
    border-radius: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		object-fit: cover;
		object-position: 50% 50%;

		@include mix.transicion;
	}

  .portada-degradado {
		position: relative;
		width: 100%;
		background: var(--degradado-ligero);
		display: flex;
		align-items: stretch;
		margin-top: map.get(variables.$espaciado, '6');
	}

  .portada-cuerpo {			
    margin: auto auto 0;
    padding: map.get(variables.$espaciado, '3') map.get(variables.$espaciado, '3') map.get(variables.$espaciado, 'extra');
    width: 100%;
    max-width: 700px;
    text-align: center;

    > * {
      color: var(--texto-inverso);
      border-color: currentcolor;
      margin: map.get(variables.$espaciado, '1') 0;
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .portada-titulo {
    @extend %titulo-base;

    font-size: 2.25rem;
    color: var(--texto-inverso);

    @include mix.mediaquery('esc') { 
      font-size: 5rem;
    }
  }
  
  .portada-subtitulo {
    @extend %titulo-base;

    font-size: 1.125rem;
    color: var(--texto-inverso);

    @include mix.mediaquery('esc') {
      font-size: 1.5rem;
    }
  }

  &.portada-secundaria {
    .portada-titulo {
      @extend %titulo-base;

      font-size: 2.25rem;
      color: var(--texto-inverso);

      @include mix.mediaquery('esc') {
        font-size: 3.5rem;
      }
    }
  }
}