// Variables de color claro Eni
body[data-light-theme-eni='true'] {
  
  // base
  --fondo: var(--color-neutro-0);
  --fondo-neutro: var(--color-neutro-1);
  --fondo-acento: var(--color-secundario-2);
  --fondo-informacion: var(--color-informativo-1);
  --fondo-confirmacion: var(--color-confirmacion-1);
  --fondo-alerta: var(--color-alerta-1);
  --fondo-error: var(--color-error-1);
  
  --fondo-degradado: linear-gradient(0deg, rgba(var(--color-neutro-7-rgb),1) 0%, rgba(var(--color-neutro-7-rgb),0.59) 60%, rgba(var(--color-neutro-7-rgb),0) 100%);

  --borde: var(--color-neutro-4);
  --borde-secundario: var(--color-neutro-3);
  --borde-acento: var(--color-secundario-9);
  --borde-informacion: var(--color-informativo-3);
  --borde-confirmacion: var(--color-confirmacion-3);
  --borde-alerta: var(--color-alerta-3);
  --borde-error: var(--color-error-3);
  
  --texto-primario: var(--color-neutro-6);
  --texto-secundario: var(--color-secundario-8);
  --texto-acento: var(--color-primario-3);
  --texto-inverso: var(--color-neutro-0);
  --texto-informacion: var(--color-informativo-3);
  --texto-confirmacion: var(--color-confirmacion-3);
  --texto-alerta: var(--color-alerta-3);
  --texto-error: var(--color-error-3);

  // estado base
  --estado-enfoque: var(--color-interactivo-1);
  
  // elementos
  --campo-etiqueta-color: var(--color-secundario-8);
  --campo-fondo: var(--color-neutro-0);
  --campo-color: var(--color-neutro-6);
  --campo-borde: var(--color-secundario-8);
  --campo-ejemplo-color: var(--color-neutro-4);
  --campo-ejemplo-cursor-color: var(--color-secundario-8);
  --campo-ejemplo-enfoque-color: var(--color-secundario-8);
  --campo-ejemplo-deshabilitado-color: var(--color-neutro-4);
  --campo-deshabilitado-fondo: var(--color-neutro-2);
  --campo-deshabilitado-color: var(--color-neutro-4);
  --campo-deshabilitado-borde: var(--color-neutro-3);
  --campo-cursor-fondo: var(--color-secundario-2);
  --campo-cursor-borde: var(--color-secundario-8);
  --campo-enfoque-fondo: var(--color-secundario-2);
  --campo-enfoque-borde: var(--estado-enfoque);
  --campo-enfoque-sombra: var(--estado-enfoque);
  --campo-rango-activo: var(--color-primario-3);
  --campo-rango-cursor: var(--color-primario-4);
  --campo-rango-deshabilitado: var(--color-neutro-4);
  --campo-rango: var(--color-neutro-2);
  --campo-control-fondo: var(--color-neutro-0);
  --campo-control-borde: var(--color-secundario-8);
  --campo-control-seleccionado-fondo: var(--color-neutro-0);
  --campo-control-seleccionado-borde: var(--color-secundario-8);
  --campo-control-seleccionado-color: var(--color-secundario-8);
  --campo-control-deshabilitado-fondo: var(--color-neutro-2);
  --campo-control-deshabilitado-borde: var(--color-neutro-3);
  --campo-control-deshabilitado-color: var(--color-neutro-3);
  --campo-contenedor-fondo: transparent;
  --campo-contenedor-borde: transparent;

  --campo-selector-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><polygon fill="%23141414" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/></g></svg>');
  --campo-selector-deshabilitado-svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g><polygon fill="%23767677" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/></g></svg>');

  --tabla-fila-par-fondo: var(--color-neutro-0);
  --tabla-fila-impar-fondo: var(--color-secundario-2);
  --tabla-fila-pie-fondo: var(--color-secundario-4);
  --tabla-borde: var(--color-neutro-4);
  --tabla-color: var(--texto-primario);

  --boton-primario-fondo: var(--color-primario-3);
  --boton-primario-borde: var(--color-primario-3);
  --boton-primario-color: var(--color-neutro-0);
  --boton-primario-sombra: transparent;
  --boton-primario-deshabilitado-fondo: var(--color-neutro-2);
  --boton-primario-deshabilitado-borde: var(--color-neutro-2);
  --boton-primario-deshabilitado-color: var(--color-neutro-4);
  --boton-primario-deshabilitado-sombra: transparent;
  --boton-primario-cursor-fondo: var(--color-primario-4);
  --boton-primario-cursor-borde: var(--color-primario-4);
  --boton-primario-cursor-color: var(--color-neutro-0);
  --boton-primario-cursor-sombra: transparent;
  --boton-primario-enfoque-fondo: var(--color-primario-4);
  --boton-primario-enfoque-borde: var(--color-neutro-0);
  --boton-primario-enfoque-color: var(--color-neutro-0);
  --boton-primario-enfoque-contorno: var(--estado-enfoque);
  --boton-primario-enfoque-sombra: var(--estado-enfoque);

  --boton-secundario-fondo: transparent;
  --boton-secundario-borde: var(--color-secundario-8);
  --boton-secundario-color: var(--color-secundario-8);
  --boton-secundario-sombra: transparent;
  --boton-secundario-deshabilitado-fondo: transparent;
  --boton-secundario-deshabilitado-borde: var(--color-neutro-2);
  --boton-secundario-deshabilitado-color: var(--color-neutro-3);
  --boton-secundario-deshabilitado-sombra: transparent;
  --boton-secundario-cursor-fondo: var(--color-secundario-4);
  --boton-secundario-cursor-borde: var(--color-secundario-8);
  --boton-secundario-cursor-color: var(--color-secundario-8);
  --boton-secundario-cursor-sombra: transparent;
  --boton-secundario-enfoque-fondo: var(--color-secundario-4);
  --boton-secundario-enfoque-borde: var(--estado-enfoque);
  --boton-secundario-enfoque-color: var(--color-secundario-8);
  --boton-secundario-enfoque-sombra: var(--estado-enfoque);

  --boton-sin-contenedor-primario-fondo: transparent;
  --boton-sin-contenedor-primario-borde: transparent;
  --boton-sin-contenedor-primario-color: var(--color-primario-3);
  --boton-sin-contenedor-primario-sombra: transparent;
  --boton-sin-contenedor-primario-deshabilitado-fondo: transparent;
  --boton-sin-contenedor-primario-deshabilitado-borde: transparent;
  --boton-sin-contenedor-primario-deshabilitado-color: var(--color-neutro-3);
  --boton-sin-contenedor-primario-deshabilitado-sombra: transparent;
  --boton-sin-contenedor-primario-cursor-fondo: transparent;
  --boton-sin-contenedor-primario-cursor-borde: transparent;
  --boton-sin-contenedor-primario-cursor-color: var(--color-primario-4);
  --boton-sin-contenedor-primario-cursor-sombra: transparent;
  --boton-sin-contenedor-primario-enfoque-fondo: var(--color-secundario-4);
  --boton-sin-contenedor-primario-enfoque-borde: var(--estado-enfoque);
  --boton-sin-contenedor-primario-enfoque-color: var(--color-primario-3);
  --boton-sin-contenedor-primario-enfoque-contorno: transparent;
  --boton-sin-contenedor-primario-enfoque-sombra: var(--estado-enfoque);

  --boton-sin-contenedor-secundario-fondo: transparent;
  --boton-sin-contenedor-secundario-borde: transparent;
  --boton-sin-contenedor-secundario-color: var(--color-secundario-8);
  --boton-sin-contenedor-secundario-sombra: transparent;
  --boton-sin-contenedor-secundario-deshabilitado-fondo: transparent;
  --boton-sin-contenedor-secundario-deshabilitado-borde: transparent;
  --boton-sin-contenedor-secundario-deshabilitado-color: var(--color-neutro-3);
  --boton-sin-contenedor-secundario-deshabilitado-sombra: transparent;
  --boton-sin-contenedor-secundario-cursor-fondo: var(--color-secundario-4);
  --boton-sin-contenedor-secundario-cursor-borde: var(--color-secundario-4);
  --boton-sin-contenedor-secundario-cursor-color: var(--color-secundario-8);
  --boton-sin-contenedor-secundario-cursor-sombra: transparent;
  --boton-sin-contenedor-secundario-enfoque-fondo: var(--color-secundario-4);
  --boton-sin-contenedor-secundario-enfoque-borde: var(--estado-enfoque);
  --boton-sin-contenedor-secundario-enfoque-color: var(--color-secundario-8);
  --boton-sin-contenedor-secundario-enfoque-contorno: transparent;
  --boton-sin-contenedor-secundario-enfoque-sombra: var(--estado-enfoque);

  --hipervinculo-color: var(--color-interactivo-1);
  --hipervinculo-sombra: transparent;
  --hipervinculo-deshabilitado-color: var(--color-neutro-3);
  --hipervinculo-deshabilitado-sombra: transparent;
  --hipervinculo-cursor-color: var(--color-interactivo-2);
  --hipervinculo-cursor-sombra: transparent;
  --hipervinculo-enfoque-color: var(--estado-enfoque);
  --hipervinculo-enfoque-sombra: var(--estado-enfoque);
  --hipervinculo-visitado: var(--color-interactivo-6);

  // elementos compuestos
  --tarjeta-fondo: var(--color-neutro-1);
  --tarjeta-color: var(--color-neutro-6);
  --tarjeta-externa-color: var(--texto-inverso);
  --tarjeta-externa-fondo-degradado: var(--fondo-degradado);
  --tarjeta-interna-color: var(--color-neutro-6);
  --tarjeta-interna-fondo: var(--color-neutro-1);
  --tarjeta-interna-cursor-fondo: var(--color-neutro-2);
  --tarjeta-simplificada-fondo: var(--color-neutro-0);
  --tarjeta-simplificada-color: var(--color-interactivo-1);
  --tarjeta-simplificada-borde: var(--color-interactivo-1);
  --tarjeta-simplificada-cursor-fondo: var(--color-interactivo-1);
  --tarjeta-simplificada-cursor-borde: var(--color-interactivo-1);
  --tarjeta-simplificada-cursor-color: var(--color-neutro-0);
  --tarjeta-simplificada-enfoque-fondo: var(--estado-enfoque);
  --tarjeta-simplificada-enfoque-borde: var(--color-neutro-0);
  --tarjeta-simplificada-enfoque-color: var(--color-neutro-0);
  --tarjeta-simplificada-enfoque-contorno: var(--estado-enfoque);
  --tarjeta-simplificada-enfoque-sombra: var(--estado-enfoque);
  --tarjeta-contenido-simplificada-fondo: var(--color-neutro-1);
  --tarjeta-contenido-simplificada-color: var(--color-neutro-6);
  
  // componentes
  --modal-fondo: var(--fondo);
  --modal-color: var(--texto-primario);

  --visualizacion-color: var(--texto-primario);

  // --pagina-fondo: #ffffff;
  // --nota-fondo: #F0F6FF;
  
  // // Tipografia
  // --tipografia-color: #141414;
  // --tipografia-color-1: #ffffff;
  // --tipografia-color-2: #0068FF;
  // --tipografia-color-3: #5E7392;

  // // Bordes
  // --borde-color-1: #141414;
  // --borde-color-2: #767677;
  // --borde-color-3: #AAAAAA;
  // --borde-color-4: #ffffff;
  // --borde-focus: #005DFF;

  // // Sombras
  // --sombra: #0000001a;
  // --sombra-focus: #005DFF;
  // --sombra-hover: #0000001a;

  // // Detalles
  // --detalle-fondo: #F0F6FF;
  // --detalle-focus-sombra: #005DFF;

  // // Boton primario
  // --boton-primario-fondo: #0068FF;
  // --boton-primario-borde: #0068FF;
  // --boton-primario-color: #ffffff;
  // --boton-primario-sombra: transparent;
  //   --boton-primario-deshabilitado-fondo: #dddddd;
  //   --boton-primario-deshabilitado-borde: #dddddd;
  //   --boton-primario-deshabilitado-color: #767677;
  //   --boton-primario-deshabilitado-sombra: transparent;
  //     --boton-primario-hover-fondo: #0058CC;
  //     --boton-primario-hover-borde: #0058CC;
  //     --boton-primario-hover-color: #ffffff;
  //     --boton-primario-hover-sombra: #0000001a;
  //       --boton-primario-focus-fondo: #0058CC;
  //       --boton-primario-focus-borde: #ffffff;
  //       --boton-primario-focus-color: #ffffff;
  //       --boton-primario-focus-sombra: #005DFF;
  //       --boton-primario-focus-contorno: #005DFF;
  
  // // Boton secundario
  // --boton-secundario-fondo: transparent;
  // --boton-secundario-borde: #364A69;
  // --boton-secundario-color: #364A69;
  // --boton-secundario-sombra: transparent;
  //   --boton-secundario-deshabilitado-fondo: transparent;
  //   --boton-secundario-deshabilitado-borde: #dddddd;
  //   --boton-secundario-deshabilitado-color: #AAAAAA;
  //   --boton-secundario-deshabilitado-sombra: transparent;
  //     --boton-secundario-hover-fondo: #CCE1FF;
  //     --boton-secundario-hover-borde: #364A69;
  //     --boton-secundario-hover-color: #364A69;
  //     --boton-secundario-hover-sombra: #0000001a;
  //       --boton-secundario-focus-fondo: #CCE1FF;
  //       --boton-secundario-focus-borde: #005DFF;
  //       --boton-secundario-focus-color: #364A69;
  //       --boton-secundario-focus-sombra: #005DFF;
  
  // // Boton primario sin contenedor
  // --boton-sin-contenedor-primario-color: #0068FF; 
  //   --boton-sin-contenedor-primario-deshabilitado-color: #AAAAAA; 
  //     --boton-sin-contenedor-primario-hover-fondo: transparent;
  //     --boton-sin-contenedor-primario-hover-color: #0058CC;
  //     --boton-sin-contenedor-primario-hover-sombra: transparent;
  //       --boton-sin-contenedor-primario-focus-fondo: #CCE1FF; 
  //       --boton-sin-contenedor-primario-focus-borde: #005DFF;
  //       --boton-sin-contenedor-primario-focus-color: #0068FF;
  //       --boton-sin-contenedor-primario-focus-sombra: #005DFF;
  
  // // Boton secundario sin contenedor
  // --boton-sin-contenedor-secundario-color: #364A69; 
  //   --boton-sin-contenedor-secundario-deshabilitado-color: #AAAAAA;
  //     --boton-sin-contenedor-secundario-hover-fondo: #CCE1FF;
  //     --boton-sin-contenedor-secundario-hover-color: #364A69;
  //     --boton-sin-contenedor-secundario-hover-sombra: transparent;
  //       --boton-sin-contenedor-secundario-focus-fondo: #CCE1FF;
  //       --boton-sin-contenedor-secundario-focus-borde: #005DFF;
  //       --boton-sin-contenedor-secundario-focus-color: #364A69;
  //       --boton-sin-contenedor-secundario-focus-sombra: #005DFF;

  // // boron alternar
  // --boton-alternar-fondo: #DDDDDD;
  // --boton-alternar-color: #364A69;
  // --boton-alternar-deshabilitado-color: #767677;
  // --boton-alternar-deshabilitado-fondo: #AAAAAA;

  // // boton flotante
  // --boton-flotante-fondo: var(--fondo); // revisar despues
  // --boton-flotante-fondo-hover: #cce1ff;
  // --boton-flotante-fondo-focus: #cce1ff;
  // --boton-flotante-color: #364a69;
  // --boton-flotante-color-hover: #364a69;
  // --boton-flotante-color-focus: #364a69;
  // --boton-flotante-sombra-focus: inset 0 0 0 1px var(--boton-secundario-focus-borde), 0 0 8px var(--boton-secundario-focus-sombra);
  
  // // Boton icono sin borde
  // --boton-icono-sin-borde-color: #0068FF;

  // // Elementos de formulario
  // --label-color: #364A69;
  // --input-fondo: var(--fondo);
  // --input-color: #141414;
  // --input-borde: #364A69;
  // --input-placeholder: #767677; // este tambien lo usa el label de checkbox y radio en el estado deshabilitado
  // --input-controles-color: #0068FF;
  //   --input-deshabilitado-fondo: #DDDDDD;
  //   --input-deshabilitado-borde: #AAAAAA;
  //   --input-deshabilitado-color: #141414;
  //   --input-hover: #F0F6FF;
  //   --input-focus: #005DFF;
  //   // cambiar el color en fill="%23364A69" en donde %23 equivale a # y los siguientes 6 números son el código hexadecimal de color
  //   --input-select-svg: url('data:image/svg+xml,\
  //     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
  //       <g id="icon">\
  //         <polygon fill="%23364A69" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
  //       </g>\
  //     </svg>');
  //   --input-select-deshabilitada-svg: url('data:image/svg+xml,\
  //     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
  //       <g id="icon">\
  //         <polygon fill="%23767677" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
  //       </g>\
  //     </svg>');
  //   --input-confirmacion: #2A6F4D;
  //   --input-error: #940B1C;

  // // Tablas
  // --tabla-fondo-impar: #F0F6FF;
  // --tabla-fondo-notas: #CCE1FF;

  // // Tarjetas
  // --tarjetas-fondo: #F5F5F5;
  // --tarjetas-color: #141414;
  // --tarjetas-externas-color: #ffffff;
  // --tarjetas-externas-fondo-gradiente: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.59) 60%, rgba(0,0,0,0) 100%);
  // --tarjetas-internas-color: #141414;
  // --tarjetas-internas-fondo: #F5F5F5;
  //   --tarjetas-internas-fondo-hover: #DDDDDD;

  // --tarjetas-simplificada-fondo: #FFFFFF;
  // --tarjetas-simplificada-color: #005DFF;
  // --tarjetas-simplificada-borde: #005DFF;
  //   --tarjetas-simplificada-fondo-hover: #005DFF;
  //   --tarjetas-simplificadas-borde-hover: #005DFF;
  //   --tarjetas-simplificada-color-hover: #FFFFFF;
  //     --tarjeta-simplificada-fondo-focus: #005DFF;
  //     --tarjeta-simplificada-borde-focus: #FFFFFF;
  //     --tarjeta-simplificada-color-focus: #FFFFFF;
  //     --tarjeta-simplificada-contorno-focus: #005DFF;
  //     --tarjeta-simplificada-sombra-focus: #005DFF;
  // --tarjetas-contenido-simplificada-fondo: #F5F5F5;
  // --tarjetas--contenido-simplificada-color: #141414;

  // // Portada
  // --portada-fondo-grandiente: linear-gradient(transparent, #000000e5);
  // --portada-color: #ffffff;
  
  // // Navegacion principal
  // --navegacion-conahcyt-fondo: #ffffff;
  // --navegacion-conahcyt-sombra: #00000032;
  // --navegacion-conahcyt-color: #002663;
  // --navegacion-conahcyt-fondo-icono: #002663;
  // --navegacion-conahcyt-fondo-hover: #F5F5F5;
  
  // // Navegacion secundaria
  // --menu-lateral-color: #102543;
  // --menu-lateral-fondo: #DBEAFF;
  // --menu-lateral-accion: #0068FF;
  // --menu-lateral-hover-color: #ffffff;
  //   --menu-lateral-accion-fondo-hover: #364A69;
  //     --menu-lateral-accion-fondo-active: #F8FBFF;
  //     --menu-lateral-accion-sombra-active: #0068FF;
  // --submenu-lateral-fondo-mov: #DBEAFF;
  // --submenu-lateral-fondo-colapsable: #CCE1FF;

  // // Acciones
  // --acciones-informativo: #19439C;
  // --acciones-informativo-2: #ECF2FF;
  // --acciones-error: #940B1C;
  // --acciones-error-2: #FEE9EC;
  // --acciones-advertencia: #916802;
  // --acciones-advertencia-2: #FFF7E3;
  // --acciones-correcto: #2A6F4D;
  // --acciones-correcto-2: #E7FBF1;

  // // Hipervinculos
  // --hipervinculo-color: #005DFF;
  // --hipervinculo-sombra: transparent;
  // --hipervinculo-deshabilitado-color: #AAAAAA;
  // --hipervinculo-deshabilitado-sombra: transparent;
  // --hipervinculo-hover-color: #356CCC;
  // --hipervinculo-hover-sombra: transparent;
  // --hipervinculo-focus-color: #005DFF;
  // --hipervinculo-focus-sombra: #005DFF;
  // --hipervinculo-visitado: #9233FF;

  // // Navegacion
  // --navegacion-fondo: #fff;
  // --navegacion-sombra: 0 1px 0 .1px #ccc, 0 4px 4px rgba(0,0,0,0.2);
  // --navegacion-redondeado: 0 0 8px 8px;
  // --navegacion-color: #364a69;
  //   --navegacion-fondo-hover: #F0F6FF;
  //   --navegacion-sombra-hover: 0 0 0 0 transparent;
  //   --navegacion-color-hover: #364a69;
  //     --navegacion-fondo-active: #fff;
  //     --navegacion-sombra-active: inset 0 -4px 0 0 #0068FF;
  //     --navegacion-color-active: #364a69;
}

// tema sisdai
// body[data-light-theme-sisdai='true'] {
//   --pagina-fondo: #ffffff;
//   --nota-fondo: #F4F1FE;
  
//   // Tipografia
//   --tipografia-color: #141414;
//   --tipografia-color-1: #ffffff;
//   --tipografia-color-2: #3F17E4;
//   --tipografia-color-3: #6E6380;

//   // Bordes
//   --borde-color-1: #141414;
//   --borde-color-2: #767677;
//   --borde-color-3: #AAAAAA;
//   --borde-color-4: #ffffff;
//   --borde-focus: #005DFF;

//   // Sombras
//   --sombra: #0000001a;
//   --sombra-focus: #005DFF;
//   --sombra-hover: #0000001a;

//   // Detalles
//   --detalle-fondo: #F4F1FE;
//   --detalle-focus-sombra: #005DFF;

//   // Boton primario
//   --boton-primario-fondo: #3F17E4;
//   --boton-primario-borde: #3F17E5;
//   --boton-primario-color: #ffffff;
//   --boton-primario-sombra: transparent;
//     --boton-primario-deshabilitado-fondo: #dddddd;
//     --boton-primario-deshabilitado-borde: #dddddd;
//     --boton-primario-deshabilitado-color: #767677;
//     --boton-primario-deshabilitado-sombra: transparent;
//       --boton-primario-hover-fondo: #2B13B1;
//       --boton-primario-hover-borde: #2B13B1;
//       --boton-primario-hover-color: #ffffff;
//       --boton-primario-hover-sombra: #0000001a;
//         --boton-primario-focus-fondo: #2B13B1;
//         --boton-primario-focus-borde: #ffffff;
//         --boton-primario-focus-color: #ffffff;
//         --boton-primario-focus-sombra: #005DFF;
//         --boton-primario-focus-contorno: #005DFF;
  
//   // Boton secundario
//   --boton-secundario-fondo: transparent;
//   --boton-secundario-borde: #453B67;
//   --boton-secundario-color: #453B67;
//   --boton-secundario-sombra: transparent;
//     --boton-secundario-deshabilitado-fondo: transparent;
//     --boton-secundario-deshabilitado-borde: #dddddd;
//     --boton-secundario-deshabilitado-color: #AAAAAA;
//     --boton-secundario-deshabilitado-sombra: transparent;
//       --boton-secundario-hover-fondo: #CCE1FF;
//       --boton-secundario-hover-borde: #453B67;
//       --boton-secundario-hover-color: #453B67;
//       --boton-secundario-hover-sombra: #0000001a;
//         --boton-secundario-focus-fondo: #DBD0FB;
//         --boton-secundario-focus-borde: #005DFF;
//         --boton-secundario-focus-color: #453B67;
//         --boton-secundario-focus-sombra: #005DFF;
  
//   // --boton-conahcyt-fondo: #DDDDDD;
//   // boron alternar
//   --boton-alternar-fondo: #DDDDDD;
//   --boton-alternar-color: #364A69;
//   --boton-alternar-deshabilitado-color: #767677;
//   --boton-alternar-deshabilitado-fondo: #AAAAAA;

//   // Elementos de formulario
//   --label-color: #6E638F;
//   --input-fondo: var(--fondo); // ya la cambiamos 
//   --input-color: #141414;
//   --input-borde: #6E638F;
//   --input-placeholder: #767677;
//   --input-controles-color: #3F17E4;
//     --input-deshabilitado-fondo: #DDDDDD;
//     --input-deshabilitado-color: #AAAAAA;
//       --input-hover: #453B67;
//         --input-focus: #005DFF;

//   // cambiar el color en fill="%236E638F" en donde %23 equivale a # y los siguientes 6 números son el código hexadecimal de color
//   --input-select-svg: url('data:image/svg+xml,\
//     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
//       <g id="icon">\
//         <polygon fill="%236E638F" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
//       </g>\
//     </svg>');
//     --input-select-deshabilitada-svg: url('data:image/svg+xml,\
//     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
//       <g id="icon">\
//         <polygon fill="%23767677" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
//       </g>\
//     </svg>');

//   // Tablas
//   --tabla-fondo-impar: #F4F1FE;
//   --tabla-fondo-notas: #DBD0FB;

//   // Tarjetas
//   --tarjetas-fondo: #F5F5F5;
//   --tarjetas-color: #141414;
//   --tarjetas-externas-color: #ffffff;
//   --tarjetas-externas-fondo-gradiente: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.59) 60%, rgba(0,0,0,0) 100%);
//   --tarjetas-internas-color: #141414;
//   --tarjetas-internas-fondo: #F5F5F5;
//     --tarjetas-internas-fondo-hover: #DDDDDD;

//   --tarjetas-simplificada-fondo: #FFFFFF;
//   --tarjetas-simplificada-color: #005DFF;
//   --tarjetas-simplificada-borde: #005DFF;
//     --tarjetas-simplificada-fondo-hover: #005DFF;
//     --tarjetas-simplificadas-borde-hover: #005DFF;
//     --tarjetas-simplificada-color-hover: #FFFFFF;
//       --tarjeta-simplificada-fondo-focus: #005DFF;
//       --tarjeta-simplificada-borde-focus: #FFFFFF;
//       --tarjeta-simplificada-color-focus: #FFFFFF;
//       --tarjeta-simplificada-contorno-focus: #005DFF;
//       --tarjeta-simplificada-sombra-focus: #005DFF;
//   --tarjetas-contenido-simplificada-fondo: #F5F5F5;
//   --tarjetas--contenido-simplificada-color: #141414;

//   // Portada
//   --portada-fondo-grandiente: linear-gradient(transparent, #000000e5);
//   --portada-color: #ffffff;
  
//   // Navegacion principal
//   --navegacion-conahcyt-fondo: #ffffff;
//   --navegacion-conahcyt-sombra: #00000032;
//   --navegacion-conahcyt-color: #002663;
//   --navegacion-conahcyt-fondo-icono: #002663;
//   --navegacion-conahcyt-fondo-hover: #F5F5F5;
  
//   // Navegacion secundaria
//   --menu-lateral-color: #201540;
//   --menu-lateral-fondo: #E4DEFC;
//   --menu-lateral-accion: #0068FF;
//   --menu-lateral-hover-color: #FFFFFF;
//     --menu-lateral-accion-fondo-hover: #453B67;
//       --menu-lateral-accion-fondo-active: #FEFAF8;
//       --menu-lateral-accion-sombra-active: #0068FF;
//   --submenu-lateral-fondo-mov: #F4F1FE;
//   --submenu-lateral-fondo-colapsable: #DBD0FB;

//   // Acciones
//   --acciones-informativo: #19439C;
//   --acciones-informativo-2: #ECF2FF;
//   --acciones-error: #940B1C;
//   --acciones-error-2: #FEE9EC;
//   --acciones-advertencia: #916802;
//   --acciones-advertencia-2: #FFF7E3;
//   --acciones-correcto: #2A6F4D;
//   --acciones-correcto-2: #E7FBF1;

//   // Hipervinculos
//   --hipervinculo-color: #005DFF;
//   --hipervinculo-sombra: transparent;
//   --hipervinculo-deshabilitado-color: #AAAAAA;
//   --hipervinculo-deshabilitado-sombra: transparent;
//   --hipervinculo-hover-color: #356CCC;
//   --hipervinculo-hover-sombra: transparent;
//   --hipervinculo-focus-color: #005DFF;
//   --hipervinculo-focus-sombra: #005DFF;
//   --hipervinculo-visitado: #9233FF;

//   // Navegacion
//   --navegacion-fondo: #eef;
//   --navegacion-sombra: 0 1px 0 0 #ccf, 0 8px 8px -4px rgba(,0,0,.2);
//   --navegacion-redondeado: 0 0 8px 8px;
//   --navegacion-color: #00f;
//     --navegacion-fondo-hover: #ddf;
//     --navegacion-sombra-hover: 0 1px 0 0 #ccf, 0 8px 8px -4px rgba(0,0,0,.2);
//     --navegacion-color-hover: #00f;
//       --navegacion-fondo-active: #00f;
//       --navegacion-sombra-active: 0 0 0 0;
//       --navegacion-color-active: #fff;
// }

// // Variables de color claro Gema
// body[data-light-theme-gema='true']  {
//   --color-0: #ffffff;
//   --color-1: #fff5f0;
//   --color-2: #141414;
//   --color-3: #cc4b14;
//   --color-4: #90705f;
//   --color-5: #767677;
//   --color-6: #aaaaaa;
//   --color-7: #005dff;
//   --color-8: transparent;
//   --color-9: #dddddd;
//   --color-10: #993310;
//   --color-11: #0000001a;
//   --color-12: #674736;
//   --color-13: #fdddcc;
//   --color-14: #f5f5f5;
//   --color-15: #00000032;
//   --color-16: #002663;
//   --color-17: #412110;
//   --color-18: #fde7db;
//   --color-19: #fefaf8;
//   --color-20: #19439c;
//   --color-21: #ecf2ff;
//   --color-22: #940b1c;
//   --color-23: #fee9ec;
//   --color-24: #916802;
//   --color-25: #fff7e3;
//   --color-26: #2a6f4d;
//   --color-27: #e7fbf1;
//   --color-28: #356ccc;
//   --color-29: #9233ff;
//   --pagina-fondo: var( --color-0 );
//   --nota-fondo: var( --color-1 );
//   --tipografia-color: var( --color-2 );
//   --tipografia-color-1: var( --color-0 );
//   --tipografia-color-2: var( --color-3 );
//   --tipografia-color-3: var( --color-4 );
//   --borde-color-1: var( --color-2 );
//   --borde-color-2: var( --color-5 );
//   --borde-color-3: var( --color-6 );
//   --borde-color-4: var( --color-0 );
//   --borde-focus: var( --color-7 );
//   --sombra: var( --color-2 );
//   --sombra-focus: var( --color-5 );
//   --sombra-hover: var( --color-6 );
//   --detalle-fondo: var( --color-1 );
//   --detalle-focus-sombra: var( --color-7 );
//   --boton-primario-fondo: var( --color-3 );
//   --boton-primario-borde: var( --color-3 );
//   --boton-primario-color: var( --color-0 );
//   --boton-primario-sombra: var( --color-8 );
//   --boton-primario-deshabilitado-fondo: var( --color-9 );
//   --boton-primario-deshabilitado-borde: var( --color-9 );
//   --boton-primario-deshabilitado-color: var( --color-5 );
//   --boton-primario-deshabilitado-sombra: var( --color-8 );
//   --boton-primario-hover-fondo: var( --color-10 );
//   --boton-primario-hover-borde: var( --color-10 );
//   --boton-primario-hover-color: var( --color-0 );
//   --boton-primario-hover-sombra: var( --color-11 );
//   --boton-primario-focus-fondo: var( --color-10 );
//   --boton-primario-focus-borde: var( --color-0 );
//   --boton-primario-focus-color: var( --color-0 );
//   --boton-primario-focus-contorno: var( --color-7 );
//   --boton-primario-focus-sombra: var( --color-7 );
//   --boton-secundario-fondo: var( --color-8 );
//   --boton-secundario-borde: var( --color-12 );
//   --boton-secundario-color: var( --color-12 );
//   --boton-secundario-sombra: var( --color-8 );
//   --boton-secundario-deshabilitado-fondo: var( --color-8 );
//   --boton-secundario-deshabilitado-borde: var( --color-9 );
//   --boton-secundario-deshabilitado-color: var( --color-6 );
//   --boton-secundario-deshabilitado-sombra: var( --color-8 );
//   --boton-secundario-hover-fondo: var( --color-13 );
//   --boton-secundario-hover-borde: var( --color-12 );
//   --boton-secundario-hover-color: var( --color-12 );
//   --boton-secundario-hover-sombra: var( --color-11 );
//   --boton-secundario-focus-fondo: var( --color-13 );
//   --boton-secundario-focus-borde: var( --color-7 );
//   --boton-secundario-focus-color: var( --color-12 );
//   --boton-secundario-focus-sombra: var( --color-7 );
//   // --boton-conahcyt-fondo: var( --color-9 );
//   --boton-alternar-fondo: #DDDDDD;
//   --boton-alternar-color: #364A69;
//   --boton-alternar-deshabilitado-color: #767677;
//   --boton-alternar-deshabilitado-fondo: #AAAAAA;
//   --label-color: var( --color-4 );
//   --input-fondo: var( --color-8 );
//   --input-color: var( --color-2 );
//   --input-borde: var( --color-4 );
//   --input-placeholder: var( --color-5 );
//   --input-controles-color: var( --color-3 );
//   --input-deshabilitado-fondo: var( --color-9 );
//   --input-deshabilitado-color: var( --color-6 );
//   --input-hover: var( --color-12 );
//   --input-focus: var( --color-7 );
//   --tabla-fondo-impar: var( --color-1 );
//   --tabla-fondo-notas: var( --color-13 );
//   --tarjetas-fondo: var( --color-14 );
//   --tarjetas-color: var( --color-2 );
//   --tarjetas-externas-color: var( --color-0 );
//   --tarjetas-internas-color: var( --color-2 );
//   --tarjetas-internas-fondo: var( --color-14 );
//   --tarjetas-internas-fondo-hover: var( --color-9 );
//   --tarjetas-simplificada-fondo: var( --color-0 );
//   --tarjetas-simplificada-color: var( --color-7 );
//   --tarjetas-simplificada-borde: var( --color-7 );
//   --tarjetas-simplificada-fondo-hover: var( --color-7 );
//   --tarjetas-simplificadas-borde-hover: var( --color-7 );
//   --tarjetas-simplificada-color-hover: var( --color-0 );
//   --tarjeta-simplificada-fondo-focus: var( --color-7 );
//   --tarjeta-simplificada-borde-focus: var( --color-0 );
//   --tarjeta-simplificada-color-focus: var( --color-0 );
//   --tarjeta-simplificada-contorno-focus: var( --color-7 );
//   --tarjeta-simplificada-sombra-focus: var( --color-7 );
//   --tarjetas-contenido-simplificada-fondo: var( --color-14 );
//   --tarjetas--contenido-simplificada-color: var( --color-2 );
//   --navegacion-conahcyt-fondo: var( --color-0 );
//   --navegacion-conahcyt-sombra: var( --color-15 );
//   --navegacion-conahcyt-color: var( --color-16 );
//   --navegacion-conahcyt-fondo-icono: var( --color-16 );
//   --navegacion-conahcyt-fondo-hover: var( --color-14 );
//   --menu-lateral-color: var( --color-17 );
//   --menu-lateral-fondo: var( --color-18 );
//   --menu-lateral-accion: var( --color-3 );
//   --menu-lateral-hover-color: var( --color-0);
//   --menu-lateral-accion-fondo-hover: var( --color-12 );
//   --menu-lateral-accion-fondo-active: var( --color-19 );
//   --menu-lateral-accion-sombra-active: var( --color-3 );
//   --submenu-lateral-fondo-mov: var( --color-18 );
//   --submenu-lateral-fondo-colapsable: var( --color-13 );
//   --acciones-informativo: var( --color-20 );
//   --acciones-informativo-2: var( --color-21 );
//   --acciones-error: var( --color-22 );
//   --acciones-error-2: var( --color-23 );
//   --acciones-advertencia: var( --color-24 );
//   --acciones-advertencia-2: var( --color-25 );
//   --acciones-correcto: var( --color-26 );
//   --acciones-correcto-2: var( --color-27 );
//   --hipervinculo-color: var( --color-7 );
//   --hipervinculo-sombra: var( --color-8 );
//   --hipervinculo-deshabilitado-color: var( --color-6 );
//   --hipervinculo-deshabilitado-sombra: var( --color-8 );
//   --hipervinculo-hover-color: var( --color-28 );
//   --hipervinculo-hover-sombra: var( --color-8 );
//   --hipervinculo-focus-color: var( --color-7 );
//   --hipervinculo-focus-sombra: var( --color-7 );
//   --hipervinculo-visitado: var( --color-29 );

//   // cambiar el color en fill="%2390705f" en donde %23 equivale a # y los siguientes 6 números son el código hexadecimal de color
//   --input-select-svg: url('data:image/svg+xml,\
//     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
//       <g id="icon">\
//         <polygon fill="%2390705f" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
//       </g>\
//     </svg>');
//     --input-select-deshabilitada-svg: url('data:image/svg+xml,\
//     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
//       <g id="icon">\
//         <polygon fill="%23767677" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
//       </g>\
//     </svg>');

  

//   // Portada
//   --portada-fondo-grandiente: linear-gradient(transparent, #000000e5);
//   --portada-color: #ffffff;
  

//   // Navegacion
//   --navegacion-fondo: #eef;
//   --navegacion-sombra: 0 1px 0 0 #ccf, 0 8px 8px -4px rgba(,0,0,.2);
//   --navegacion-redondeado: 0 0 8px 8px;
//   --navegacion-color: #00f;
//     --navegacion-fondo-hover: #ddf;
//     --navegacion-sombra-hover: 0 1px 0 0 #ccf, 0 8px 8px -4px rgba(0,0,0,.2);
//     --navegacion-color-hover: #00f;
//       --navegacion-fondo-active: #00f;
//       --navegacion-sombra-active: 0 0 0 0;
//       --navegacion-color-active: #fff;
// }