.a11y-hipervinculos {
  a,
  .hipervinculo {
    text-decoration: underline;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      text-decoration: underline;
    }

    &:focus-visible {
      background-color: transparent;
      color: var(--hipervinculo-enfoque-color);
      outline: 1px dashed var(--hipervinculo-enfoque-sombra);
      outline-offset: 4px;
      box-shadow: none;
    }
  }
}
