@use '../boton/base' as botonbase;
@use '../boton/color' as botoncolor;

.ir-contenido-principal {
  @include botonbase.boton-estructura-principal;
  @include botoncolor.boton-contenedor-primario;

  position: absolute;
  justify-content: center;
  transform: translateY(-100%);
  z-index: 99999;
  width: 100%;
  border-radius: 0;
  
  &:focus {
    transform: translateY(0%);
  }
}
