.a11y-solo-lectura {
  clip: rect(0 0 0 0); 
  clip-path: inset(100%); 
  height: 1px; 
  overflow: hidden; 
  position: absolute; 
  white-space: nowrap; 
  width: 1px;
}

// Se agrega informacion al letcor de pantalla cuando los hipervinculos abren en una nueva pestaña
[target='_blank']::after {
  content: '. Abre nueva pestaña.';
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap; 
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%); 
  border: 0;
}