:root[data-dark-theme-neutro='true'] {
  // Agregar variables para vista oscura
  --neutro-oscuro-1: #ffffff;
  --neutro-oscuro-2: #6f6f6f;
  --neutro-oscuro-3: #393939;
  --neutro-oscuro-4: #262626;
  --neutro-oscuro-fondo: #161515;
  --neutro-oscuro-hover: #b9b9b9;
	
  // Modificar propiedades de atributos generales
	--pagina-fondo: var(--neutro-oscuro-fondo);
  --tipografia-color: var(--neutro-oscuro-1);

	--tipografia-color-2: var(--neutro-oscuro-2);
	--tipografia-color-3: var(--neutro-oscuro-3);

	--borde-color-1: var(--neutro-oscuro-1);

	--sombra: #ffffff1a;
	--sombra-hover: #ffffff33;

	--detalle-fondo: var(--neutro-oscuro-4);
	// // --hipervinculo-color: #005DFF;
	// // font-weight: 400 - 350;
	// // line-height: calc(1em * 1.3 - 1.5);

	// Boton primario
	--boton-primario-fondo: var(--neutro-oscuro-1);
	--boton-primario-color: var(--pagina-fondo);
  --boton-primario-hover-fondo: var(--neutro-oscuro-hover);
	--boton-primario-hover-color: var(--pagina-fondo);
	--boton-primario-focus-fondo: var(--neutro-oscuro-1);
	--boton-primario-focus-color: var(--pagina-fondo);

	// Boton secundario
	--boton-secundario-fondo: transparent;
	--boton-secundario-borde: var(--neutro-oscuro-1);
	--boton-secundario-color: var(--neutro-oscuro-1);
  --boton-secundario-hover-fondo: transparent;
	--boton-secundario-hover-borde: var(--neutro-oscuro-1);
	--boton-secundario-hover-color: var(--neutro-oscuro-1);
	--boton-secundario-hover-sombra: #ffffff33;  
	--boton-secundario-focus-fondo: transparent;
	--boton-secundario-focus-borde: var(--neutro-oscuro-1);
	--boton-secundario-focus-color: var(--neutro-oscuro-1);
	--boton-secundario-deshabilitado-fondo: transparent;

	// Boton terciario
	--boton-terciario-color: var(--neutro-oscuro-1);
	--boton-terciario-hover-color: var(--neutro-oscuro-1);
	--boton-terciario-hover-sombra: #ffffff33; 
	// --boton-terciario-focus-borde: #fff;
	--boton-terciario-focus-color: var(--neutro-oscuro-1);

	// Boton conacyt
	--boton-conacyt-fondo: var(--neutro-oscuro-4);
	.boton-conacyt {
		img {
	  	filter: brightness(0) invert(1);
		}
	}

	// Iconos
	.boton-primario {
		span[class*="icono-"] {
		  color: var(--pagina-fondo);
		}
	}
	.boton-secundario, .boton-terciario {
		span[class*="icono-"] {
		  color: var(--neutro-oscuro-1);
		}
	}
	.input-correcto {
		span[class*="icono-"] {
		  color: var(--acciones-correcto);
		}
	}
	.input-error {
		span[class*="icono-"] {
		  color: var(--acciones-error);
		}
	}
	span[class*="icono-"] {
    color: var(--neutro-oscuro-1);
  }

	// Elementos de formularios
  --label-color: var(--neutro-oscuro-1);
	--input-color: var(--neutro-oscuro-1);
	--input-controles-color: var(--neutro-oscuro-1);
	--tabla-fondo-impar: var(--neutro-oscuro-4);
	--tabla-fondo-notas: var(--neutro-oscuro-2);
	--borde-color-2: var(--neutro-oscuro-2);
	--input-borde: var(--neutro-oscuro-2);
  #input-readonly {
		--input-color: var(--neutro-oscuro-2);
	}

	// Tarjetas
	--tarjetas-fondo: var(--neutro-oscuro-4);
	--tarjetas-color: var(--neutro-oscuro-1);
	--tarjetas-externas-color: var(--neutro-oscuro-1);
	--tarjetas-externas-fondo-gradiente: linear-gradient(to top, #262626f7,#262626f7 10%, #ffffff00 100%);
	--tarjetas-internas-color: var(--neutro-oscuro-1);
	--tarjetas-internas-fondo: var(--neutro-oscuro-4);
	--tarjetas-interna-fondo-hover: var(--neutro-oscuro-3);

	// Portada
	--portada-color: var(--pagina-fondo);
	--portada-fondo-grandiente: linear-gradient(transparent, #fffffff7);

	// Navegacion
	--navegacion-conacyt-fondo: #001F69;
  --navgeacion-conacyt-sombra: #fff2;
	--navegacion-conacyt-color: var(--neutro-oscuro-1);
	--navegacion-conacyt-fondo-icono: var(--neutro-oscuro-1);
  .nav-hiperviculo-logo {
		img {
		  filter: brightness(0) invert(1);
		}
	}
  .nav-hipervinculo {
    .icono-buscar {
      color: map-get($color-gobmx, 'claro-1');
      &:active,
      &:hover,
      &:focus {
        background: transparent;
        box-shadow: none;
        color: map-get($color-gobmx, 'claro-2');
      }
    }
  }

  // Listas
  .lista-logo {
    .logo {
      &.invertir {
        filter: brightness(0) invert(1);
      }
    }
  }

  // Imágenes
  picture, img {
		filter: brightness(.8) contrast(1.2);
	}

  .conacyt-fondo-claro-1 {
    background-color: var(--neutro-oscuro-3);
  }
}
:root[data-dark-theme-conacyt='true'] {
  // Agregar variables para vista oscura
  --conacyt-oscuro-1: #ffffff;
  --conacyt-oscuro-2: #6f6f6f;
  --conacyt-oscuro-3: #393939;
  --conacyt-oscuro-4: #0A2250;
  --conacyt-oscuro-fondo: #091832;
  --conacyt-oscuro-hover: #b9b9b9;
	
  // Modificar propiedades de atributos generales
	--pagina-fondo: var(--conacyt-oscuro-fondo);
  --tipografia-color: var(--conacyt-oscuro-1);

	--tipografia-color-2: var(--conacyt-oscuro-2);
	--tipografia-color-3: var(--conacyt-oscuro-3);

	--borde-color-1: var(--conacyt-oscuro-1);

	--sombra: #ffffff1a;
	--sombra-hover: #ffffff33;

	--detalle-fondo: var(--conacyt-oscuro-4);
	// // --hipervinculo-color: #005DFF;
	// // font-weight: 400 - 350;
	// // line-height: calc(1em * 1.5);

	// Boton primario
	--boton-primario-fondo: var(--conacyt-oscuro-1);
	--boton-primario-color: var(--pagina-fondo);
  --boton-primario-hover-fondo: var(--conacyt-oscuro-hover);
	--boton-primario-hover-color: var(--pagina-fondo);
	--boton-primario-focus-fondo: var(--conacyt-oscuro-1);
	--boton-primario-focus-color: var(--pagina-fondo);

	// Boton secundario
	--boton-secundario-fondo: transparent;
	--boton-secundario-borde: var(--conacyt-oscuro-1);
	--boton-secundario-color: var(--conacyt-oscuro-1);
  --boton-secundario-hover-fondo: transparent;
	--boton-secundario-hover-borde: var(--conacyt-oscuro-1);
	--boton-secundario-hover-color: var(--conacyt-oscuro-1);
	--boton-secundario-hover-sombra: #ffffff33;
	--boton-secundario-focus-fondo: transparent;
	--boton-secundario-focus-borde: var(--conacyt-oscuro-1);
	--boton-secundario-focus-color: var(--conacyt-oscuro-1);
	--boton-secundario-deshabilitado-fondo: transparent;

	// Boton terciario
	--boton-terciario-color: var(--conacyt-oscuro-1);
	--boton-terciario-hover-color: var(--conacyt-oscuro-1);
	--boton-terciario-hover-sombra: #ffffff33;
	// --boton-terciario-focus-borde: #fff;
	--boton-terciario-focus-color: var(--conacyt-oscuro-1);

	// Boton conacyt
	--boton-conacyt-fondo: var(--conacyt-oscuro-4);
	.boton-conacyt {
		img {
	  	filter: brightness(0) invert(1);
		}
	}

	// Iconos
	.boton-primario {
		span[class*="icono-"] {
		  color: var(--pagina-fondo);
		}
	}
	.boton-secundario, .boton-terciario {
		span[class*="icono-"] {
		  color: var(--conacyt-oscuro-1);
		}
	}
	.input-correcto {
		span[class*="icono-"] {
		  color: var(--acciones-correcto);
		}
	}
	.input-error {
		span[class*="icono-"] {
		  color: var(--acciones-error);
		}
	}
	span[class*="icono-"] {
    color: var(--conacyt-oscuro-1);
  }

	// Elementos de formularios
  --label-color: var(--conacyt-oscuro-1);
	--input-color: var(--conacyt-oscuro-1);
	--input-controles-color: var(--conacyt-oscuro-1);
	--tabla-fondo-impar: var(--conacyt-oscuro-4);
	--tabla-fondo-notas: var(--conacyt-oscuro-2);
	--borde-color-2: var(--conacyt-oscuro-2);
	--input-borde: var(--conacyt-oscuro-2);
  #input-readonly {
		--input-color: var(--conacyt-oscuro-2);
	}

	// Tarjetas
	--tarjetas-fondo: var(--conacyt-oscuro-4);
	--tarjetas-color: var(--conacyt-oscuro-1);
	--tarjetas-externas-color: var(--conacyt-oscuro-1);
	--tarjetas-externas-fondo-gradiente: linear-gradient(to top, #0A2250f7,#0A2250f7 10%, #ffffff00 100%);
	--tarjetas-internas-color: var(--conacyt-oscuro-1);
	--tarjetas-internas-fondo: var(--conacyt-oscuro-4);
	--tarjetas-interna-fondo-hover: var(--conacyt-oscuro-3);

	// Portada
	--portada-color: var(--pagina-fondo);
	--portada-fondo-grandiente: linear-gradient(transparent, #fffffff7);

	// Navegacion
	--navegacion-conacyt-fondo: #001F69;
  --navgeacion-conacyt-sombra: #fff2;
	--navegacion-conacyt-color: var(--conacyt-oscuro-1);
	--navegacion-conacyt-fondo-icono: var(--conacyt-oscuro-1);
  .nav-hiperviculo-logo {
		img {
		  filter: brightness(0) invert(1);
		}
	}
  .nav-hipervinculo {
    .icono-buscar {
      color: map-get($color-gobmx, 'claro-1');
      &:active,
      &:hover,
      &:focus {
        background: transparent;
        box-shadow: none;
        color: map-get($color-gobmx, 'claro-2');
      }
    }
  }

  // Listas
  .lista-logo {
    .logo {
      &.invertir {
        filter: brightness(0) invert(1);
      }
    }
  }

  // Imágenes
  picture, img {
		filter: brightness(.8) contrast(1.2);
	}

  .conacyt-fondo-claro-1 {
    background-color: var(--conacyt-oscuro-3);
  }
}

:root[data-dark-theme-gema='true'] {
  // Agregar variables para vista oscura
  --gema-oscuro-1: #ffffff;
  --gema-oscuro-2: #ffd7c2;
  --gema-oscuro-3: #ffbd99;
  --gema-oscuro-4: #F65600;
  --gema-oscuro-5: #521D00;
  --gema-oscuro-6: #290E00;
  --gema-oscuro-fondo: #140907;

  // Modificar propiedades de atributos generales
  --pagina-fondo: #140907;
  --tipografia-color: #fff;

  --encabezado-background: #521D00;
  --input-controles-color: #fff;

  .panel-izquierdo {
    background: #140907;
    .buscador {
      background: #140907;
      .contenedor-titulo {
        background-color: #F65600;
        span {
          color: #140907;
        }
        .circulo {
          background-color: #521D00;
          color: #fff;
        }
        span[class*="icono-"], button[class*="icono-"] {
          color: #140907;
        }
      }
      .ventana-instruccional-izquierda {
        background: #140907;
        .top-instruccional {
          span[class*="icono-"] {
            color: #F65600;
            &:hover {
              color: #ffbd99;
            }
          }
        }
        .contenido-instruccional {
          .contenedor-instruccional {
            .grupo-instruccional {
              span[class*="icono-"] {
                background: #F65600;
                color: #140907;
              }
            }
          }
        }
      }
      .buscador-capa {
        span[class*="icono-"] {
          color: #ffd7c2;
        }
        .buscador-input {
          background: #290E00;
          border: 1px solid #F65600;
          color: #fff;
        }
      }
    }
    .grupo-capas {
      .grupo {
        border-bottom: 4px solid #140907;
        .encabezado-grupo {
          border-bottom: 4px solid #140907;
          .contador-capas {
            .contador {
              .circulo {
                background: #F65600;
                color: #140907;
              }
              .titulo-conteo {
                color: #fff;
              }
            }
          }
        }
        .capas {
          .elemento-capa {
            border-bottom: 4px solid #140907;
            span[class*="icono-"] {
              background: #140907;
              color: #F65600;
              &:hover {
                color: #ffbd99;
              }
            }
            .check-contenedor {
              background: #140907;
              span[class*="icono-"] {
                color: #F65600;
                &:hover {
                  color: #ffbd99;
                }
              }
            }
          }
        }
      }
    }
  }
  
  .panel-derecho {
    background: #140907;
    .encabezado {
      background: #F65600;
      .capas-seleccionadas {
        span {
          color: #140907;
        }
        .circulo {
          background-color: #521D00;
          color: #fff;
        }
      }
      button[class*="icono-"] {
        background: #F65600;
        color: #140907;
      }
      span[class*="icono-"] {
        color: #140907;
      }
    }
    .lista-capas {
      .lista-capas-item {
        border-bottom: 4px solid #140907;
        .cabeza {
          background: #140907;
          .capa-titulo {
            .cuadro {
              background: #140907;
              span[class*="icono-"] {
                color: #F65600;
                &:hover {
                  color: #ffbd99;
                }
              }
            }
          }
          .item-iconos {
            span[class*="icono-"] {
              color: #F65600;
              &:hover {
                color: #ffbd99;
              }
            }
          }
        }
        .ventana-editar {
          background: #140907;
          .top-editar {
            span[class*="icono-"] {
              color: #F65600;
              &:hover {
                color: #ffbd99;
              }
            }
          }
          .contenido-editar {
            .control-opacidad {
              .range-group {
                [type=range]::-moz-range-track, [type=range]::-moz-range-thumb {
                  background: #F65600;
                }
                .label-container {
                  background: #F65600;
                  .label-slider {
                    color: #140907;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Formularios
  [type=range]::-moz-range-track, [type=range]::-moz-range-thumb {
    background: #F65600;
  }
  input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=button]):not([type=submit]):not([type=reset]),
  textarea,
  select {
    background: #290E00;
    border: 1px solid #F65600;
    color: #fff;
  }
  --input-color: #fff;
  // Iconos
  // span[class*="icono-"] {
  //   color: #F65600;
  // }
  // Navegacion
  .nav-hipervinculo {
    .icono-buscar {
      color: map-get($color-gobmx, 'claro-1');
      &:active,
      &:hover,
      &:focus {
        background: transparent;
        box-shadow: none;
        color: map-get($color-gobmx, 'claro-2');
      }
    }
  }
}

.a11y-oscura {
  // ejemplo
	.fondo-imagen {
		filter: brightness(.8) contrast(1.2);
	}
}
