.a11y-simplificada {
  .a11y-simplificada-contenedor {
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 0;

    @each $dispositivo,
    $map in $a11y-simplificada-contenedores {
      @include mediaquery($dispositivo) {

        >[class^='columna-'],
        >[class*=" columna-"] {
          display: block;
          max-width: map-get($contenedores, $dispositivo, 'ancho-lectura');
          padding: map-get($map, 'margen-interior');
          margin: map-get($map, 'margen-interior') auto;
        }
      }
    }
  }

  button:not(.hipervinculo-gobmx):not(.hipervinculo-conahcyt):not(.nav-boton):not(.nav-boton-menu):not(.nav-boton-submenu):not(.icono-boton-accesibilidad):not(.opcion-accesibilidad),
  input[type=button],
  input[type=submit],
  input[type=reset],
  [class^='boton'],
  [class*=" boton"] {
    @extend .hipervinculo;
    background-color: transparent !important;
    &:not(:last-child) {
      margin-right: map-get($espaciado, '1');
    }
  }

  ul,
  ol,
  .lista-avatar,
  .lista-logo {

    .avatar,
    .logo {
      display: none;
    }
  }

  img:not(.nav-logo),
  svg:not(.nav-logo),
  picture, 
  video.portada {
    display: none!important;
  }

  .contenedor-portada {
    height: auto;
    .degradado-negro-abajo {
      background: transparent;
      .contenido-abajo {
        margin-top: 0px;
        * {
          color: var(--tipografia-color);
        }
      }
      .contenido-texto-degradado {
        color: var(--hipervinculo-color) !important;
      }
    }
  }

  .contenedor-colapsable {
    .colapsable-boton {
      display: flex !important;
      padding: 8px 40px !important;
      color: var(--menu-lateral-color) !important;
      align-items: center !important;
      .nav-boton-submenu {
        display: none !important;
      }
    }
  }

  .tarjeta {
    .contenido-html {
      background: var(--tarjetas-contenido-simplificada-fondo);
      color: var(--tarjetas--contenido-simplificada-color);
      .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
				color: var(--tarjetas--contenido-simplificada-color);
			}
      a, button {
        text-decoration: none !important;
      }
    }
    &-horizontal {
      .contenido-html {
        background: var(--tarjetas-contenido-simplificada-fondo);
        color: var(--tarjetas--contenido-simplificada-color);
        .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
          color: var(--tarjetas--contenido-simplificada-color);
        }
        a, button {
          text-decoration: none !important;
        }
      } 
    }
  }

  a.tarjeta-hipervinculo-externo {
    min-height: 0px;
    background-color: var(--tarjetas-simplificada-fondo);
    color: var(--tarjetas-simplificada-color);
    border: 1px solid var(--tarjetas-simplificada-borde);
    text-decoration: none;
    .degradado-negro-abajo {
      background: none;
      margin: 0;
    }
    .contenido-abajo {
      color: var(--tarjetas-simplificada-color);
      .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
        color: var(--tarjetas-simplificada-color);
      }
    }

    &:hover {
      background: var(--tarjetas-simplificada-fondo-hover);
      border: 1px solid var(--tarjetas-simplificada-borde-hover);
      // text-decoration: underline;
      .contenido-abajo, .contenido-abajo > .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
        color: var(--tarjetas-simplificada-color-hover);
      }
    }
    &:focus {
      background: var(--tarjeta-simplificada-fondo-focus);
      border: 1px solid var(--tarjeta-simplificada-borde-focus);
      box-shadow: 0 0 8px var(--tarjeta-simplificada-sombra-focus);
      outline: 1px solid var(--tarjeta-simplificada-contorno-focus);

      .contenido-abajo, .contenido-abajo > .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
        color: var(--tarjeta-simplificada-color-focus);
      }
    }

  }

  a.tarjeta-hipervinculo-interno {
    border: 1px solid var(--tarjetas-simplificada-borde);
    .contenido-abajo {
      background-color: var(--tarjetas-simplificada-fondo);
      color: var(--tarjetas-simplificada-color);
      .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
        color: var(--tarjetas-simplificada-color);
      }
    }

    &:hover {
      border: 1px solid var(--tarjetas-simplificada-borde-hover);
      .contenido-abajo {
        background: var(--tarjetas-simplificada-fondo-hover);
        color: var(--tarjetas-simplificada-color-hover);
        .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
          color: var(--tarjetas-simplificada-color-hover);
        }
      }
    }

    &:focus {
      border: 1px solid var(--tarjeta-simplificada-borde-focus);
      outline: 1px solid var(--tarjeta-simplificada-contorno-focus);
      box-shadow: 0 0 8px var(--tarjeta-simplificada-sombra-focus);

      .contenido-abajo {
        background: var(--tarjeta-simplificada-fondo-focus);
        color: var(--tarjeta-simplificada-color-focus);

        .parrafo-texto-alto, 
      .subtitulo-capitulo, 
      .titulo-pagina, 
      .titulo-capitulo {
          color: var(--tarjeta-simplificada-color-focus);
        }
      }
    }
  }

  // Ruptura de retículas flex. Columnas al 100% en vista simplificada


  @each $dispositivo,
  $configuracion in $columnas {
    @include mediaquery($dispositivo) {
      .flex.flex-columnas-100-al-simplificar {
        margin-right: calc(map-get($configuracion, 'espaciado') * -.5);
        margin-left: calc(map-get($configuracion, 'espaciado') * -.5);

        >[class^='columna-'],
        >[class*=" columna-"] {
          flex-basis: calc(100% - map-get($configuracion, 'espaciado'));
          max-width: calc(100% - map-get($configuracion, 'espaciado'));
          margin-left: map-get($configuracion, 'espaciado')*.5;
          margin-right: map-get($configuracion, 'espaciado')*.5;
        }
      }

    }
  }
  .contenedor-alto-fijo{
    height: auto !important;
    border-top: 1px solid transparent;
    &:hover {
      background-color: inherit; //TODO: definir el color
    }
  }


}