// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.a11y-simplificada {
  .boton:not(.nav-boton):not(.nav-boton-menu):not(.nav-boton-submenu):not(.menu-accesibilidad-boton):not(.colapsable-boton):not(.menu-lateral-boton):not(.boton-pictograma):not(.boton-flotante),
  button:not(.nav-boton):not(.nav-boton-menu):not(.nav-boton-submenu):not(.menu-accesibilidad-boton):not(.colapsable-boton):not(.menu-lateral-boton):not(.boton-pictograma):not(.boton-flotante),
  input[type=button],
  input[type=submit],
  input[type=reset] {
    @extend .hipervinculo;
    background-color: transparent !important;
    &:not(:last-child) {
      margin-right: map-get($espaciado, '1');
    }
  }

  img:not(.nav-logo),
  svg:not(.nav-logo) {
    display: none!important;
  }

  .portada {
    height: auto;
    .portada-degradado {
      background: transparent;
      .portada-cuerpo {
        margin-top: 0px;
        > * {
          color: var(--tipografia-color); // TODO: revisar luego estas serian de titulo
        }
      }
    }
  }

  .tarjeta {
    .tarjeta-cuerpo {
      background: var(--tarjetas-contenido-simplificada-fondo);
      color: var(--tarjetas--contenido-simplificada-color);
      p,
      .tarjeta-titulo, 
      .tarjeta-etiqueta {
				color: var(--tarjetas--contenido-simplificada-color);
			}
      a, button {
        text-decoration: none !important;
      }
    }
  }

  .tarjeta-horizontal {
    @media screen and (min-width: calc(map-get($breakpoints, 'esc'))) {
      .tarjeta-cuerpo {
        padding-left: map-get($espaciado, '3');
      }
    }
  }

  .tarjeta-hipervinculo-interno,
  .tarjeta-hipervinculo-externo {
    background: var(--tarjetas-simplificada-fondo);
    border: 1px solid var(--tarjetas-simplificada-borde);
    min-height: auto;
    color: var(--tarjetas-simplificada-color);
    .tarjeta-degradado {
      background: none;
      margin: 0;
    }
    .tarjeta-cuerpo {
      color: var(--tarjetas-simplificada-color);
      > * {
        color: var(--tarjetas-simplificada-color);
      }
    }
    &:hover,
    &:focus,
    &:focus-visible {
      box-shadow: none;
      .tarjeta-cuerpo {
        background: var(--tarjetas-simplificada-fondo-hover);
        > * {
          color: var(--tarjetas-simplificada-color-hover);
        }
      }
    }
    &:focus,
    &:focus-visible {
      background: var(--tarjeta-simplificada-fondo-focus);
      box-shadow: 0 0 8px var(--tarjeta-simplificada-sombra-focus);
    }
  }

  .boton-flotante {
    position: static;
    box-shadow: none;
    .boton-flotante-alternador {
      display: none !important;
    }
    .boton-flotante-cuerpo {
      .boton-flotante-hipervinculo {
        border-radius: 0;
        opacity: 1;
        max-width: 200px;
        padding: 0 map-get($espaciado, '1');
      }
    }
  }

  .flex.flex-columnas-100-al-simplificar {
    > [class^='columna-'],
    > [class*=' columna-'] {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .a11y-simplificada-contenedor {
    @each $dispositivo, $map in $contenedores {
      @include mediaquery($dispositivo) {
        max-width: map-get($map, 'ancho-lectura');
        padding-left: map-get($map, 'margen-interior-lectura');
        padding-right: map-get($map, 'margen-interior-lectura');

        > .flex > [class^='columna-'],
        > .flex > [class*=' columna-'] {
          flex-basis: 100%;
          max-width: 100%;
        }

        > .grid > [class^='columna-'],
        > .grid > [class*=' columna-'] {
          grid-column: span map-get($columnas, $dispositivo, 'columnas');
        }
      }
    }
  }
}
