@use "sass:map";

.a11y-simplificada-mostrar-inline {
  display: none;
}

.a11y-simplificada-mostrar-bloque {
  display: none;
}

.a11y-simplificada-leer-mostrar-inline {  
  display: inline-flex;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
}

.a11y-simplificada {
  .a11y-simplificada-mostrar-inline {
    display: inline-flex;
  }

  .a11y-simplificada-mostrar-bloque {
    display: block;
  }

  .a11y-simplificada-leer-mostrar-inline {
    width: inherit;
    white-space: normal;
  }
  
  .a11y-simplificada-ocultar {
    display: none;
  }

  .a11y-simplificada-formato-hipervinculo,
  .boton:not(.nav-boton, .nav-boton-menu, .nav-boton-submenu, .menu-flotante-boton, .colapsable-boton, .menu-lateral-boton, .boton-pictograma, .boton-alternar),
  button:not(.nav-boton, .nav-boton-menu, .nav-boton-submenu, .menu-flotante-boton, .colapsable-boton, .menu-lateral-boton, .boton-pictograma, .boton-alternar) {
    @include hipervinculo-estructura-color-principal;

    background-color: transparent !important;
    box-shadow: none !important;
    
    &:not(:last-child) {
      margin-right: map.get($espaciado, '1');
    }
  }

  video,
  picture:not(.nav-logo, .a11y-simplificada-mantener-imagen),
  img:not(.nav-logo, .a11y-simplificada-mantener-imagen),
  svg:not(.nav-logo, .a11y-simplificada-mantener-imagen) {
    display: none !important;
  }

  .video {
    iframe {
      display: none;
    }
  }

  .portada {
    height: auto;
    
    .portada-imagen {
      display: none;
    }
    
    .portada-degradado {
      background: transparent;
    
      .portada-cuerpo {
        margin-top: 0;
        
        > * {
          color: var(--texto-primario);
        }
      }
    }
  }

  .tarjeta {
    .tarjeta-imagen {
      display: none;
    }
    
    .tarjeta-cuerpo {
      background: var(--tarjeta-contenido-simplificada-fondo);
      color: var(--tarjeta-contenido-simplificada-color);
    
      p,
      .tarjeta-titulo, 
      .tarjeta-etiqueta {
				color: var(--tarjeta-contenido-simplificada-color);
			}
    }
  }

  .tarjeta-horizontal {
    @media screen and (min-width: map.get($breakpoints, 'esc')) {
      .tarjeta-cuerpo {
        padding-left: map.get($espaciado, '3');
      }
    
      .tarjeta-pie {
        padding-left: map.get($espaciado, '3');
      }
    }
  }

  .tarjeta-hipervinculo-interno,
  .tarjeta-hipervinculo-externo {
    background: var(--tarjeta-simplificada-fondo);
    border: 1px solid var(--tarjeta-simplificada-borde);
    color: var(--tarjeta-simplificada-color);
    min-height: auto;
    
    .tarjeta-degradado {
      background: none;
      margin: 0;
    }
    
    .tarjeta-cuerpo {
      background: var(--tarjeta-simplificada-fondo);
      color: var(--tarjeta-simplificada-color);
    }
    
    &:hover,
    &:focus,
    &:focus-visible {
      box-shadow: none;
      background: var(--tarjeta-simplificada-cursor-fondo);
      border-color: var(--tarjeta-simplificada-cursor-borde);
    
      .tarjeta-cuerpo {
        background: var(--tarjeta-simplificada-cursor-fondo);
    
        > * {
          color: var(--tarjeta-simplificada-cursor-color);
        }
      }
    }
    
    &:focus,
    &:focus-visible {
      background: var(--tarjeta-simplificada-enfoque-fondo);
      border-color: var(--tarjeta-simplificada-enfoque-borde);
      box-shadow: 
        inset 0 0 0 1px var(--tarjeta-simplificada-enfoque-contorno),
        0 0 8px var(--tarjeta-simplificada-enfoque-sombra);
    
        .tarjeta-cuerpo {
        background: var(--tarjeta-simplificada-enfoque-fondo);
    
        > * {
          color: var(--tarjeta-simplificada-enfoque-color);
        }
      }
    }
  }

  .flex.flex-columnas-100-al-simplificar {
    > [class^='columna-'],
    > [class*=' columna-'] {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .a11y-simplificada-contenedor {
    @each $dispositivo, $map in $contenedores {
      @include mediaquery($dispositivo) {
        max-width: map.get($map, 'ancho-lectura');
        padding-left: map.get($map, 'margen-interior-lectura');
        padding-right: map.get($map, 'margen-interior-lectura');

        > .flex > [class^='columna-'],
        > .flex > [class*=' columna-'] {
          flex-basis: 100%;
          max-width: 100%;
        }

        > .grid > [class^='columna-'],
        > .grid > [class*=' columna-'] {
          grid-column: span map.get($columnas, $dispositivo, 'columnas');
        }
      }
    }
  }

  .texto-centrado {
    text-align: left;
  }
}
