// fieldset
fieldset {
  background-color: var(--input-fondo);
  border: 1px solid var(--input-borde);
  border-radius: map-get($bordes, '4'); 
  padding: map-get($espaciado, '2');
  margin-top: map-get($espaciado, '1');
  margin-bottom:  map-get($espaciado, '3');
}

// legend
legend {
  color: var(--tipografia-color);
  padding: 0 map-get($espaciado, '2');
  font-family: var(--tipografia-familia, 'sans-serif');
  font-size: 1rem;
  font-weight: 500;
}

// label
label {
  color: var(--label-color);
}

// inputs generales
input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=button]):not([type=submit]):not([type=reset]),
textarea,
select {
  background-color: var(--input-fondo);
  border: 1px solid var(--input-borde);
  border-radius: map-get($bordes, '4');
  box-sizing: border-box;
  color: var(--input-color);
  font-family: var(--tipografia-familia, 'sans-serif');
  font-size: 1rem;
  font-weight: 400;
  padding: map-get($espaciado, '1') map-get($espaciado, '2');
  margin-top: map-get($espaciado, '1');
  margin-bottom:  map-get($espaciado, '3');
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  &::placeholder {
    color: var(--tipografia-color);
  }
  &:disabled {
    background-color: var(--input-deshabilitado-fondo);
    color: var(--input-deshabilitado-color);
  }
  &:read-only:not(select):not([type=file]) {
    background-color: var(--input-deshabilitado-fondo);
  }
  &:not(:disabled) {
    transition: all .27s ease-in-out;
  }
  &:not(:disabled):hover {
    border-color: var(--input-hover);
  }
  &:not(:disabled):focus {
    border-color: var(--input-focus);
    box-shadow: 0 0 8px var(--input-focus);
    outline: none;
  }
}

// checkbox + radio
[type=checkbox],
[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  line-height: 1.25em;
  border: 0;
}
[type=checkbox] + label,
[type=radio] + label {
  line-height: 1.25em;
  background-color: var(--input-fondo);
  border: 1px solid transparent;
  border-radius: map-get($bordes, '4');
  color: var(--input-color);
  cursor: pointer;
  display: inline-flex;
  position: relative;
  margin: 0;
  padding-left: calc(1.25rem + map-get($espaciado, '1') + 4px);
  padding-right: map-get($espaciado, '1');
  padding-top: calc(map-get($espaciado, '1'));
  padding-bottom: calc(map-get($espaciado, '1'));
}
[type=checkbox]:focus + label,
[type=radio]:focus + label {
  background: var(--input-deshabilitado-fondo);
  border-color: var(--input-focus);
  box-shadow: 0 0 8px var(--input-focus);
  color: var(--input-color);
  outline: none;
}
[type=checkbox]:hover + label,
[type=radio]:hover + label
{
  background: var(--input-deshabilitado-fondo);
  color: var(--input-color);
}
[type=checkbox]:hover + label::before,
[type=radio]:hover + label::before {
  box-shadow: inset 0 0 0 1px var(--input-color);
}
[type=checkbox] + label::before,
[type=radio] + label::before {
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px var(--input-color);
  content: "";
  height: 1.125rem;
  width: 1.125rem;
  top: calc(map-get($espaciado, '1') + 1px);
  left: calc(map-get($espaciado, '1'));
  padding: calc(map-get($espaciado, 'minimo'));
  background-color: var(--input-fondo);
  position: absolute;
}
// desabilitado
[type=checkbox]:disabled + label,
[type=radio]:disabled + label,
[type=checkbox]:checked:disabled + label,
[type=radio]:checked:disabled + label {
  color: var(--input-deshabilitado-color);
  &:hover {
    background: transparent;
    cursor: default;
  }
}
[type=radio]:disabled + label::before,
[type=checkbox]:disabled + label::before,
[type=checkbox]:checked:disabled + label::before {
  box-shadow: inset 0 0 0 1px var(--input-deshabilitado-color);
}

// checkbox
[type=checkbox] + label::before {
  border-radius: 4px;
}
[type=checkbox]:checked + label::before,
[type=radio]:checked + label::before {
  box-shadow: inset 0 0 0 1px var(--input-color);
  background: transparent;
}
[type=checkbox]:checked + label::after {
  // MENCIONAR A DEV
  // que el icono lee 'j', agregar aria-hidden
  font-family: "sisdai-iconos";
  content: "\6a";
  color: var(--input-color);
  position: absolute;
  left: calc(.125rem + map-get($espaciado, '1') - 1px);
  top: calc(map-get($espaciado, '1'));
  font-weight: 800;
  text-align: center;
}
[type=checkbox]:indeterminate + label::after {
  font-family: "sisdai-iconos";
  content: "\2f";
  color: var(--input-color);
  position: absolute;
  left: calc(.125rem + map-get($espaciado, 'minimo') + 1px);
  top: calc(map-get($espaciado, '1'));
  font-weight: 800;
  font-size: 1.2rem;
}
[type=checkbox]:checked:disabled + label::after {
  color: var(--input-deshabilitado-color);
}

// radio
[type=radio] + label::before {
  border-radius: 50%;
}
[type=radio]:checked + label::before {
  background-color: var(--pagina-fondo);
  box-shadow: inset 0 0 0 .375rem var(--input-controles-color);
}
[type=radio]:checked:disabled + label::before {
  background-color: var(--pagina-fondo);
  box-shadow: inset 0 0 0 .375rem var(--input-deshabilitado-color);
}

// selector
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  // background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iY2hldnJvbi0tc29ydC0tZG93biIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgPHBhdGggaWQ9IlRyYXphZG9fMjg4ODIiIGRhdGEtbmFtZT0iVHJhemFkbyAyODg4MiIgZD0iTTE0LjI1LDI1LjksOSwyMC42NWwxLjA1LTEuMDUsNC4yLDQuMiw0LjItNC4yLDEuMDUsMS4wNVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yIC0xMC42KSIvPgogIDxyZWN0IGlkPSJfVHJhbnNwYXJlbnRfUmVjdGFuZ2xlXyIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=);
  background-position: calc(100% - 16px), 50%;
  background-size: 24px;
  background-repeat: no-repeat;
  padding-right: 32px;
  /* Assign the SVG variable */
  background-image: var(--input-select-svg);
  
}


// archivo
[type=file] {
  padding-top: calc(map-get($espaciado, 'minimo') + 2px) !important;
}

// rango
[type=range] {
  box-sizing: border-box !important;
  border: 1px solid transparent;
  width: 100%;
  margin-top: map-get($espaciado, '1');
  margin-bottom: map-get($espaciado, '3');
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}
[type=range]:focus {
  border-color: var(--input-focus);
  box-shadow: 0 0 8px var(--input-focus);
  border-radius: map-get($espaciado, 'minimo');
  outline: none;
}
[type=range]::-webkit-slider-runnable-track {
  background: var(--input-color);
  border: 0;
  border-radius: .25rem;
  width: 100%;
  height: .25rem;
  cursor: pointer;
}
[type=range]::-webkit-slider-thumb {
  margin-top: calc(.5rem * -1.25);
  width: 1.5rem;
  height: 1.5rem;
  background: var(--input-color);
  border: 0;
  border-radius: .75rem;
  cursor: pointer;
  -webkit-appearance: none;
}
[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--input-color);
}
[type=range]::-moz-range-track {
  background: var(--input-color);
  border: 0;
  border-radius: .25rem;
  width: 100%;
  height: .25rem;
  cursor: pointer;
}
[type=range]::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--input-color);
  border: 0;
  border-radius: .75rem;
  cursor: pointer;
}
[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: map-get($espaciado, '1') 0;
  color: transparent;
  width: 100%;
  height: map-get($espaciado, '1');
  cursor: pointer;
}
[type=range]::-ms-fill-lower {
  background: var(--input-color);
  border: 0;
  border-radius: 1.5rem;
}
[type=range]::-ms-fill-upper {
  background: var(--input-color);
  border: 0;
  border-radius: 1.5rem;
}
[type=range]::-ms-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: var(--input-color);
  border: 0;
  border-radius: .75rem;
  cursor: pointer;
  margin-top: 0px;
}
[type=range]:focus::-ms-fill-lower {
  background: var(--input-color);
}
[type=range]:focus::-ms-fill-upper {
  background: var(--input-color);
}

// estilos formulario
.formulario-horizontal {
  label {
    margin-right: map-get($espaciado, 'minimo');
  }
  input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=button]):not([type=submit]):not([type=reset]),
  textarea,
  select {
    width: inherit;
    &:not(:last-child) {
      margin-right: map-get($espaciado, '3');
    }
  }

  .input-error,
  .input-correcto {
    display: inline-flex;
    &:not(:last-child) {
      margin-right: map-get($espaciado, '3');
    }
  }
}
