.controlador-vis {
  --controlador-vis-control-alto: 1.125rem;
  --controlador-vis-figura-alto: 18px;
  --controlador-vis-figura-borde: 1px;
  
  min-height: var(--controlador-vis-control-alto);
  vertical-align: text-top;

  // elementos del controlador-vis que no tienen checkbox ni radio buttons
  .lectura {
    padding: calc(map-get($espaciado, '1') + 2px);
    margin: 0 0 map-get($espaciado, '1') 0;
    line-height: 1.25em;
    color: var(--input-color);
    vertical-align: text-top;
    display: inline-flex;
  }
  .anidado {
    padding-left: calc(1.25rem + map-get($espaciado, '1') + 4px);
  }

  label::before,
  label::after {
    margin-top: max(calc((var(--controlador-vis-figura-alto) - var(--controlador-vis-control-alto)) * 0.5), 0px);
  }

  .nombre-variable,
  .figura-variable {
    display: inline-flex;
  }

  .nombre-variable {
    flex: 1 1;
    margin-top: max(calc((var(--controlador-vis-figura-alto) - var(--controlador-vis-control-alto)) * 0.5), 0px);
  }
  
  .figura-variable {
    flex-shrink: 0;
    margin-right: map-get($espaciado, 'minimo');
    margin-top: max(calc((var(--controlador-vis-control-alto) - var(--controlador-vis-figura-alto)) * 0.5), 0px);
    min-width: calc(var(--controlador-vis-figura-alto));
    height: calc(var(--controlador-vis-figura-alto));
    &.muestra {
      background-color: #7e8cf5;
      border: var(--controlador-vis-figura-borde) solid var(--tipografia-color);
      border-radius: 50%;
    }
    &.pictograma,
    &[class^='pictograma-'],
    &[class*=' pictograma-'] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: calc(var(--controlador-vis-figura-alto));
      line-height: 1;
      padding: 0;
    }
  }
  
  // figura variable muestra input desabilitado
  [type=checkbox]:disabled + label .figura-variable.muestra,
  [type=radio]:disabled + label .figura-variable.muestra,
  [type=checkbox]:checked:disabled + label .figura-variable.muestra,
  [type=radio]:checked:disabled + label .figura-variable.muestra {
    background-color: var(--input-deshabilitado-fondo);
    border-color: var(--input-deshabilitado-color);
  }
}

div.controlador-vis,
.controlador-vis.en-bloque {
  label {
    display: flex;
  }
}

span.controlador-vis,
.controlador-vis.en-linea {
  display: inline-flex;
  margin-right: map-get($espaciado, '1');
  margin-bottom: map-get($espaciado, '1');
  label {
    display: inline-flex;
  }
}
