// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

[class^='vis-'],
[class*=' vis-'] {
  color: var(--tipografia-color);
  font-family: var(--tipografia-familia, 'sans-serif');
}

.vis-titulo-visualizacion {
  display: block;
  margin: 0 0 8px 0;
  font-size: 1.125rem; // 18px
  line-height: calc(1em * 1.25);
  font-weight: 600;
  @include mediaquery(esc) {
    font-size: 1.5rem; // 24px
    line-height: calc(1em * 1.25);
  }
}

.vis-fecha-actualizacion {
  display: block;
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 500;
  margin: 8px 0 16px 0;
}

.vis-instruccional {
  display: block;
  font-size: 1rem; // 16px
  line-height: 1.25em;
  font-weight: 400;
  margin: 16px 0 16px 0;
}

.vis-valores-ejes {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.2);
  font-weight: 500;
  fill: var(--tipografia-color);
}

.vis-titulo-ejes {
  font-size: 0.75rem; // 12px
  line-height: calc(1em * 1.25);
  font-weight: 600;
  fill: var(--tipografia-color);
}

.vis-titulo-leyenda {
  display: block;
  font-size: 1rem; // 16px
  line-height: calc(1em * 1.25);
  font-weight: 600;
  margin: 16px 0 8px 0;
}

.vis-nomenclatura {
  font-size: 1rem; // 16px
  line-height: calc(1em * 1.25);
  font-weight: 400;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 24px;
  .figura-variable {
    width: 1.125rem; // 18px
    height: 1.125rem; // 18px
    background-color: var(--acciones-informativo);
    border: 1px solid var(--tipografia-color);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    z-index: 1;
    transform: translateY(0.125rem);
    margin-right: 4px;
    &.disabled {
      background: var(--input-deshabilitado-fondo);
      border: 1px solid var(--input-deshabilitado-color);
      cursor: default;
    }
  }
}
