.lista-sin-estilo {
  padding-left: 0;
  list-style-type: none;
}

.lista-decimal {
  list-style-type: decimal;
}

.lista-romana {
  list-style-type: upper-roman;
}

.lista-romana-minuscula {
  list-style-type: lower-roman;
}

.lista-latina {
  list-style-type: upper-latin;
}

.lista-latina-minuscula {
  list-style-type: lower-latin;
}

