// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.boton-info {
  @extend .boton-primario;
  border-radius: 0;
  border-width: 0;
  font-size: 0.875rem; // 14px
  display: block;
  padding: map-get($espaciado, '1');
  width: 100%;
}
.boton-conahcyt {
  background-color: var(--color-conahcyt-claro-0);
  border-radius: 0 0 map-get($espaciado, '1') map-get($espaciado, '1');
  border-width: 0;
  box-shadow: 3px 3px 4px transparent;
  display: flex;
  color: #003384;
  filter: grayscale(100%);
  padding: calc(map-get($espaciado, 'minimo')) map-get($espaciado, '1');
  text-align: left;
  width: 100%;
  cursor: pointer;
  img {
    height: 28px;
    opacity: .5;
    transition: all .25s ease-in-out;
  }
  &:hover,
  &:focus {
    filter: grayscale(0%);
    img {
      opacity: 1;
    }
  }
}
