// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.boton-flotante {
  background-color: var(--boton-flotante-fondo);
  border-radius: map-get($borde-redondeado, '20');
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  
  display: inline-flex;
  position: fixed;
  bottom: map-get($espaciado, '4');
  left: map-get($espaciado, '4');
  z-index: 99;

  .boton-flotante-alternador {
    border: none;
    border-radius: map-get($borde-redondeado, '20');
    width: map-get($espaciado, '5');
    height: map-get($espaciado, '5');
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'] {
      position: absolute;
      padding: 0;
      font-size: 2rem;
      transition: all 0.4s ease-in-out;
    }
    .boton-flotante-pictograma-cerrado {
      opacity: 1;
    }
    .boton-flotante-pictograma-abierto {
      opacity: 0;
    }
    z-index: 1;
  }

  .boton-flotante-cuerpo {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    
    * {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
      margin: 0;
      padding: 0;
    }

    .boton-flotante-hipervinculo {
      background-color: var(--boton-flotante-fondo);
      color: var(--boton-flotante-color);
      font-size: 0.875rem; // 14px
      line-height: map-get($espaciado, '5');
      border-radius: 0;
      height: map-get($espaciado, '5');
      overflow: hidden;
      position: relative;

      // mostrar / ocultar
      max-width: 0;
      left: -40px;
      opacity: 0;
      padding: 0;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: var(--boton-flotante-fondo-hover);
        color: var(--boton-flotante-color-hover);
        text-decoration: none;
      }

      &:focus {
        outline: none;
        background-color: var(--boton-flotante-fondo-focus);
        color: var(--boton-flotante-color-focus);
        box-shadow: var(--boton-flotante-sombra-focus);
        z-index: 1;
      }

      &:last-child {
        border-radius: 0 map-get($borde-redondeado, '20') map-get($borde-redondeado, '20') 0;
      }
    }

    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'] {
      font-size: 1.5rem; // 24px
      padding: 0;
      margin: 0 map-get($espaciado, 'minimo') 0 0;
    }
  }
  
  &.abierto {
    .boton-flotante-alternador {
      border-radius: map-get($borde-redondeado, '20') 0 0 map-get($borde-redondeado, '20');
      .boton-flotante-pictograma-cerrado {
        opacity: 0;
      }
      .boton-flotante-pictograma-abierto {
        opacity: 1;
      }
    }
    .boton-flotante-hipervinculo {
      max-width: 200px;
      left: 0;
      opacity: 1;
      padding: 0 map-get($espaciado, '1');
      &:last-child {
        padding-right: map-get($espaciado, '2');
      }
    }
  }
}
