// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.campo-busqueda {
  display: flex;
  position: relative;

  .campo-busqueda-entrada {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: auto !important;
    padding-right: 3rem !important;
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
  .campo-busqueda-borrar {
    position: absolute;
    top: calc(map-get($espaciado, '1') * 1.5);
    right: map-get($espaciado, '8');
  }
  .campo-busqueda-buscar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: map-get($espaciado, '2');
  }
}