@use "sass:map";

.campo-busqueda {
  display: flex;
  position: relative;

  .campo-busqueda-entrada {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    height: auto !important;
    padding-right: 3rem !important;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  .campo-busqueda-borrar {
    position: absolute;
    top: calc(map.get($espaciado, '1') * 1.5);
    right: map.get($espaciado, '8');
  }

  .campo-busqueda-buscar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: map.get($espaciado, '2');
  }
}