// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.control-deslizante-contenido {
  display: flex;
  overflow: hidden;
  margin-bottom: 16px;
}

.control-deslizante-contenido-tarjeta {
  height: auto;
  flex: 1 0 calc(100%);
}

.control-deslizante-contenido-boton {
  background: transparent;
  border-radius: 0;
  position: relative;
  padding: 0;
  cursor: col-resize !important;
  width: 40px;
  z-index: 9;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: -1px;
    bottom: -1px;
    background-color: var(--boton-primario-fondo);
    box-shadow: 
      inset 0 0 0 0px var(--boton-primario-enfoque-borde), // borde
      0 0 0 0px var(--boton-primario-enfoque-contorno),
      0 0 0px var(--boton-primario-enfoque-sombra);
    width: 8px;
    left: 16px;
    transition: background-color .27s ease-in-out, box-shadow .27s ease-in-out;
  }
  &::before {
    position: absolute;
    content: '';
    display: none;
    top: 0;
    bottom: 0;
    background-color: var(--boton-primario-fondo);
    width: 6px;
    left: 17px;
    transition: background-color .27s ease-in-out;
    z-index: 3;
  }

  .pictograma,
  [class^='pictograma-'],
  [class*=' pictograma-'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; // 24px
    line-height: 1;
    padding: 0;
    height: 40px;
    width: 20px;

  }
  .control-deslizante-contenido-boton-pictogramas {
    z-index: 2;
    border-radius: 50%;
    background-color: var(--boton-primario-fondo);
    box-shadow: 
      inset 0 0 0 0px var(--boton-primario-enfoque-borde), // borde
      0 0 0 0px var(--boton-primario-enfoque-contorno),
      0 0 0px var(--boton-primario-enfoque-sombra);
    color: var(--boton-primario-color);
    transition: background-color .27s ease-in-out, color .27s ease-in-out, box-shadow .27s ease-in-out;
  }

  &:hover {
    &::after,
    &::before {
      background-color: var(--boton-primario-cursor-fondo);
    }
    .control-deslizante-contenido-boton-pictogramas {
      background-color: var(--boton-primario-cursor-fondo);
      color: var(--boton-primario-cursor-color);
    }
  }
  &:focus {
    &::after {
      background-color: var(--boton-primario-enfoque-fondo);
      box-shadow: 
        inset 0 0 0 1px var(--boton-primario-enfoque-borde), // borde
        0 0 0 1px var(--boton-primario-enfoque-contorno),
        0 0 18px var(--boton-primario-enfoque-sombra);
    }
    &::before {
      background-color: var(--boton-primario-enfoque-fondo);
    }
    .control-deslizante-contenido-boton-pictogramas {
      background-color: var(--boton-primario-enfoque-fondo);
      color: var(--boton-primario-enfoque-color);
      box-shadow: 
        inset 0 0 0 1px var(--boton-primario-enfoque-borde), // borde
        0 0 0 1px var(--boton-primario-enfoque-contorno),
        0 0 18px var(--boton-primario-enfoque-sombra);
    }
  }
}


