// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.contenedor-globo-info-ext {
  width: 322px;
  // min-height: 152px;
  max-height: 160px;
  padding: 16px;
  overflow-y: auto;

  button.boton-cerrar {
    margin-right: 0;
    
    background: transparent;
    border-color: #B1C6E4;
    color: #B1C6E4;

    &:hover {
      background: #364A69;
      border-color: #B1C6E4;
      color: #B1C6E4;
    }
    &:focus {
      background: #364A69;
      border-color: #668BFF;
      box-shadow: 0 0 8px #668BFF;
      color: #B1C6E4;
      outline-color: #668BFF;      
    }
  }
  .cuerpo-globo-info {
    font-size: 16px;
    // line-height: 1rem;
    line-height: 1.25rem;
  }
}

.contenedor-globo-info {
  min-height: 0;
  padding: 16px;
  width: auto;
  max-width: 240px;

  .cuerpo-globo-info {
    font-size: 12px;
    line-height: 0.938rem;
  }
  button.boton-cerrar {
    margin-right: 0;
    
    background: transparent!important;
    border-color: #B1C6E4;
    color: #B1C6E4;

    &:hover {
      background: #364A69;
      border-color: #B1C6E4;
      color: #B1C6E4;
    }
    &:focus {
      background: #364A69;
      border-color: #668BFF;
      box-shadow: 0 0 8px #668BFF;
      color: #B1C6E4;
      outline-color: #668BFF;      
    }
  }
}

.contenedor-globo-info-ext,
.contenedor-globo-info {
  background: #141414;
  color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: map-get($borde-redondeado, '8');

  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: flex-start;

  z-index: 9999;

  .cuerpo-globo-info {
    font-weight: 400;

    a,
    .hipervinculo {
      color: #668bff;
      &:visited {
        color: #cf99ff;
      }
      &:hover {
        color: #8999cc;
      }
      &:focus-visible {
        color: #668bff;
        outline: 2px dashed #668bff;
      }
    }

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  .punto-color{
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 1px solid var(--borde-color-4);
    display: inline-block;
  }
}

.contenedor-vis .contenido-vis {
  .contenedor-globo-info-ext,
  .contenedor-globo-info {
    background: #141414e6;
  }
}
