// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.globo-informacion {
  background-color: var(--globo-informacion-fondo);
  border-radius: map-get($borde-redondeado, '8');
  color: var(--globo-informacion-color);
  display: block;
  position: relative;
  padding: map-get($espaciado, '2');
  width: auto;
  max-width: 240px;

  gap: map-get($espaciado, '1');
  z-index: 99;

  > * {
    font-size: 0.75rem;
    line-height: 1.25em;
    margin-top: map-get($espaciado, '2');
    margin-bottom: map-get($espaciado, '2');
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  a,
  button {
    color: var(--globo-informacion-accion);
  }

  .globo-informacion-punto-color {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: 1px solid var(--borde-color-4);
    background-color: var(--globo-informacion-accion);
    display: inline-block;
  }

  &.globo-informacion-grande {
    max-height: 160px;
    max-width: 420px;
    overflow-y: auto;
    
    > * {
      font-size: 1rem;
    }
  }

  &.globo-informacion-extra {
    max-height: 160px;
    max-width: 460px;
    overflow-y: auto;
    padding-right: map-get($espaciado, '5');
    
    > * {
      font-size: 1rem;
    }

    .globo-informacion-cerrar {
      position: absolute;
      top: 0;
      right: 0;
      margin: map-get($espaciado, '1');
    }
  }
}
