// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

dl.informacion-despliegue {
  position: fixed;
  left: 0;
  // right: 0;
  border-radius: 4px;
  bottom: 0;
  z-index: 99999;
  background: #00000099;
  backdrop-filter: blur(10px);
  pointer-events: none;
  user-select: none;
  padding: 4px;
  font-size: 10px;
  line-height: 1em;
  color: #ffffff;

  dt,
  dd {
    margin: 0;
    display: inline-block;
  }

  dd:not(:last-child) {
    padding-right: 8px;
  }
}
