// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.
.menu-lateral {
  position: sticky;
  display: flex;
  z-index: 999;

  @include mediaquery('mov') {

    margin-top: map-get($espaciado, '5');
    top: 15vh;
    width: 55px;
    transition: all 0.2s linear;

    .menu-lateral-contenedor {
      border-radius: 0 map-get($borde-redondeado, '20') map-get($borde-redondeado, '20') 0;
      overflow: hidden;
      margin-left: -40px;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      width: 100%;
      max-height: 75vh;
      overflow-y: auto;
      transition: all 0.5s ease-in-out;
    }
    
    &.abierto {
      width: 80vw;
      .menu-lateral-boton {
        border-radius: map-get($borde-redondeado, '20') 0 0 map-get($borde-redondeado, '20');
      }
      .menu-lateral-contenedor {
        visibility: visible;
        margin-left: 0;
        opacity: 1;
        pointer-events: inherit;
      }
    }
  }

  @include mediaquery('esc') {
    top: map-get($espaciado, '5');
    width: 100%;

    .menu-lateral-contenedor {
      border-radius: 0;
      padding-top: map-get($espaciado, '5');
    }
  }
}


.menu-lateral-boton {
  @include mediaquery('mov') {
    background: var(--menu-lateral-fondo);
    border-radius: map-get($borde-redondeado, '20');
    margin-right: 2px;
    margin-left: map-get($espaciado, '2');
    display: flex;
    padding: 0;
    z-index: 3;
    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'] {
      align-self: flex-start;
      font-size: 1.35em;
      padding: map-get($espaciado, '1');
    }
    &:active,
    &:hover,
    &:focus {
      box-shadow: 0 0 8px var(--menu-lateral-accion-sombra-active), inset 0 0 0 1px var(--menu-lateral-accion-sombra-active);
    }
  }
  @include mediaquery('esc') {
    display: none;
  }
}

.menu-lateral-contenedor {
  background: var(--menu-lateral-fondo);
  position: relative;
  width: 100%;

  * {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul, ol {
    @extend .lista-limpia;
  }
  
  a,
  button {
    background-color: transparent;
    color: var(--menu-lateral-color);
    border-radius: 0;
    display: flex;
    width: 100%;
    padding: map-get($espaciado, '1') map-get($espaciado, '3');
    &:hover {
      background: var(--menu-lateral-accion-fondo-hover);
      color: var(--menu-lateral-hover-color);
    }
  }

  a {
    background: transparent;
    font-weight: 400;
    text-decoration: none;
    &.router-link-exact-active,
    &:active,
    &:focus,
    &.link-activo {
      background: var(--menu-lateral-accion-fondo-active);
      box-shadow: inset 8px 0 0 var(--menu-lateral-accion-sombra-active);
      color: var(--menu-lateral-accion);
    }
    &:focus-visible {
      outline: none;
    }
  }
  button {
    font-weight: 500;
    &:focus-visible {
      box-shadow: 0 0 8px var(--menu-lateral-accion-sombra-active), inset 0 0 0 1px var(--menu-lateral-accion-sombra-active);
    }
  }

  ul, ol {
    li {
      a,
      button {
        padding-left: map-get($espaciado, '3');
      }
      li {
        a,
        button {
          padding-left: map-get($espaciado, '5');
        }
        li {
          a,
          button {
            padding-left: map-get($espaciado, '7');
          }
        }
      }
    }
  } 
  
  @include mediaquery('esc') {
    ul, ol {
      li {
        a,
        button {
          padding-left: map-get($espaciado, '5');
        }
        li {
          a,
          button {
            padding-left: map-get($espaciado, '7');
          }
          li {
            a,
            button {
              padding-left: map-get($espaciado, '9');
            }
          }
        }
      }
    }
  }
}

.menu-lateral-fondo {
  position: relative;
  @include mediaquery('esc') {
    background: var(--menu-lateral-fondo);
  }
}
