// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

.menu-accesibilidad {
  position: fixed;
  z-index: 9999;
  bottom: 40px;
  right: 40px;

  &.abierto {
    .menu-accesibilidad-contenedor {
      box-shadow: var(--menu-accesibilidad-contenedor-sombra);
      padding: map-get($espaciado, '2');
      width: 260px;
      max-height: 500px;
    }
  }
}

.menu-accesibilidad-boton {
  background: var(--menu-accesibilidad-boton-fondo);
  border: 1px solid var(--menu-accesibilidad-boton-borde);
  border-radius: 50%;
  color: var(--menu-accesibilidad-boton-color);
  display: block;
  padding: 1px;
  margin: -20px;
  .pictograma,
  [class^='pictograma-'],
  [class*=' pictograma-'] {
    font-size: 2.5rem; // 40px
    padding: 0;
    margin-top: -1px;
  }
  &:hover,
  &:focus {
    color: var(--menu-accesibilidad-boton-color-hover);
  }
  &:focus {
    box-shadow: 0 0 0 1px var(--menu-accesibilidad-boton-borde), 0 0 0 2px var(--menu-accesibilidad-boton-sombra-focus), 0 0 12px var(--menu-accesibilidad-boton-sombra-focus);
  }
}

.menu-accesibilidad-contenedor {
  background-color: var(--menu-accesibilidad-contenedor-fondo);
  box-shadow: 0 0 0 transparent;
  color: var(--menu-accesibilidad-contenedor-color);
  display: block;
  margin: 0;
  padding: 0;
  width: 0;
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease-in-out;

  .menu-accesibilidad-titulo {
    font-size: 1rem; // 16px
    font-weight: 600;
    line-height: 1.25em;
    margin-top: 0;
    margin-bottom: map-get($espaciado, '1');
    padding-bottom: map-get($espaciado, '1');
    border-bottom: 1px solid currentcolor;
  }

  .menu-accesibilidad-opcion {
    label {
      display: flex;
      width: 100%;
      height: 40px;
      align-items: center;
      white-space: nowrap;
      &::before,
      &::after {
        top: auto;
      }
    }
    .pictograma,
    [class^='pictograma-'],
    [class*=' pictograma-'] {
      font-size: 1.5rem; // 24px
      padding: 0;
      margin-right: map-get($espaciado, 'minimo');
    }
  }
}
