.menu-flotante.menu-accesibilidad {
  .menu-flotante-boton {
    background-color: var(--menu-accesibilidad-boton-fondo);
    color: var(--menu-accesibilidad-boton-color);
    box-shadow: 
      inset 0 0 0 1px var(--menu-accesibilidad-boton-borde),
      0 0 0 1px var(--menu-accesibilidad-boton-contorno),
      0 0 8px var(--menu-accesibilidad-boton-sombra);

    &:not(:disabled):hover {
      background-color: var(--menu-accesibilidad-boton-cursor-fondo);
      color: var(--menu-accesibilidad-boton-cursor-color);
      box-shadow: 
        inset 0 0 0 1px var(--menu-accesibilidad-boton-cursor-borde),
        0 0 0 1px var(--menu-accesibilidad-boton-cursor-contorno),
        3px 3px 4px var(--menu-accesibilidad-boton-cursor-sombra);
    }

    &:not(:disabled):focus {
      background-color: var(--menu-accesibilidad-boton-enfoque-fondo);
      color: var(--menu-accesibilidad-boton-enfoque-color);
      box-shadow: 
        inset 0 0 0 1px var(--menu-accesibilidad-boton-enfoque-borde),
        0 0 0 1px var(--menu-accesibilidad-boton-enfoque-contorno),
        0 0 8px var(--menu-accesibilidad-boton-enfoque-sombra);
    }
  }
}