@use 'sass:map';
@use '../_variables' as variables;
@use '../_mixins' as mix;
@use '../tipografia/titulo';

dialog {
  position: absolute;
  z-index: 999999;

  &::backdrop {
    background-color: var(--opacidad-ligero);
  }

  &.modal {
    position: fixed;
    inset: 0;
    background-color: var(--fondo);
    color: var(--texto-primario);
    border-radius: map.get(variables.$borde-redondeado, '20');
    border: none;
    padding: map.get(variables.$espaciado, '3');
    margin: map.get(variables.$espaciado, '8') auto;
    width: calc(100% - map.get(variables.$espaciado, '5'));
    max-width: 462px;

    @include mix.mediaquery('esc') {
      margin: map.get(variables.$espaciado, 'maximo') auto;
    }
    
    &.modal-chico {
      max-width: 462px;
    }

    &.modal-grande {
      max-width: 1110px;
    }
   
    .modal-contenedor {
      position: relative;

      .modal-cabecera {
        margin-bottom: map.get(variables.$espaciado, '3');
      }
      
      .modal-cuerpo {
        max-height: calc(80vh - (map.get(variables.$espaciado, '8') * 2));
        overflow-y: auto;

        > :first-child {
          margin-top: 0;
        }

        > :last-child {
          margin-bottom: 0;
        }

        @include mix.mediaquery('esc') {
          max-height: calc(80vh - (map.get(variables.$espaciado, 'maximo') * 2));
        }
      }

      .modal-pie {
        display: flex;
        flex-direction: row-reverse;
        gap: map.get(variables.$espaciado, '3');
        margin-top: map.get(variables.$espaciado, '5');
      }

      .modal-titulo {
        @extend %titulo-base;

        font-size: 1.125rem;
        margin: 0;
        padding-right: map.get(variables.$espaciado, '5');
        
        @include mix.mediaquery('esc') {
          font-size: 1.5rem;
        }
      }

      .modal-cerrar {
        position: absolute;
        top: -4px;
        right: 0;

        @include mix.mediaquery('esc') {
          top: 0;
        }
      }
    }
  }
}
