// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

dialog::backdrop {
  background-color: var(--dialogo-fondo);
}

dialog {
  position: absolute;
  z-index: 999999;

  &.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: var(--pagina-fondo);
    color: var(--tipografia-color);
    border-radius: map-get($borde-redondeado, '20');
    border: none;
    padding: map-get($espaciado, '3');
    margin: map-get($espaciado, '8') auto;
    width: calc(100% - map-get($espaciado, '5'));
    max-width: 462px;

    @include mediaquery('esc') {
      margin: map-get($espaciado, 'maximo') auto;
    }
    
    &.modal-chico {
      max-width: 462px;
    }
    &.modal-grande {
      max-width: 1110px;
    }
   
    .modal-contenedor {
      position: relative;

      .modal-cabecera {
        margin-bottom: map-get($espaciado, '3');
      }
      
      .modal-cuerpo {
        > :first-child {
          margin-top: 0;
        }
        > :last-child {
          margin-bottom: 0;
        }
        max-height: calc(80vh - (map-get($espaciado, '8')*2));
        overflow-y: auto;
        @include mediaquery('esc') {
          max-height: calc(80vh - (map-get($espaciado, 'maximo')*2));
        }
      }

      .modal-pie {
        display: flex;
        flex-direction: row-reverse;
        gap: map-get($espaciado, '3');
        margin-top: map-get($espaciado, '5');
      }

      .modal-titulo {
        @extend .titulo-base;
        font-size: 1.125rem; //18px
        margin: 0;
        padding-right: map-get($espaciado, '5'); //para dejarle espacio al boton cerrar
        @include mediaquery('esc') {
          font-size: 1.5rem; // 24px
        }
      }

      .modal-cerrar {
        position: absolute;
        top: -4px;
        right: 0;
        color: var(--tipografia-color);
        @include mediaquery('esc') {
          top: 0;
        }
      }
    }
  }
}

body.overflow-hidden {
  overflow: hidden;
}
