.navegacion-gobmx {
  background-color: var(--color-mx-2);
  box-shadow: none;

  .nav-menu-contenedor {
    background-color: var(--color-mx-2);
    border-top: 1px solid var(--color-mx-1);
  }

  .nav-hipervinculo {
    background: transparent;
    box-shadow: none;
    color: var(--color-mx-0);

    &:visited {
      color: var(--color-mx-0);
    }

    &:active,
    &:hover,
    &:focus {
      background: transparent;
      box-shadow: none;
      color: var(--color-mx-0);
      text-decoration: underline;
    }
    &:focus,
    &:focus-visible {
      outline: none;
      background: transparent;
      box-shadow: 
        inset 0 0 0 1px var(--navegacion-primaria-enfoque-borde), 
        0 0 8px var(--navegacion-primaria-enfoque-sombra);
    }
  }

  .nav-boton-menu {
    background-color: transparent;
    color: var(--color-mx-0);

    &:not(:disabled):hover {
      background-color: transparent;
      color: var(--color-mx-1);
    }

    &:not(:disabled):focus {
      background-color: transparent;
      color: var(--color-mx-0);
    }
  }

  &.navegacion-extendida {
    .nav-menu-contenedor {
      border-top: none;
    }
  }
}
