// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

#app {
  overflow: clip;
}

.navegacion {
  background-color: var(--navegacion-fondo);
  box-shadow: var(--navegacion-sombra);
  display: block;
  position: relative;
  z-index: 9999;
  padding-left: map-get($contenedores, 'mov', 'margen-interior');
  padding-right: map-get($contenedores, 'mov', 'margen-interior');
  &.navegacion-pegada {
    position: sticky;
    top: 0;
  }
}
.navegacion + .navegacion {
  z-index: 9998;
}
.navegacion + .navegacion + .navegacion {
  z-index: 9997;
}
.nav-contenedor-identidad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .nav-informacion {
    background: var(--submenu-lateral-fondo-colapsable);
    color: var(--menu-lateral-color);
    font-size: 0.75rem;
    padding: map-get($espaciado, 'minimo') map-get($contenedores, 'mov', 'margen-interior');
    margin-left: calc(map-get($contenedores, 'mov', 'margen-interior') * -1);
    margin-right: calc(map-get($contenedores, 'mov', 'margen-interior') * -1);
    flex: 1 0 calc(100% - map-get($contenedores, 'mov', 'margen-interior') * 2);
  }
}
.nav-menu-contedor {
  background-color: var(--navegacion-fondo);
  box-shadow: var(--navegacion-sombra);
  border-radius: var(--navegacion-redondeado);
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 320px;
  position: absolute;
  top: 46px;
  right: -320px;
  transition: right 0.3s ease-in-out;
  &.abierto {
    right: 0;
    &.submenu-abierto {
      right: -320px;
    }
  }
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}
.nav-submenu {
  background-color: var(--navegacion-fondo);
  border-radius: var(--navegacion-redondeado);
  box-shadow: var(--navegacion-sombra);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -320px;
  transition: right 0.3s ease-in-out;
  &.abierto {
    right: 320px;
  }
}

@include mediaquery('nav') {
  .navegacion:not(.navegacion-movil-forzada) {
    display: flex;
    align-items: center;
    padding-left: map-get($contenedores, 'esc', 'margen-interior');
    padding-right: map-get($contenedores, 'esc', 'margen-interior');
   
    .nav-contenedor-identidad {
      display: flex;
      align-items: center;
      .nav-boton-menu,
      .nav-informacion {
        display: none;
      }
    }
    .nav-menu-contedor {
      background-color: transparent;
      box-shadow: none;
      border-radius: none;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      overflow: visible;
      width: 100%;
      max-width: inherit;
      right: 0;
      top: 0;
      .nav-menu-complementario {
        padding-left: 16px;
      }
      .nav-menu-principal {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
      &.abierto.submenu-abierto {
        right: 0;
      }
    }
    .nav-menu {
      display: flex;
      align-items: center;
      li {
        position: relative;
        &.nav-contenedor-submenu {
          &:hover,
          &:focus,
          &:focus-within {
            > .nav-submenu {
              opacity: 1;
              pointer-events: inherit;
            }
          }
        }
      }
    }
    .nav-submenu {
      overflow: clip;
      opacity: 0;
      pointer-events: none;
      top: inherit;
      left: inherit;
      right: 0;
      width: inherit;
      .nav-hipervinculo {
        display: block;
      }
      &.abierto {
        right: 0;
      }
    }
  }
  
  .navegacion.navegacion-movil-forzada {
    padding-left: map-get($contenedores, 'esc', 'margen-interior');
    padding-right: map-get($contenedores, 'esc', 'margen-interior');
    
    .nav-informacion {
      padding: map-get($espaciado, 'minimo') map-get($contenedores, 'esc', 'margen-interior');
      margin-left: calc(map-get($contenedores, 'esc', 'margen-interior') * -1);
      margin-right: calc(map-get($contenedores, 'esc', 'margen-interior') * -1);
      flex: 1 0 calc(100% - map-get($contenedores, 'mov', 'margen-interior') * 2);
    }
  }
}
