@use "sass:map";

footer,
.piepagina-gobmx,
.piepagina-conahcyt {
  font-size: 0.875rem;
  padding-top: map.get($espaciado, '4');
  padding-bottom: map.get($espaciado, '4');

  p {
    margin: map.get($espaciado, '2') 0;
  }

  a {
    display: inline-block;
    line-height: max(24px, 1.5em);
    text-underline-offset: 4px;
    &:hover,
    &:focus,
    &:focus-visible {
      text-decoration: underline;
    }
  }

  li {
    margin: 0;
  }
  
  ul, 
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.piepagina-titulo {
  @extend %titulo-base;

  font-size: 1.125rem;
}

.piepagina-social {
  display: flex;
  font-size: 1.5rem;
  padding: 0;
  gap: map.get($espaciado, '3');

  li {
    margin: 0;
    display: inline-flex;
  }
}

.piepagina-gobmx {
  background-color: var(--color-mx-2);
  background-image: url('https://cdn.conahcyt.mx/sisdai-archivos/gobmxpleca-2024.svg');
  background-position: 0 calc(100% + 34px);
  background-repeat: repeat-x;
  background-size: auto 80px;
  color: var(--color-mx-0);
  padding-bottom: map.get($espaciado, '10');
  
  .hipervinculo-gobmx {
    color: var(--color-mx-0);
    
    &:visited {
      color: var(--color-mx-0);
    }
    
    &:hover,
    &:focus,
    &:focus-visible {
      color: var(--color-mx-0);
    }
  }
}

.piepagina-conahcyt {
  background: var(--color-conahcyt-degradado);
  color: var(--color-conahcyt-0);

  .hipervinculo-conahcyt {
    color: var(--color-conahcyt-0);

    &:visited {
      color: var(--color-conahcyt-0);
    }
    
    &:hover,
    &:focus,
    &:focus-visible {
      color: var(--color-conahcyt-0);
    }
  }
}
