// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

html {
  font-size: var(--tipografia-tamanio);
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--pagina-fondo);
  color: var(--tipografia-color);
  font-family: var(--tipografia-familia, sans-serif);
  font-size: var(--tipografia-tamanio);
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

body * {
  font-family: var(--tipografia-familia, sans-serif);
  box-sizing: border-box;
}

main {
  display: block;
  min-height: calc(100vh - 150px);
}

iframe {
  border: none;
  display: block;
}

progress {
  vertical-align: baseline;
}

hr {
  box-sizing: content-box;
  height: 0;
}

abbr {
  border: none;
  cursor: help;
  text-decoration: underline dotted;
}

ins {
  border: none;
  text-decoration: underline dashed;
}

b,
strong {
  font-weight: 500;
}

small {
  font-size: 0.875em;
}

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}

img {
  border: none;
}

code, 
samp,
pre,
var,
kbd {
  font-family: var(--tipografia-codigo, monospace);
  font-weight: 400;
  font-size: 1em;
  color: var(--tipografia-color-3);
}

kbd {
  background-color: var(--nota-fondo);
  border-radius: 4px;
}
