// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

// COLOR
// $color-gobmx: (
//   'oscuro-1': #18302D,
//   'oscuro-2': #1F5D50,
//   'claro-0': #FFFFFF,
//   'claro-1': #DFC9A1,
//   'claro-2': #BD9558,
//   'acento': #9E2148,
// );

// $color-conahcyt: (
//   'oscuro-1': #002663,
//   'oscuro-2': #003384,
//   'claro-0': #F5F5F5,
//   'claro-1': #DDDDDD,
//   'claro-2': #AAAAAA,
//   'acento': #13aff0,
// );
// $color-conahcyt-degradado: linear-gradient(to bottom, #003384, #002663, #001c4a);

// // TODO: investigar si necesitamos este arreglo
// // si las variables ya existen en CSS
// // se pueden utilizar directo mas facil
// $acciones: (
//   'informativo': var(--acciones-informativo),
//   'informativo-2': var(--acciones-informativo-2),
//   'error': var(--acciones-error),
//   'error-2': var(--acciones-error-2),
//   'advertencia': var(--acciones-advertencia),
//   'advertencia-2': var(--acciones-advertencia-2),
//   'correcto': var(--acciones-correcto),
//   'correcto-2': var(--acciones-correcto-2),
// );

// AUX / bordes
$borde-redondeado: (
  '0': 0,
  '2': 2px,
  '4': 4px,
  '8': 8px,
  '12': 12px,
  '16': 16px,
  '20': 20px,
  '24': 24px,
);

$borde-grosor: (
  '0':  0,
  '1':  1px,
  '2':  2px,
  '3':  3px,
  '4':  4px,
);

// $borde-color: (
//   '1':  var(--borde-color-1),
//   '2':  var(--borde-color-2),
//   '3':  var(--borde-color-3),
//   '4':  var(--borde-color-4),
// );

// PICTOGRAMAS // tamaños especiales
$pictograma: (
  'chico': (
    'tamanio': 1rem,
    'espaciado': 4px,
  ),
  'mediano': (
    'tamanio': 1.5rem,
    'espaciado': 4px,
  ),
  'grande': (
    'tamanio': 2rem,
    'espaciado': 8px,
  ),
);

// AUX / tamaño tipografico
$tamanio: ( 
  '1': 0.75rem,
  '2': 0.875rem,
  '3': 1rem,
  '4': 1.125rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 2.25rem,
  '8': 3rem,
  '9': 3.5rem,
  '10': 5rem,
);

// ESPACIADO // MARGIN PADDING GAP
$espaciado: ( // x * 8
  '0': 0,
  'minimo': 4px,
  '1': 8px,
  '2': 16px,
  '3': 24px,
  '4': 32px,
  '5': 40px,
  '6': 48px,
  '7': 56px,
  '8': 64px,
  '9': 72px,
  '10': 80px,
  'extra': 96px,
  'maximo': 120px,
);

$breakpoints: (
  'mov': 320px,
  'esc': 768px,
);

$contenedores: (
  'mov': (
    'ancho-maximo': 100%,
    'ancho-lectura': 100%,
    'ancho-minimo': 100%,
    'margen-interior': map-get($espaciado, '3'),
    'margen-interior-lectura': map-get($espaciado, '3'),
  ),
  'esc': (
    'ancho-maximo': 1366px,
    'ancho-lectura': 700px,
    'ancho-minimo': 500px,
    'margen-interior': map-get($espaciado, '6'),
    'margen-interior-lectura': map-get($espaciado, '0'),
  )
);

$columnas: (
  'mov': (
    'columnas': 8,
    'espaciado': map-get($espaciado, '2'),
  ),
  'esc': (
    'columnas': 16,
    'espaciado': map-get($espaciado, '3'),
  )
);

// Variables de CSS
:root {
  // estas variables son importantes que sean en CSS
  // para que el menu de accesibilidad las pueda cambiar fácilmente
  --tipografia-familia: 'Montserrat', sans-serif;
  --tipografia-tamanio: 16px;

  // colores primitivos
  --color-primario-4: #0058cc;
  --color-primario-3: #0068FF;
  --color-primario-2: #6692FF;
  --color-primario-1: #80AAFF;
  --color-neutro-7: #000000;
  --color-neutro-6: #141414;
  --color-neutro-5: #434344;
  --color-neutro-4: #767677;
  --color-neutro-3: #AAAAAA;
  --color-neutro-2: #DDDDDD;
  --color-neutro-1: #F5F5F5;
  --color-neutro-0: #FFFFFF;
  --color-secundario-12: #102543;
  --color-secundario-11: #142A48;
  --color-secundario-10: #1B304E;
  --color-secundario-9: #2A3F5D;
  --color-secundario-8: #364A69;
  --color-secundario-7: #5E7392;
  --color-secundario-6: #889DBB;
  --color-secundario-5: #B1C6E4;
  --color-secundario-4: #CCE1FF;
  --color-secundario-3: #DBEAFF;
  --color-secundario-2: #F0F6FF;
  --color-secundario-1: #F8FBFF;
  --color-interactivo-1: #005DFF;
  --color-interactivo-2: #356CCC;
  --color-interactivo-3: #668BFF;
  --color-interactivo-4: #8999CC;
  --color-interactivo-5: #CF99FF;
  --color-interactivo-6: #9233FF;
  --color-informativo-4: #172136;
  --color-informativo-3: #19439C;
  --color-informativo-2: #66A5FE;
  --color-informativo-1: #ECF2FF;
  --color-confirmacion-4: #0D2619;
  --color-confirmacion-3: #2A6F4D;
  --color-confirmacion-2: #1BD97C;
  --color-confirmacion-1: #E7FBF1;
  --color-alerta-4: #201C11;
  --color-alerta-3: #916802;
  --color-alerta-2: #FFDC69;
  --color-alerta-1: #FFF7E3;
  --color-error-4: #341116;
  --color-error-3: #940B1C;
  --color-error-2: #FF6969;
  --color-error-1: #FCDADE;
  --color-conahcyt-4: #001C4A;
  --color-conahcyt-3: #002663;
  --color-conahcyt-2: #003384;
  --color-conahcyt-1: #13AFF0;
  --color-mx-5: #18302D;
  --color-mx-4: #1F5D50;
  --color-mx-3: #DFC9A1;
  --color-mx-2: #BD9558;
  --color-mx-1: #9E2148;

//   --pagina-fondo: #ffffff;
//   --nota-fondo: #F0F6FF;
  
//   // Tipografia
//   --tipografia-color: #141414;
//   --tipografia-color-1: #ffffff;
//   --tipografia-color-2: #0068FF;
//   --tipografia-color-3: #5E7392;

//   // Bordes
//   --borde-color-1: #141414;
//   --borde-color-2: #767677;
//   --borde-color-3: #AAAAAA;
//   --borde-color-4: #ffffff;
//   --borde-focus: #005DFF;

//   // Sombras
//   --sombra: #0000001a;
//   --sombra-focus: #005DFF;
//   --sombra-hover: #0000001a;

//   // Detalles
//   --detalle-fondo: #F0F6FF;
//   --detalle-focus-sombra: #005DFF;

//   // Boton primario
//   --boton-primario-fondo: #0068FF;
//   --boton-primario-borde: #0068FF;
//   --boton-primario-color: #ffffff;
//   --boton-primario-sombra: transparent;
//     --boton-primario-deshabilitado-fondo: #dddddd;
//     --boton-primario-deshabilitado-borde: #dddddd;
//     --boton-primario-deshabilitado-color: #767677;
//     --boton-primario-deshabilitado-sombra: transparent;
//       --boton-primario-hover-fondo: #0058CC;
//       --boton-primario-hover-borde: #0058CC;
//       --boton-primario-hover-color: #ffffff;
//       --boton-primario-hover-sombra: #0000001a;
//         --boton-primario-focus-fondo: #0058CC;
//         --boton-primario-focus-borde: #ffffff;
//         --boton-primario-focus-color: #ffffff;
//         --boton-primario-focus-sombra: #005DFF;
//         --boton-primario-focus-contorno: #005DFF;
  
//   // Boton secundario
//   --boton-secundario-fondo: transparent;
//   --boton-secundario-borde: #364A69;
//   --boton-secundario-color: #364A69;
//   --boton-secundario-sombra: transparent;
//     --boton-secundario-deshabilitado-fondo: transparent;
//     --boton-secundario-deshabilitado-borde: #dddddd;
//     --boton-secundario-deshabilitado-color: #AAAAAA;
//     --boton-secundario-deshabilitado-sombra: transparent;
//       --boton-secundario-hover-fondo: #CCE1FF;
//       --boton-secundario-hover-borde: #364A69;
//       --boton-secundario-hover-color: #364A69;
//       --boton-secundario-hover-sombra: #0000001a;
//         --boton-secundario-focus-fondo: #CCE1FF;
//         --boton-secundario-focus-borde: #005DFF;
//         --boton-secundario-focus-color: #364A69;
//         --boton-secundario-focus-sombra: #005DFF;
  
//   // Boton primario sin contenedor
//   --boton-sin-contenedor-primario-color: #0068FF; 
//     --boton-sin-contenedor-primario-deshabilitado-color: #AAAAAA; 
//       --boton-sin-contenedor-primario-hover-fondo: transparent;
//       --boton-sin-contenedor-primario-hover-color: #0058CC;
//       --boton-sin-contenedor-primario-hover-sombra: transparent;
//         --boton-sin-contenedor-primario-focus-fondo: #CCE1FF; 
//         --boton-sin-contenedor-primario-focus-borde: #005DFF;
//         --boton-sin-contenedor-primario-focus-color: #0068FF;
//         --boton-sin-contenedor-primario-focus-sombra: #005DFF;
  
//   // Boton secundario sin contenedor
//   --boton-sin-contenedor-secundario-color: #364A69; 
//     --boton-sin-contenedor-secundario-deshabilitado-color: #AAAAAA;
//       --boton-sin-contenedor-secundario-hover-fondo: #CCE1FF;
//       --boton-sin-contenedor-secundario-hover-color: #364A69;
//       --boton-sin-contenedor-secundario-hover-sombra: transparent;
//         --boton-sin-contenedor-secundario-focus-fondo: #CCE1FF;
//         --boton-sin-contenedor-secundario-focus-borde: #005DFF;
//         --boton-sin-contenedor-secundario-focus-color: #364A69;
//         --boton-sin-contenedor-secundario-focus-sombra: #005DFF;

//   // boron alternar
//   --boton-alternar-fondo: #DDDDDD;
//   --boton-alternar-color: #364A69;
//   --boton-alternar-deshabilitado-color: #767677;
//   --boton-alternar-deshabilitado-fondo: #AAAAAA;

//   // boton flotante
//   --boton-flotante-fondo: var(--fondo); // luego
//   --boton-flotante-fondo-hover: #cce1ff;
//   --boton-flotante-fondo-focus: #cce1ff;
//   --boton-flotante-color: #364a69;
//   --boton-flotante-color-hover: #364a69;
//   --boton-flotante-color-focus: #364a69;
//   --boton-flotante-sombra-focus: inset 0 0 0 1px var(--boton-secundario-focus-borde), 0 0 8px var(--boton-secundario-focus-sombra);
  
//   // Boton icono sin borde
//   --boton-icono-sin-borde-color: #0068FF;

//   // Elementos de formulario
//   --label-color: #364A69;
//   --input-fondo: var(--fondo); // yasta
//   --input-color: #141414;
//   --input-borde: #364A69;
//   --input-placeholder: #767677; // este tambien lo usa el label de checkbox y radio en el estado deshabilitado
//   --input-controles-color: #0068FF;
//     --input-deshabilitado-fondo: #DDDDDD;
//     --input-deshabilitado-borde: #AAAAAA;
//     --input-deshabilitado-color: #141414;
//     --input-hover: #F0F6FF;
//     --input-focus: #005DFF;
//     // cambiar el color en fill="%23364A69" en donde %23 equivale a # y los siguientes 6 números son el código hexadecimal de color
//     --input-select-svg: url('data:image/svg+xml,\
//       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
//         <g id="icon">\
//           <polygon fill="%23364A69" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
//         </g>\
//       </svg>');
//     --input-select-deshabilitada-svg: url('data:image/svg+xml,\
//       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\
//         <g id="icon">\
//           <polygon fill="%23767677" points="16,22 6,12 7.4,10.6 16,19.2 24.6,10.6 26,12 "/>\
//         </g>\
//       </svg>');
//     --input-confirmacion: #2A6F4D;
//     --input-error: #940B1C;

//   // Tablas
//   --tabla-fondo-impar: #F0F6FF;
//   --tabla-fondo-notas: #CCE1FF;

//   // Tarjetas
//   --tarjetas-fondo: #F5F5F5;
//   --tarjetas-color: #141414;
//   --tarjetas-externas-color: #ffffff;
//   --tarjetas-externas-fondo-gradiente: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.59) 60%, rgba(0,0,0,0) 100%);
//   --tarjetas-internas-color: #141414;
//   --tarjetas-internas-fondo: #F5F5F5;
//     --tarjetas-internas-fondo-hover: #DDDDDD;

//   --tarjetas-simplificada-fondo: #FFFFFF;
//   --tarjetas-simplificada-color: #005DFF;
//   --tarjetas-simplificada-borde: #005DFF;
//     --tarjetas-simplificada-fondo-hover: #005DFF;
//     --tarjetas-simplificadas-borde-hover: #005DFF;
//     --tarjetas-simplificada-color-hover: #FFFFFF;
//       --tarjeta-simplificada-fondo-focus: #005DFF;
//       --tarjeta-simplificada-borde-focus: #FFFFFF;
//       --tarjeta-simplificada-color-focus: #FFFFFF;
//       --tarjeta-simplificada-contorno-focus: #005DFF;
//       --tarjeta-simplificada-sombra-focus: #005DFF;
//   --tarjetas-contenido-simplificada-fondo: #F5F5F5;
//   --tarjetas--contenido-simplificada-color: #141414;

//   // Portada
//   --portada-fondo-grandiente: linear-gradient(transparent, #000000e5);
//   --portada-color: #ffffff;
  
//   // Navegacion principal
//   --navegacion-conahcyt-fondo: #ffffff;
//   --navegacion-conahcyt-sombra: #00000032;
//   --navegacion-conahcyt-color: #002663;
//   --navegacion-conahcyt-fondo-icono: #002663;
//   --navegacion-conahcyt-fondo-hover: #F5F5F5;
  
//   // Navegacion secundaria
//   --menu-lateral-color: #102543;
//   --menu-lateral-fondo: #DBEAFF;
//   --menu-lateral-accion: #0068FF;
//   --menu-lateral-hover-color: #ffffff;
//     --menu-lateral-accion-fondo-hover: #364A69;
//       --menu-lateral-accion-fondo-active: #F8FBFF;
//       --menu-lateral-accion-sombra-active: #0068FF;
//   --submenu-lateral-fondo-mov: #DBEAFF;
//   --submenu-lateral-fondo-colapsable: #CCE1FF;

//   // Acciones
//   --acciones-informativo: #19439C;
//   --acciones-informativo-2: #ECF2FF;
//   --acciones-error: #940B1C;
//   --acciones-error-2: #FEE9EC;
//   --acciones-advertencia: #916802;
//   --acciones-advertencia-2: #FFF7E3;
//   --acciones-correcto: #2A6F4D;
//   --acciones-correcto-2: #E7FBF1;

//   // Hipervinculos
//   --hipervinculo-color: #005DFF;
//   --hipervinculo-sombra: transparent;
//   --hipervinculo-deshabilitado-color: #AAAAAA;
//   --hipervinculo-deshabilitado-sombra: transparent;
//   --hipervinculo-hover-color: #356CCC;
//   --hipervinculo-hover-sombra: transparent;
//   --hipervinculo-focus-color: #005DFF;
//   --hipervinculo-focus-sombra: #005DFF;
//   --hipervinculo-visitado: #9233FF;

//   // Navegacion
//   --navegacion-fondo: #fff;
//   --navegacion-sombra: 0 1px 0 .1px #ccc, 0 4px 4px rgba(0,0,0,0.2);
//   --navegacion-redondeado: 0 0 8px 8px;
//   --navegacion-color: #364a69;
//     --navegacion-fondo-hover: #F0F6FF;
//     --navegacion-sombra-hover: 0 0 0 0 transparent;
//     --navegacion-color-hover: #364a69;
//       --navegacion-fondo-active: #fff;
//       --navegacion-sombra-active: inset 0 -4px 0 0 #0068FF;
//       --navegacion-color-active: #364a69;


//   // Color
//   @each $id, $valor in $color-gobmx {
//     --color-gobmx-#{$id}: #{$valor};
//   }

//   @each $id, $valor in $color-conahcyt {
//     --color-conahcyt-#{$id}: #{$valor};
//   }
//   --color-conahcyt-degradado: linear-gradient(to bottom, #003384, #002663, #001c4a);

//  // color globo informacion
//  --dialogo-fondo: rgba(0,0,0,0.5);
//  --globo-informacion-fondo: #141414E6;
//  --globo-informacion-color: #ffffff;
//  --globo-informacion-accion: #80AAFF;

//   // menu accesibilidad
//   --menu-accesibilidad-boton-fondo: #ffffff;
//   --menu-accesibilidad-boton-borde: #ffffff;
//   --menu-accesibilidad-boton-color: #0068FF;
//   --menu-accesibilidad-boton-color-hover: #0058CC;
//   --menu-accesibilidad-boton-sombra-focus: #005DFF;
//   --menu-accesibilidad-contenedor-fondo: #f5f5f5;
//   --menu-accesibilidad-contenedor-sombra: 0 4px 8px #00000029;
//   --menu-accesibilidad-contenedor-color: #364a69;
}
