// This file is part of sisdai-css.
//
// sisdai-css is free software: you can redistribute it and/or modify
// it under the terms of the GNU Lesser General Public License as published by the
// Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// sisdai-css is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
// Public License for more details.

// You should have received a copy of the GNU Lesser General Public License along
// with sisdai-css. If not, see <https://www.gnu.org/licenses/>.

// COLOR
$color-gobmx: (
  'oscuro-1': #18302D,
  'oscuro-2': #1F5D50,
  'claro-1': #DFC9A1,
  'claro-2': #BD9558,
  'acento': #9E2148,
);

$color-conahcyt: (
  'oscuro-1': #002663,
  'oscuro-2': #003384,
  'claro-0': #F5F5F5,
  'claro-1': #DDDDDD,
  'claro-2': #AAAAAA,
  'acento': #13aff0,
);

$color-conahcyt-degradado: linear-gradient(to bottom, #003384, #002663, #001c4a);

$acciones: (
  'informativo': var(--acciones-informativo),
  'informativo-2': var(--acciones-informativo-2),
  'error': var(--acciones-error),
  'error-2': var(--acciones-error-2),
  'advertencia': var(--acciones-advertencia),
  'advertencia-2': var(--acciones-advertencia-2),
  'correcto': var(--acciones-correcto),
  'correcto-2': var(--acciones-correcto-2),
);

$sombras-estados: (
  'focus': 0px 0px 8px 0 var(--sombra-focus),
  'hover': 4px 4px 8px 2px var(--sombra-hover)
);
$sombras-produndidad: (
  '0': 0 0 0 0 transparent,
  '1': 1px 1px 2px 0 var(--sombra),
  '2': 4px 4px 8px 2px var(--sombra),
  '3': 6px 6px 12px 3px var(--sombra),
  '4': 8px 8px 16px 4px var(--sombra),
  '5': 12px 12px 24px 6px var(--sombra),
);

$bordes: ( // x * 2
  '0': 0px,
  '1': 1px,
  '2': 2px,
  '4': 4px,
  '8': 8px,
  '16': 16px,
  '20': 20px,
);

// RETICULA
$espaciado: ( // x * 8
  '0': 0,
  'minimo': 4px,
  '1': 8px,
  '2': 16px,
  '3': 24px,
  '4': 32px,
  '5': 40px,
  '6': 48px,
  '7': 56px,
  '8': 64px,
  '9': 72px,
  '10': 80px,
  'extra': 96px,
  'maximo': 120px,
);

// TEXTOS
$tamanio: ( // x * 8
  '0': 0,
  'minimo': .25rem,
  '1': .5rem,
  '2': 1rem,
  '3': 1.5rem,
  '4': 2rem,
  '5': 2.5rem,
  '6': 3rem,
  '7': 3.5rem,
  '8': 4rem,
  '9': 4.5rem,
  '10': 5rem,
  'extra': 6rem,
  'maximo': 7.5rem
);

$breakpoints: (
  'mov': 320px,
  'esc': 768px,
);

$navegacion-breakpoint: 768px;

$contenedores: (
  'mov': (
    'ancho-maximo': 100%,
    'ancho-lectura': 100%,
    'ancho-minimo': 100%,
    'margen-interior': map-get($espaciado, '3'),
  ),
  'esc': (
    'ancho-maximo': 1366px,
    'ancho-lectura': 700px,
    'ancho-minimo': 500px,
    'margen-interior': map-get($espaciado, '6'),
  )
);

$a11y-simplificada-contenedores: (
  'mov': (
    'columnas': 1,
    'espaciado': map-get($espaciado, '2'),
  ),
  'esc': (
    'columnas': 2,
    'espaciado': map-get($espaciado, '3'),
  )
);

$columnas: (
  'mov': (
    'columnas': 8,
    'espaciado': map-get($espaciado, '2'),
  ),
  'esc': (
    'columnas': 16,
    'espaciado': map-get($espaciado, '3'),
  )
);

// Variables globales que utilizan todos los desarrollos
:root {
  --tipografia-familia: 'Montserrat', sans-serif;
  --tipografia-tamanio: 16px;

  --pagina-fondo: #ffffff;
  --nota-fondo: #F0F6FF;
  
  // Tipografia
  --tipografia-color: #141414;
  --tipografia-color-1: #ffffff;
  --tipografia-color-2: #0068FF;
  --tipografia-color-3: #5E7392;

  // Bordes
  --borde-color-1: #141414;
  --borde-color-2: #767677;
  --borde-color-3: #AAAAAA;
  --borde-color-4: #ffffff;
  --borde-focus: #005DFF;

  // Sombras
  --sombra: #0000001a;
  --sombra-focus: #005DFF;
  --sombra-hover: #0000001a;

  // Detalles
  --detalle-fondo: #F0F6FF;
  --detalle-focus-sombra: #005DFF;

  // Boton primario
  --boton-primario-fondo: #0068FF;
  --boton-primario-borde: #0068FF;
  --boton-primario-color: #ffffff;
  --boton-primario-sombra: transparent;
    --boton-primario-deshabilitado-fondo: #dddddd;
    --boton-primario-deshabilitado-borde: #dddddd;
    --boton-primario-deshabilitado-color: #767677;
    --boton-primario-deshabilitado-sombra: transparent;
      --boton-primario-hover-fondo: #0058CC;
      --boton-primario-hover-borde: #0058CC;
      --boton-primario-hover-color: #ffffff;
      --boton-primario-hover-sombra: #0000001a;
        --boton-primario-focus-fondo: #0058CC;
        --boton-primario-focus-borde: #ffffff;
        --boton-primario-focus-color: #ffffff;
        --boton-primario-focus-sombra: #005DFF;
        --boton-primario-focus-contorno: #005DFF;
  
  // Boton secundario
  --boton-secundario-fondo: transparent;
  --boton-secundario-borde: #364A69;
  --boton-secundario-color: #364A69;
  --boton-secundario-sombra: transparent;
    --boton-secundario-deshabilitado-fondo: transparent;
    --boton-secundario-deshabilitado-borde: #dddddd;
    --boton-secundario-deshabilitado-color: #AAAAAA;
    --boton-secundario-deshabilitado-sombra: transparent;
      --boton-secundario-hover-fondo: #CCE1FF;
      --boton-secundario-hover-borde: #364A69;
      --boton-secundario-hover-color: #364A69;
      --boton-secundario-hover-sombra: #0000001a;
        --boton-secundario-focus-fondo: #CCE1FF;
        --boton-secundario-focus-borde: #005DFF;
        --boton-secundario-focus-color: #364A69;
        --boton-secundario-focus-sombra: #005DFF;

  --boton-conahcyt-fondo: #DDDDDD;
  
  // Boton icono sin borde
  --boton-icono-sin-borde-color: #0068FF;

  // Elementos de formulario
  --label-color: #5E7392;
  --input-fondo: transparent;
  --input-color: #141414;
  --input-borde: #5E7392;
  --input-controles-color: #0068FF;
    --input-deshabilitado-fondo: #DDDDDD;
    --input-deshabilitado-color: #AAAAAA;
      --input-hover: #364A69;
        --input-focus: #005DFF;

  --input-select-svg: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">\
        <g fill="%23141414">\
            <path d="M14.25,25.9,9,20.65l1.05-1.05,4.2,4.2,4.2-4.2,1.05,1.05Z" transform="translate(-2 -10.6)"/>\
            <rect width="24" height="24" fill="none"/>\
        </g>\
    </svg>');

  // Tablas
  --tabla-fondo-impar: #F0F6FF;
  --tabla-fondo-notas: #CCE1FF;

  // Tarjetas
  --tarjetas-fondo: #F5F5F5;
  --tarjetas-color: #141414;
  --tarjetas-externas-color: #ffffff;
  --tarjetas-externas-fondo-gradiente: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.59) 60%, rgba(0,0,0,0) 100%);
  --tarjetas-internas-color: #141414;
  --tarjetas-internas-fondo: #F5F5F5;
    --tarjetas-interna-fondo-hover: #DDDDDD;

  --tarjetas-simplificada-fondo: #FFFFFF;
  --tarjetas-simplificada-color: #005DFF;
  --tarjetas-simplificada-borde: #005DFF;
    --tarjetas-simplificada-fondo-hover: #005DFF;
    --tarjetas-simplificadas-borde-hover: #005DFF;
    --tarjetas-simplificada-color-hover: #FFFFFF;
      --tarjeta-simplificada-fondo-focus: #005DFF;
      --tarjeta-simplificada-borde-focus: #FFFFFF;
      --tarjeta-simplificada-color-focus: #FFFFFF;
      --tarjeta-simplificada-contorno-focus: #005DFF;
      --tarjeta-simplificada-sombra-focus: #005DFF;
  --tarjetas-contenido-simplificada-fondo: #F5F5F5;
  --tarjetas--contenido-simplificada-color: #141414;

  // Portada
  --portada-fondo-grandiente: linear-gradient(transparent, #000000e5);
  
  // Navegacion principal
  --navegacion-conahcyt-fondo: #ffffff;
  --navegacion-conahcyt-sombra: #00000032;
  --navegacion-conahcyt-color: #002663;
  --navegacion-conahcyt-fondo-icono: #002663;
  --navegacion-conahcyt-fondo-hover: #F5F5F5;
  
  // Navegacion secundaria
  --menu-lateral-color: #102543;
  --menu-lateral-fondo: #DBEAFF;
  --menu-lateral-accion: #0068FF;
  --menu-lateral-hover-color: #ffffff;
    --menu-lateral-accion-fondo-hover: #364A69;
      --menu-lateral-accion-fondo-active: #F8FBFF;
      --menu-lateral-accion-sombra-active: #0068FF;
  --submenu-lateral-fondo-mov: #DBEAFF;
  --submenu-lateral-fondo-colapsable: #CCE1FF;

  // Acciones
  --acciones-informativo: #19439C;
  --acciones-informativo-2: #ECF2FF;
  --acciones-error: #940B1C;
  --acciones-error-2: #FEE9EC;
  --acciones-advertencia: #916802;
  --acciones-advertencia-2: #FFF7E3;
  --acciones-correcto: #2A6F4D;
  --acciones-correcto-2: #E7FBF1;

  // Hipervinculos
  --hipervinculo-color: #005DFF;
  --hipervinculo-sombra: transparent;
  --hipervinculo-deshabilitado-color: #AAAAAA;
  --hipervinculo-deshabilitado-sombra: transparent;
  --hipervinculo-hover-color: #356CCC;
  --hipervinculo-hover-sombra: transparent;
  --hipervinculo-focus-color: #005DFF;
  --hipervinculo-focus-sombra: #005DFF;
  --hipervinculo-visitado: #9233FF;

  // Navegacion
  --navegacion-fondo: #eef;
  --navegacion-sombra: 0 1px 0 0 #ccf, 0 8px 8px -4px rgba(,0,0,.2);
  --navegacion-redondeado: 0 0 8px 8px;
  --navegacion-color: #00f;
    --navegacion-fondo-hover: #ddf;
    --navegacion-sombra-hover: 0 1px 0 0 #ccf, 0 8px 8px -4px rgba(0,0,0,.2);
    --navegacion-color-hover: #00f;
      --navegacion-fondo-active: #00f;
      --navegacion-sombra-active: 0 0 0 0;
      --navegacion-color-active: #fff;

  // Color
  @each $id, $valor in $color-gobmx {
    --color-gobmx-#{$id}: #{$valor};
  }

  @each $id, $valor in $color-conahcyt {
    --color-conahcyt-#{$id}: #{$valor};
  }
  --color-conahcyt-degradado: linear-gradient(to bottom, #003384, #002663, #001c4a);

  // Reticula
  @each $id, $valor in $espaciado {
    --espaciado-#{$id}: #{$valor};
  }

  // Breakpoints
  @each $id, $valor in $breakpoints {
    --breakpoints-#{$id}: #{$valor};
  }
  --navegacion-breakpoint: 768px;

}
