@use 'sass:map';

$fondo-color: (
  'primario': var(--fondo),
  'neutro': var(--fondo-neutro),
  'acento': var(--fondo-acento),
  'informacion': var(--fondo-informacion),
  'confirmacion': var(--fondo-confirmacion),
  'alerta': var(--fondo-alerta),
  'error': var(--fondo-error),
);
$borde-redondeado: (
  '0': 0,
  '2': 2px,
  '4': 4px,
  '8': 8px,
  '12': 12px,
  '16': 16px,
  '20': 20px,
  '24': 24px,
);
$borde-grosor: (
  '0':  0,
  '1':  1px,
  '2':  2px,
  '3':  3px,
  '4':  4px,
);
$borde-color: (
  'primario': var(--borde),
  'neutro': var(--borde-neutro),
  'secundario': var(--borde-secundario),
  'acento': var(--borde-acento),
  'informacion': var(--borde-informacion),
  'confirmacion': var(--borde-confirmacion),
  'alerta': var(--borde-alerta),
  'error': var(--borde-error),
);
$texto-tamanio: ( 
  '1': 0.75rem,
  '2': 0.875rem,
  '3': 1rem,
  '4': 1.125rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 2.25rem,
  '8': 3rem,
  '9': 3.5rem,
  '10': 5rem,
);
$texto-color: (
  'primario': var(--texto-primario),
  'secundario': var(--texto-secundario), 
  'acento': var(--texto-acento),
  'inverso': var(--texto-inverso),
  'informacion': var(--texto-informacion),
  'confirmacion': var(--texto-confirmacion),
  'alerta': var(--texto-alerta),
  'error': var(--texto-error),
);
$pictograma-tamanio: (
  'chico': (
    'tamanio': 1rem,
    'espaciado': 4px,
  ),
  'mediano': (
    'tamanio': 1.5rem,
    'espaciado': 4px,
  ),
  'grande': (
    'tamanio': 2rem,
    'espaciado': 8px,
  ),
);
$espaciado: (
  '0': 0,
  'minimo': 4px,
  '1': 8px,
  '2': 16px,
  '3': 24px,
  '4': 32px,
  '5': 40px,
  '6': 48px,
  '7': 56px,
  '8': 64px,
  '9': 72px,
  '10': 80px,
  'extra': 96px,
  'maximo': 120px,
);
$breakpoints: (
  'mov': 320px,
  'esc': 768px,
);
$contenedores: (
  'mov': (
    'ancho-maximo': 100%,
    'ancho-lectura': 100%,
    'ancho-minimo': 100%,
    'margen-interior': map.get($espaciado, '3'),
    'margen-interior-lectura': map.get($espaciado, '3'),
  ),
  'esc': (
    'ancho-maximo': 1366px,
    'ancho-lectura': 700px,
    'ancho-minimo': 500px,
    'margen-interior': map.get($espaciado, '6'),
    'margen-interior-lectura': map.get($espaciado, '0'),
  )
);
$columnas: (
  'mov': (
    'columnas': 8,
    'espaciado': map.get($espaciado, '2'),
  ),
  'esc': (
    'columnas': 16,
    'espaciado': map.get($espaciado, '3'),
  )
);
